USE [NewsDB]
GO
/****** Object:  Table [dbo].[HistoryRokn04ArrestDastoor01_Tbl]    Script Date: 7/24/2025 2:27:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl](
	[HistoryRokn04ArrestDastoor01ID] [nvarchar](450) NOT NULL,
	[VarDate01] [nvarchar](10) NULL,
	[VarDate02] [nvarchar](10) NULL,
	[VarDate03] [nvarchar](10) NULL,
	[VarDate04] [nvarchar](10) NULL,
	[VarDate05] [nvarchar](10) NULL,
	[VarDate06] [nvarchar](10) NULL,
	[UnitID01] [int] NULL,
	[DocumentNO01] [nvarchar](max) NULL,
	[strTextContent01] [nvarchar](max) NULL,
	[Vartext01] [nvarchar](max) NULL,
	[Vartext02] [nvarchar](max) NULL,
	[Vartext03] [nvarchar](max) NULL,
	[Vartext04] [nvarchar](max) NULL,
	[Vartext05] [nvarchar](max) NULL,
	[Vartext06] [nvarchar](max) NULL,
	[Vartext07] [nvarchar](max) NULL,
	[Vartext08] [nvarchar](max) NULL,
	[Vartext09] [nvarchar](max) NULL,
	[Vartext10] [nvarchar](max) NULL,
	[Vartext11] [nvarchar](max) NULL,
	[Vartext12] [nvarchar](max) NULL,
	[Vartext13] [nvarchar](max) NULL,
	[Vartext14] [nvarchar](max) NULL,
	[Vartext15] [nvarchar](max) NULL,
	[Vartext16] [nvarchar](max) NULL,
	[Vartext17] [nvarchar](max) NULL,
	[Vartext18] [nvarchar](max) NULL,
	[Vartext19] [nvarchar](max) NULL,
	[Vartext20] [nvarchar](max) NULL,
	[MelliCode] [nvarchar](450) NULL,
	[TypeLetter01] [int] NULL,
	[UjobPesronel01] [nvarchar](450) NULL,
	[StatusConfirmation01] [int] NULL,
	[UjobPesronel02] [nvarchar](450) NULL,
	[StatusConfirmation02] [int] NULL,
	[UjobPesronel03] [nvarchar](450) NULL,
	[StatusConfirmation03] [int] NULL,
	[UjobPesronel04] [nvarchar](450) NULL,
	[StatusConfirmation04] [int] NULL,
	[UjobPesronel05] [nvarchar](450) NULL,
	[StatusConfirmation05] [int] NULL,
	[UjobPesronel06] [nvarchar](450) NULL,
	[StatusConfirmation06] [int] NULL,
	[UjobPesronel07] [nvarchar](450) NULL,
	[StatusConfirmation07] [int] NULL,
	[UjobPesronel08] [nvarchar](450) NULL,
	[StatusConfirmation08] [int] NULL,
	[UjobPesronel09] [nvarchar](450) NULL,
	[StatusConfirmation09] [int] NULL,
	[UjobPesronel10] [nvarchar](450) NULL,
	[StatusConfirmation10] [int] NULL,
	[UjobPesronel11] [nvarchar](450) NULL,
	[StatusConfirmation11] [int] NULL,
	[UjobPesronel12] [nvarchar](450) NULL,
	[StatusConfirmation12] [int] NULL,
	[StateName01] [int] NULL,
	[DateRegDastoor] [nvarchar](max) NULL,

   [TimeAddOREditYagen01] [datetime2](7) NULL,

 CONSTRAINT [PK_HistoryRokn04ArrestDastoor01_Tbl] PRIMARY KEY CLUSTERED 
(
	[HistoryRokn04ArrestDastoor01ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StateName01] FOREIGN KEY([StateName01])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StateName01]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation01] FOREIGN KEY([StatusConfirmation01])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation01]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation02] FOREIGN KEY([StatusConfirmation02])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation02]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation03] FOREIGN KEY([StatusConfirmation03])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation03]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation04] FOREIGN KEY([StatusConfirmation04])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation04]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation05] FOREIGN KEY([StatusConfirmation05])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation05]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation06] FOREIGN KEY([StatusConfirmation06])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation06]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation07] FOREIGN KEY([StatusConfirmation07])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation07]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation08] FOREIGN KEY([StatusConfirmation08])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation08]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation09] FOREIGN KEY([StatusConfirmation09])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation09]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation10] FOREIGN KEY([StatusConfirmation10])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation10]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation11] FOREIGN KEY([StatusConfirmation11])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation11]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation12] FOREIGN KEY([StatusConfirmation12])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_StatusConfirmation12]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_TypeLetter01] FOREIGN KEY([TypeLetter01])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_TypeLetter01]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_UnitID01] FOREIGN KEY([UnitID01])
REFERENCES [dbo].[CategoriesGeneral_Tbl] ([CategoryGeneralId])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_CategoriesGeneral_Tbl_UnitID01]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate01] FOREIGN KEY([VarDate01])
REFERENCES [dbo].[DateProperty01_Tbl] ([DateProperty01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate01]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate02] FOREIGN KEY([VarDate02])
REFERENCES [dbo].[DateProperty01_Tbl] ([DateProperty01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate02]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate03] FOREIGN KEY([VarDate03])
REFERENCES [dbo].[DateProperty01_Tbl] ([DateProperty01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate03]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate04] FOREIGN KEY([VarDate04])
REFERENCES [dbo].[DateProperty01_Tbl] ([DateProperty01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate04]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate05] FOREIGN KEY([VarDate05])
REFERENCES [dbo].[DateProperty01_Tbl] ([DateProperty01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate05]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate06] FOREIGN KEY([VarDate06])
REFERENCES [dbo].[DateProperty01_Tbl] ([DateProperty01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_DateProperty01_Tbl_VarDate06]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_TblMaster_MelliCode] FOREIGN KEY([MelliCode])
REFERENCES [dbo].[TblMaster] ([MelliCode])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_TblMaster_MelliCode]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel01] FOREIGN KEY([UjobPesronel01])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel01]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel02] FOREIGN KEY([UjobPesronel02])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel02]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel03] FOREIGN KEY([UjobPesronel03])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel03]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel04] FOREIGN KEY([UjobPesronel04])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel04]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel05] FOREIGN KEY([UjobPesronel05])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel05]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel06] FOREIGN KEY([UjobPesronel06])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel06]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel07] FOREIGN KEY([UjobPesronel07])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel07]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel08] FOREIGN KEY([UjobPesronel08])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel08]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel09] FOREIGN KEY([UjobPesronel09])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel09]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel10] FOREIGN KEY([UjobPesronel10])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel10]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel11] FOREIGN KEY([UjobPesronel11])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel11]
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel12] FOREIGN KEY([UjobPesronel12])
REFERENCES [dbo].[UjobPesronel01_Tbl] ([UjobPesronel01ID])
GO
ALTER TABLE [dbo].[HistoryRokn04ArrestDastoor01_Tbl] CHECK CONSTRAINT [FK_HistoryRokn04ArrestDastoor01_Tbl_UjobPesronel01_Tbl_UjobPesronel12]
GO
