








CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
    @DailyActivityEvidence01ID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
        /*
EXEC [dbo].[DailyPlanEvidence01a01] 
@WHERE = N'UnitID01 = ''24'' 
            
           AND CAST(REPLACE(Date01, ''/'', '''') AS DECIMAL(10,0))  > 14040102'


-- EXEC [dbo].[DailyPlanEvidence01a01] 
@WHERE = N'EMP_NUM = ''088058318'' 
           AND TimwStartEnd01 != ''625''  
           AND LastStatAmar00 = ''581'' 
           AND CAST(REPLACE(Date01, ''/'', '''') AS DECIMAL(10,0))  > 14031111'
--EXEC [dbo].[DailyPlanEvidence01a01] @WHERE = N'EMP_NUM = ''085623953'' AND TypeLetter01 = ''632'' ' 

--EXEC [dbo].[DailyPlanEvidence01a01] @WHERE = N'      strTextContent01 IS   NULL' 

 --SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('','ALLYagen','0cb251cd-128b-4e3e-a247-978b62332b34', '28')  AS CountView_DailyPlanEvidence01
 
 --SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('Vazifeh','ALLYagen','0cb251cd-128b-4e3e-a247-978b62332b34', '28')  AS CountView_DailyPlanEvidence01


 EXEC [dbo].[CreateUnitCountAmar01_Tbl] @DailyActivityEvidence01ID = N'0cb251cd-128b-4e3e-a247-978b62332b34'  
 
 
 EXEC [dbo].[CreateUnitCountAmar01_Tbl] @DailyActivityEvidence01ID = N'a1252735-160e-45b9-9b1f-e19b76352d66'  

 SELECT   [UnitCountAmar01ID]
      ,[DailyActivityEvidence01ID]
      ,[UitID01]
      ,[DrjDailyPLookupSubId]
      
  FROM [dbo].[UnitCountAmar01_Tbl] ORDER BY DailyActivityEvidence01ID , CONVERT(INT, [UitID01]),[DrjDailyPLookupSubId]  

  	       -- SUM(CASE WHEN v.DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
        --SUM(CASE WHEN v.DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
        --SUM(CASE WHEN v.DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
		    -- بررسی وجود DailyActivityEvidence01ID

*/


    -- بررسی وجود DailyActivityEvidence01ID
    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
    BEGIN
        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
        RETURN;
    END;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- حذف رکوردهای موجود
        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
        -- درج رکوردهای جدید برای StateName01
        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
            ([UnitCountAmar01ID],
             [DailyActivityEvidence01ID],
             [UitID01],
             [DrjDailyPLookupSubId])
        SELECT 
            NEWID(),
            @DailyActivityEvidence01ID,
            us1.StateName01,
            l.[TblLuLookupSubbId]
        FROM 
            (SELECT DISTINCT [StateName01] 
             FROM [dbo].[View_DailyActivityEvidence01_Tbl02] 
             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS us1
        CROSS JOIN 
            [dbo].[TblLuLookupSub_Tbl] AS l;
        
		        -- دریافت مقدار StateName01 برای استفاده در UitID01 = 318
        DECLARE @StateNameFor318 NVARCHAR(100);
        
        SELECT TOP 1 @StateNameFor318 = StateName01
        FROM [dbo].[View_DailyActivityEvidence01_Tbl02]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;









        -- درج رکوردهای جدید برای UnitID01
        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
            ([UnitCountAmar01ID],
             [DailyActivityEvidence01ID],
             [UitID01],
             [DrjDailyPLookupSubId])
        SELECT 
            NEWID(),
            @DailyActivityEvidence01ID,
            u.UnitID01,
            l.[TblLuLookupSubbId]
        FROM 
            (SELECT DISTINCT UnitID01 
             FROM [dbo].[View_DailyPlanEvidence01] 
             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
        CROSS JOIN 
            [dbo].[TblLuLookupSub_Tbl] AS l;
        
        -- محاسبه تمام مقادیر آماری در یک مرحله
        ;WITH AllStats AS (
            SELECT 
                UnitID01,
                DrjDailyPLookupSubId,
                -- محاسبات اصلی
                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
                -- محاسبات وضعیت‌ها
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
            FROM [dbo].[View_DailyPlanEvidence01]
            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
            AND DUS_COD01 IN ('91', '90901', '90902')
            GROUP BY UnitID01, DrjDailyPLookupSubId
        )
        -- به‌روزرسانی تمام مقادیر آماری
        UPDATE uca
        SET 
            uca.CountMojodi = ISNULL(stats.CountMojodi, 0),
            uca.CountMamorBe = ISNULL(stats.CountMamorBe, 0),
            uca.CountMamorAz = ISNULL(stats.CountMamorAz, 0),
            uca.CountEdeKol = ISNULL(stats.CountEdeKol, 0),
            uca.CountMorakhasi = ISNULL(stats.CountMorakhasi, 0),
            uca.CountMamorDoor = ISNULL(stats.CountMamorDoor, 0),
            uca.CountMamorNazdik = ISNULL(stats.CountMamorNazdik, 0),
            uca.CountEstarahatKari = ISNULL(stats.CountEstarahatKari, 0),
            uca.CountEstarahatNegahban = ISNULL(stats.CountEstarahatNegahban, 0),
            uca.CountEstarahatPezashki = ISNULL(stats.CountEstarahatPezashki, 0),
            uca.CountEzamBimarestan = ISNULL(stats.CountEzamBimarestan, 0),
            uca.CountNegahban = ISNULL(stats.CountNegahban, 0),
            uca.CountNahast = ISNULL(stats.CountNahast, 0),
            uca.CountZendan = ISNULL(stats.CountZendan, 0),
            uca.CountFarar = ISNULL(stats.CountFarar, 0),
            uca.CountEntezarKhedmat = ISNULL(stats.CountEntezarKhedmat, 0),
            uca.CountSumHazer = ISNULL(stats.CountSumHazer, 0),
            uca.CountSumMotafareghe = ISNULL(stats.CountSumMotafareghe, 0),
            uca.CountBedonkari = ISNULL(stats.CountBedonkari, 0)
        FROM [dbo].[UnitCountAmar01_Tbl] uca
        LEFT JOIN AllStats stats ON 
            stats.UnitID01 = uca.UitID01 
            AND stats.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
        -- به‌روزرسانی تعداد سازمانی با تطابق دقیق
        UPDATE uca
        SET uca.CountSazmani = ISNULL(uo.NoFolder01, 0)
        FROM [dbo].[UnitCountAmar01_Tbl] uca
        INNER JOIN [dbo].[UnitOrganization01_Tbl] uo ON 
            uo.UitID01 = uca.UitID01
            AND uo.[TblLuLookupSubbId] = uca.[DrjDailyPLookupSubId]
        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        

        -- به‌روزرسانی مقادیر تجمیعی برای UitID01 = 318 (جمع سایر رکوردها)
        ;WITH AggregatedCounts AS (
            SELECT 
                DrjDailyPLookupSubId,
                SUM(CAST(CountMojodi AS INT)) AS CountMojodi,
                SUM(CAST(CountMamorBe AS INT)) AS CountMamorBe,
                SUM(CAST(CountMamorAz AS INT)) AS CountMamorAz,
                SUM(CAST(CountEdeKol AS INT)) AS CountEdeKol,

                SUM(CAST(CountMorakhasi AS INT)) AS CountMorakhasi,
                SUM(CAST(CountMamorDoor AS INT)) AS CountMamorDoor,
                SUM(CAST(CountMamorNazdik AS INT)) AS CountMamorNazdik,
                SUM(CAST(CountEstarahatKari AS INT)) AS CountEstarahatKari,
                SUM(CAST(CountEstarahatNegahban AS INT)) AS CountEstarahatNegahban,
                SUM(CAST(CountEstarahatPezashki AS INT)) AS CountEstarahatPezashki,
                SUM(CAST(CountEzamBimarestan AS INT)) AS CountEzamBimarestan,
                SUM(CAST(CountNegahban AS INT)) AS CountNegahban,
                SUM(CAST(CountNahast AS INT)) AS CountNahast,
                SUM(CAST(CountZendan AS INT)) AS CountZendan,
                SUM(CAST(CountFarar AS INT)) AS CountFarar,
                SUM(CAST(CountEntezarKhedmat AS INT)) AS CountEntezarKhedmat,
                SUM(CAST(CountSumHazer AS INT)) AS CountSumHazer,
                SUM(CAST(CountSumMotafareghe AS INT)) AS CountSumMotafareghe,
                SUM(CAST(CountBedonkari AS INT)) AS CountBedonkari


            FROM [dbo].[UnitCountAmar01_Tbl]
            WHERE UitID01 !=  @StateNameFor318
            AND DailyActivityEvidence01ID = @DailyActivityEvidence01ID
            GROUP BY DrjDailyPLookupSubId
        )
        UPDATE uca
        SET 
            uca.CountMojodi = ISNULL(ac.CountMojodi, 0),
            uca.CountMamorBe = ISNULL(ac.CountMamorBe, 0),
            uca.CountMamorAz = ISNULL(ac.CountMamorAz, 0),
            uca.CountEdeKol = ISNULL(ac.CountEdeKol, 0),

            uca.CountMorakhasi = ISNULL(ac.CountMorakhasi, 0),
            uca.CountMamorDoor = ISNULL(ac.CountMamorDoor, 0),
            uca.CountMamorNazdik = ISNULL(ac.CountMamorNazdik, 0),
            uca.CountEstarahatKari = ISNULL(ac.CountEstarahatKari, 0),
            uca.CountEstarahatNegahban = ISNULL(ac.CountEstarahatNegahban, 0),
            uca.CountEstarahatPezashki = ISNULL(ac.CountEstarahatPezashki, 0),
            uca.CountEzamBimarestan = ISNULL(ac.CountEzamBimarestan, 0),
            uca.CountNegahban = ISNULL(ac.CountNegahban, 0),
            uca.CountNahast = ISNULL(ac.CountNahast, 0),
            uca.CountZendan = ISNULL(ac.CountZendan, 0),
            uca.CountFarar = ISNULL(ac.CountFarar, 0),
            uca.CountEntezarKhedmat = ISNULL(ac.CountEntezarKhedmat, 0),
            uca.CountSumHazer = ISNULL(ac.CountSumHazer, 0),
            uca.CountSumMotafareghe = ISNULL(ac.CountSumMotafareghe, 0),
            uca.CountBedonkari = ISNULL(ac.CountBedonkari, 0)




        FROM [dbo].[UnitCountAmar01_Tbl] uca
        LEFT JOIN AggregatedCounts ac ON 
            ac.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
        WHERE uca.UitID01 =  @StateNameFor318
        AND uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        







        COMMIT TRANSACTION;
        /*
        -- بازگرداندن نتایج ترکیبی
        SELECT 
            v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
            v.persianWeekDate01 AS روزهفته,
            v.strDateCategory01 AS نوعتاریخ,
            v.TimwStartEnd01 AS بازه_زمانی,
            v.strTimwStart01 AS زمان_شروع,
            v.strTimwEnd01 AS زمان_پایان,
            c.[Title] AS عنوان_واحد,
            (SELECT COUNT(*) FROM [dbo].[UnitCountAmar01_Tbl] 
             WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) AS تعداد_رکوردهای_ایجاد_شده
        FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
        LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON c.[CategoryGeneralId] = v.[UnitID01]
        WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
        -- نمونه داده‌های ایجاد شده
        SELECT TOP 10
            UitID01 AS کد_واحد,
            DrjDailyPLookupSubId AS کد_رتبه,
            CountMojodi AS تعداد_موجودی,
            CountMamorBe AS تعداد_ماموربه,
            CountMamorAz AS تعداد_ماموراز,
            CountEdeKol AS تعداد_اداکل,
            CountSazmani AS تعداد_سازمانی,
            CountMorakhasi AS تعداد_مرخصی,
            CountMamorDoor AS تعداد_ماموردور
        FROM [dbo].[UnitCountAmar01_Tbl]
        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
        ORDER BY UitID01, DrjDailyPLookupSubId;
        */
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;

























--CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    -- بررسی وجود DailyActivityEvidence01ID
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- درج رکوردهای جدید برای StateName01
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            us1.StateName01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT [StateName01] 
--             FROM [dbo].[View_DailyActivityEvidence01_Tbl02] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS us1
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- درج رکوردهای جدید برای UnitID01
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- محاسبه تمام مقادیر آماری در یک مرحله
--        ;WITH AllStats AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                -- محاسبات اصلی
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
--                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
--                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
--                -- محاسبات وضعیت‌ها
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId
--        )
--        -- به‌روزرسانی تمام مقادیر آماری
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ISNULL(stats.CountMojodi, 0),
--            uca.CountMamorBe = ISNULL(stats.CountMamorBe, 0),
--            uca.CountMamorAz = ISNULL(stats.CountMamorAz, 0),
--            uca.CountEdeKol = ISNULL(stats.CountEdeKol, 0),
--            uca.CountMorakhasi = ISNULL(stats.CountMorakhasi, 0),
--            uca.CountMamorDoor = ISNULL(stats.CountMamorDoor, 0),
--            uca.CountMamorNazdik = ISNULL(stats.CountMamorNazdik, 0),
--            uca.CountEstarahatKari = ISNULL(stats.CountEstarahatKari, 0),
--            uca.CountEstarahatNegahban = ISNULL(stats.CountEstarahatNegahban, 0),
--            uca.CountEstarahatPezashki = ISNULL(stats.CountEstarahatPezashki, 0),
--            uca.CountEzamBimarestan = ISNULL(stats.CountEzamBimarestan, 0),
--            uca.CountNegahban = ISNULL(stats.CountNegahban, 0),
--            uca.CountNahast = ISNULL(stats.CountNahast, 0),
--            uca.CountZendan = ISNULL(stats.CountZendan, 0),
--            uca.CountFarar = ISNULL(stats.CountFarar, 0),
--            uca.CountEntezarKhedmat = ISNULL(stats.CountEntezarKhedmat, 0),
--            uca.CountSumHazer = ISNULL(stats.CountSumHazer, 0),
--            uca.CountSumMotafareghe = ISNULL(stats.CountSumMotafareghe, 0),
--            uca.CountBedonkari = ISNULL(stats.CountBedonkari, 0)
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        LEFT JOIN AllStats stats ON 
--            stats.UnitID01 = uca.UitID01 
--            AND stats.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        -- به‌روزرسانی تعداد سازمانی با تطابق دقیق
--        UPDATE uca
--        SET uca.CountSazmani = ISNULL(uo.NoFolder01, 0)
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN [dbo].[UnitOrganization01_Tbl] uo ON 
--            uo.UitID01 = uca.UitID01
--            AND uo.[TblLuLookupSubbId] = uca.[DrjDailyPLookupSubId]
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        


--		UPDATE uca
--		SET uca.CountMojodi = ISNULL(mc.TotalSum, 0)
--		FROM [dbo].[UnitCountAmar01_Tbl] uca
--		JOIN (
--			SELECT DrjDailyPLookupSubId, SUM(CAST(CountMojodi AS INT)) AS TotalSum
--			FROM [dbo].[UnitCountAmar01_Tbl]
--			WHERE UitID01 != 318
--			GROUP BY DrjDailyPLookupSubId
--		) mc ON uca.DrjDailyPLookupSubId = mc.DrjDailyPLookupSubId
--		WHERE uca.UitID01 = 318;


--		UPDATE uca
--		SET uca.CountMamorBe = ISNULL(mc.TotalSum, 0)
--		FROM [dbo].[UnitCountAmar01_Tbl] uca
--		JOIN (
--			SELECT DrjDailyPLookupSubId, SUM(CAST(CountMamorBe AS INT)) AS TotalSum
--			FROM [dbo].[UnitCountAmar01_Tbl]
--			WHERE UitID01 != 318
--			GROUP BY DrjDailyPLookupSubId
--		) mc ON uca.DrjDailyPLookupSubId = mc.DrjDailyPLookupSubId
--		WHERE uca.UitID01 = 318;

--		UPDATE uca
--		SET uca.CountMamorAz = ISNULL(mc.TotalSum, 0)
--		FROM [dbo].[UnitCountAmar01_Tbl] uca
--		JOIN (
--			SELECT DrjDailyPLookupSubId, SUM(CAST(CountMamorAz AS INT)) AS TotalSum
--			FROM [dbo].[UnitCountAmar01_Tbl]
--			WHERE UitID01 != 318
--			GROUP BY DrjDailyPLookupSubId
--		) mc ON uca.DrjDailyPLookupSubId = mc.DrjDailyPLookupSubId
--		WHERE uca.UitID01 = 318;

--		UPDATE uca
--		SET uca.CountEdeKol = ISNULL(mc.TotalSum, 0)
--		FROM [dbo].[UnitCountAmar01_Tbl] uca
--		JOIN (
--			SELECT DrjDailyPLookupSubId, SUM(CAST(CountEdeKol AS INT)) AS TotalSum
--			FROM [dbo].[UnitCountAmar01_Tbl]
--			WHERE UitID01 != 318
--			GROUP BY DrjDailyPLookupSubId
--		) mc ON uca.DrjDailyPLookupSubId = mc.DrjDailyPLookupSubId
--		WHERE uca.UitID01 = 318;










--        COMMIT TRANSACTION;
        
--        -- بازگرداندن نتایج ترکیبی
--        SELECT 
--            v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
--            v.persianWeekDate01 AS روزهفته,
--            v.strDateCategory01 AS نوعتاریخ,
--            v.TimwStartEnd01 AS بازه_زمانی,
--            v.strTimwStart01 AS زمان_شروع,
--            v.strTimwEnd01 AS زمان_پایان,
--            c.[Title] AS عنوان_واحد,
--            (SELECT COUNT(*) FROM [dbo].[UnitCountAmar01_Tbl] 
--             WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) AS تعداد_رکوردهای_ایجاد_شده
--        FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
--        LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON c.[CategoryGeneralId] = v.[UnitID01]
--        WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- نمونه داده‌های ایجاد شده
--        SELECT TOP 10
--            UitID01 AS کد_واحد,
--            DrjDailyPLookupSubId AS کد_رتبه,
--            CountMojodi AS تعداد_موجودی,
--            CountMamorBe AS تعداد_ماموربه,
--            CountMamorAz AS تعداد_ماموراز,
--            CountEdeKol AS تعداد_اداکل,
--            CountSazmani AS تعداد_سازمانی,
--            CountMorakhasi AS تعداد_مرخصی,
--            CountMamorDoor AS تعداد_ماموردور
--        FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--        ORDER BY UitID01, DrjDailyPLookupSubId;
        


--    END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;
























--CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    -- بررسی وجود DailyActivityEvidence01ID
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        

 
--		         INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            us1.StateName01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT [StateName01] 
--             FROM [dbo].[View_DailyActivityEvidence01_Tbl02] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS us1
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;


 



--        -- درج رکوردهای جدید
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- محاسبه تمام مقادیر در یک مرحله با استفاده از CASE
--        ;WITH AllCounts AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                -- محاسبات بر اساس DUS_COD01
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
--                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
--                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
--                -- محاسبات بر اساس StatAmar01
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId
--        )
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ac.CountMojodi,
--            uca.CountMamorBe = ac.CountMamorBe,
--            uca.CountMamorAz = ac.CountMamorAz,
--            uca.CountEdeKol = ac.CountEdeKol,
--            uca.CountMorakhasi = ac.CountMorakhasi,
--            uca.CountMamorDoor = ac.CountMamorDoor,
--            uca.CountMamorNazdik = ac.CountMamorNazdik,
--            uca.CountEstarahatKari = ac.CountEstarahatKari,
--            uca.CountEstarahatNegahban = ac.CountEstarahatNegahban,
--            uca.CountEstarahatPezashki = ac.CountEstarahatPezashki,
--            uca.CountEzamBimarestan = ac.CountEzamBimarestan,
--            uca.CountNegahban = ac.CountNegahban,
--            uca.CountNahast = ac.CountNahast,
--            uca.CountZendan = ac.CountZendan,
--            uca.CountFarar = ac.CountFarar,
--            uca.CountEntezarKhedmat = ac.CountEntezarKhedmat,
--            uca.CountSumHazer = ac.CountSumHazer,
--            uca.CountSumMotafareghe = ac.CountSumMotafareghe,
--            uca.CountBedonkari = ac.CountBedonkari
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN AllCounts ac ON 
--            ac.UnitID01 = uca.UitID01 
--            AND ac.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        -- به‌روزرسانی CountSazmani به صورت جداگانه
--        --UPDATE uca
--        --SET uca.CountSazmani = uo.NoFolder01
--        --FROM [dbo].[UnitCountAmar01_Tbl] uca
--        --INNER JOIN [dbo].[UnitOrganization01_Tbl] uo ON uo.UitID01 = uca.UitID01
--        --WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--		      UPDATE uca
--        SET uca.CountSazmani = uo.NoFolder01
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN [dbo].[UnitOrganization01_Tbl] uo ON uo.UitID01 = uca.UitID01

--		where uo.[TblLuLookupSubbId]=uca.[DrjDailyPLookupSubId]

--        COMMIT TRANSACTION;
        
--        -- بازگرداندن نتایج
--        SELECT 
--            v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
--            v.persianWeekDate01 AS روزهفته,
--            v.strDateCategory01 AS نوعتاریخ,
--            v.TimwStartEnd01 AS بازه_زمانی,
--            v.strTimwStart01 AS زمان_شروع,
--            v.strTimwEnd01 AS زمان_پایان,
--            c.[Title] AS عنوان_واحد,
--            (SELECT COUNT(*) FROM [dbo].[UnitCountAmar01_Tbl] 
--             WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) AS تعداد_رکوردهای_ایجاد_شده
--        FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
--        LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON c.[CategoryGeneralId] = v.[UnitID01]
--        WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- نمونه داده‌های ایجاد شده
--        SELECT TOP 10
--            UitID01 AS کد_واحد,
--            DrjDailyPLookupSubId AS کد_رتبه,
--            CountMojodi AS تعداد_موجودی,
--            CountMamorBe AS تعداد_ماموربه,
--            CountMamorAz AS تعداد_ماموراز,
--            CountEdeKol AS تعداد_اداکل,
--            CountSazmani AS تعداد_سازمانی
--        FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--        ORDER BY UitID01, DrjDailyPLookupSubId;
        
--    END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;





























--CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    -- بررسی وجود DailyActivityEvidence01ID
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- درج رکوردهای جدید
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- محاسبه تمام مقادیر در یک مرحله با استفاده از PIVOT و CASE
--        ;WITH AllCounts AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                -- محاسبات بر اساس DUS_COD01
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
--                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
--                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
--                -- محاسبات بر اساس StatAmar01
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,

--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari


--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId
--        )
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ac.CountMojodi,
--            uca.CountMamorBe = ac.CountMamorBe,
--            uca.CountMamorAz = ac.CountMamorAz,
--            uca.CountEdeKol = ac.CountEdeKol,
--            uca.CountMorakhasi = ac.CountMorakhasi,
--            uca.CountMamorDoor = ac.CountMamorDoor,
--            uca.CountMamorNazdik = ac.CountMamorNazdik,
--            uca.CountEstarahatKari = ac.CountEstarahatKari,
--            uca.CountEstarahatNegahban = ac.CountEstarahatNegahban,

--            uca.CountEstarahatPezashki = ac.CountEstarahatPezashki,
--            uca.CountEzamBimarestan = ac.CountEzamBimarestan,
--            uca.CountNegahban = ac.CountNegahban,
--            uca.CountNahast = ac.CountNahast,
--            uca.CountZendan = ac.CountZendan,
--            uca.CountFarar = ac.CountFarar,
--            uca.CountEntezarKhedmat = ac.CountEntezarKhedmat,
--            uca.CountSumHazer = ac.CountSumHazer,
--            uca.CountSumMotafareghe = ac.CountSumMotafareghe,
--            uca.CountBedonkari = ac.CountBedonkari,

--			update [dbo].[UnitCountAmar01_Tbl] set CountSazmani=(select [NoFolder01] from [dbo].[UnitOrganization01_Tbl] where [UitID01]=u.UnitID01) where [UitID01]=u.UnitID01

 

--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN AllCounts ac ON 
--            ac.UnitID01 = uca.UitID01 
--            AND ac.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        COMMIT TRANSACTION;

--    END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;




















--CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    -- بررسی وجود DailyActivityEvidence01ID با استفاده از EXISTS
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود در یک عملیات
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- درج رکوردهای جدید با یک کوئری بهینه‌شده
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- به‌روزرسانی تمام مقادیر شمارشی در یک مرحله با استفاده از PIVOT
--        ;WITH CountData AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                DUS_COD01,
--				StatAmar01,
--                COUNT(*) AS CountValue
--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId, DUS_COD01,StatAmar01
--        ),
--        PivotedData AS (
--            SELECT
--                UnitID01,
--                DrjDailyPLookupSubId,
--                ISNULL([91], 0) + ISNULL([90901], 0) AS CountMojodi,
--                ISNULL([90902], 0) AS CountMamorBe,
--                ISNULL([90901], 0) AS CountMamorAz,
--                ISNULL([91], 0) + ISNULL([90902], 0) AS CountEdeKol
--                --,ISNULL([91], 0) + ISNULL([90902], 0) AS CountMorakhasi
--            FROM CountData
--            PIVOT (
--                SUM(CountValue)
--                FOR DUS_COD01 IN ([91], [90901], [90902])
--            ) AS PivotTable
--        )
--        UPDATE uca
--        SET 
--            uca.CountMojodi = pd.CountMojodi,
--            uca.CountMamorBe = pd.CountMamorBe,
--            uca.CountMamorAz = pd.CountMamorAz,
--            uca.CountEdeKol = pd.CountEdeKol
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN PivotedData pd ON 
--            pd.UnitID01 = uca.UitID01 
--            AND pd.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        

--			    ;WITH CountMorakhasi AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountMorakhasi = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountMorakhasi mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID





--				    ;WITH CountMamorDoor AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountMamorDoor = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountMamorDoor mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID



--				    ;WITH CountMamorNazdik AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountMamorNazdik = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountMamorNazdik mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID


	
--				    ;WITH CountEstarahatKari AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountEstarahatKari = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountEstarahatKari mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID


--				    ;WITH CountEstarahatNegahban AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountEstarahatNegahban = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountEstarahatNegahban mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID


--        COMMIT TRANSACTION;
        
--        -- بازگرداندن نتایج
--        -- 1. اطلاعات پایه
--        SELECT 
--            v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
--            v.persianWeekDate01 AS روزهفته,
--            v.strDateCategory01 AS نوعتاریخ,
--            v.TimwStartEnd01 AS بازه_زمانی,
--            v.strTimwStart01 AS زمان_شروع,
--            v.strTimwEnd01 AS زمان_پایان,
--            c.[Title] AS عنوان_واحد
--        FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
--        LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON 
--            c.[CategoryGeneralId] = v.[UnitID01]
--        WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- 2. تعداد رکوردهای ایجاد شده
--        SELECT COUNT(*) AS تعداد_رکوردهای_ایجاد_شده
--        FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        -- 3. نمونه داده‌های ایجاد شده
--        SELECT TOP 10
--            UitID01 AS کد_واحد,
--            DrjDailyPLookupSubId AS کد_رتبه,
--            CountMojodi AS تعداد_موجودی,
--            CountMamorBe AS تعداد_ماموربه,
--            CountMamorAz AS تعداد_ماموراز,
--            CountEdeKol AS تعداد_اداکل
--        FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--        ORDER BY UitID01, DrjDailyPLookupSubId;
        
--    END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;





























 /*

CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
    @DailyActivityEvidence01ID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- بررسی وجود DailyActivityEvidence01ID
    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
    BEGIN
        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1)
        RETURN
    END
    
    -- حذف رکوردهای موجود
    DELETE FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
    
    -- درج رکوردهای جدید (ترکیب UnitID01 و TblLuLookupSubbId)
    INSERT INTO [dbo].[UnitCountAmar01_Tbl]
        ([UnitCountAmar01ID],
         [DailyActivityEvidence01ID],
         [UitID01],
         [DrjDailyPLookupSubId])
    SELECT 
        NEWID(),
        @DailyActivityEvidence01ID,
        u.UnitID01,
        l.[TblLuLookupSubbId]
    FROM 
        (SELECT DISTINCT UnitID01 
         FROM [dbo].[View_DailyPlanEvidence01] 
         WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
    CROSS JOIN 
        [dbo].[TblLuLookupSub_Tbl] AS l
    
    -- به‌روزرسانی CountMojodi بر اساس UnitID01 و DrjDailyPLookupSubId
    ;WITH MojodiCounts AS (
        SELECT 
            UnitID01,
            DrjDailyPLookupSubId,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 IN ('91', '90901')
        GROUP BY UnitID01, DrjDailyPLookupSubId
    )
    UPDATE uca
    SET uca.CountMojodi = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN MojodiCounts mc ON 
        mc.UnitID01 = uca.UitID01 
        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    





	    ;WITH CountMamorBe AS (
        SELECT 
            UnitID01,
            DrjDailyPLookupSubId,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 IN ('90902')
        GROUP BY UnitID01, DrjDailyPLookupSubId
    )
    UPDATE uca
    SET uca.CountMamorBe = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN CountMamorBe mc ON 
        mc.UnitID01 = uca.UitID01 
        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    



	
	    ;WITH CountMamorAz AS (
        SELECT 
            UnitID01,
            DrjDailyPLookupSubId,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 IN ('90901')
        GROUP BY UnitID01, DrjDailyPLookupSubId
    )
    UPDATE uca
    SET uca.CountMamorAz = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN CountMamorAz mc ON 
        mc.UnitID01 = uca.UitID01 
        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    

	


	    ;WITH CountEdeKol AS (
        SELECT 
            UnitID01,
            DrjDailyPLookupSubId,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 IN ('91', '90902')
        GROUP BY UnitID01, DrjDailyPLookupSubId
    )
    UPDATE uca
    SET uca.CountEdeKol = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN CountEdeKol mc ON 
        mc.UnitID01 = uca.UitID01 
        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID








    -- بازگرداندن نتایج
    -- 1. اطلاعات پایه
    SELECT 
        v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
        v.persianWeekDate01 AS روزهفته,
        v.strDateCategory01 AS نوعتاریخ,
        v.TimwStartEnd01 AS بازه_زمانی,
        v.strTimwStart01 AS زمان_شروع,
        v.strTimwEnd01 AS زمان_پایان,
        c.[Title] AS عنوان_واحد
    FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
    LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON 
        c.[CategoryGeneralId] = v.UnitID01
    WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
    
    -- 2. تعداد رکوردهای ایجاد شده
    SELECT COUNT(*) AS تعداد_رکوردهای_ایجاد_شده
    FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    
    -- 3. نمونه داده‌های ایجاد شده (اختیاری)
    SELECT TOP 10
        UitID01 AS کد_واحد,
        DrjDailyPLookupSubId AS کد_رتبه,
        CountMojodi AS تعداد_موجودی
    FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    ORDER BY UitID01, DrjDailyPLookupSubId
END


*/









/*
CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
    @DailyActivityEvidence01ID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- بررسی وجود DailyActivityEvidence01ID
    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
    BEGIN
        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1)
        RETURN
    END
    
    -- حذف رکوردهای موجود
    DELETE FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
    
    -- درج رکوردهای جدید
    INSERT INTO [dbo].[UnitCountAmar01_Tbl]
        ([UnitCountAmar01ID],
         [DailyActivityEvidence01ID],
         [UitID01],
         [DrjDailyPLookupSubId])
    SELECT 
        NEWID(),
        @DailyActivityEvidence01ID,
        u.UnitID01,
        l.[TblLuLookupSubbId]
    FROM 
        (SELECT DISTINCT UnitID01 
         FROM [dbo].[View_DailyPlanEvidence01] 
         WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
    CROSS JOIN 
        [dbo].[TblLuLookupSub_Tbl] AS l
    
    -- به‌روزرسانی CountMojodi
    ;WITH MojodiCounts AS (
        SELECT 
            UnitID01,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 in ('91', '90901')
        GROUP BY UnitID01
    )
    UPDATE uca
    SET uca.CountMojodi = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN MojodiCounts mc ON mc.UnitID01 = uca.UitID01
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    
    -- بازگرداندن نتایج
    -- 1. اطلاعات پایه
    SELECT 
        v.[FromDateDailyActivityEvidence01Title],
        v.persianWeekDate01,
        v.strDateCategory01,
        v.TimwStartEnd01,
        v.strTimwStart01,
        v.strTimwEnd01,
        c.[Title] AS UnitTitle
    FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
    LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON c.[CategoryGeneralId] = v.UnitID01 -- اصلاح شده
    WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
    
    -- 2. تعداد رکوردهای ایجاد شده
    SELECT COUNT(*) AS RecordCount
    FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
END
 

 */