




--SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('','ALLYagen','0cb251cd-128b-4e3e-a247-978b62332b34', '24')  AS CountView_DailyPlanEvidence01
 
-- SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('','Yagen','0cb251cd-128b-4e3e-a247-978b62332b34', '28')  AS CountView_DailyPlanEvidence01

-- SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('Vazifeh','Yagen','0cb251cd-128b-4e3e-a247-978b62332b34', '28')  AS CountView_DailyPlanEvidence01

      --,[DrjDailyPLookupSubId] AS [DarajeeGheshrID]

-- SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('','ALLYagen','0cb251cd-128b-4e3e-a247-978b62332b34', '28')  AS CountView_DailyPlanEvidence01

-- SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('Vazifeh','ALLYagen','0cb251cd-128b-4e3e-a247-978b62332b34', '28')  AS CountView_DailyPlanEvidence01

--SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('','ALLYagen','a1252735-160e-45b9-9b1f-e19b76352d66', '24')  AS CountView_DailyPlanEvidence01


 --order by CAST(DrjDailyPLookupSubId AS INT)

	  --1403/11/20

	    --90901  مأمور از عده

  --91 حاضر بخدمت

  	--DrjDailyPLookupSubId INT,





	ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
    @PayvarVazife NVARCHAR(20) = '',
    @YagenORALL NVARCHAR(10)  ,
    @DailyActivityEvidence01ID NVARCHAR(50),
    @UitID01 NVARCHAR(50) = NULL
)
RETURNS @ResultTable TABLE (
    DrjDailyPLookupSubId NVARCHAR(50),
    TitleDaraje NVARCHAR(200),

				 UitID01 NVARCHAR(200),
			strUitID01 NVARCHAR(200),
			SortstrUitID01 NVARCHAR(200),
			Date01 NVARCHAR(200),
			persianWeekDate01 NVARCHAR(200),
			strDateCategory01 NVARCHAR(200),
		    TimwStartEnd01 NVARCHAR(200),	
            strTimwStart01 NVARCHAR(200),	
            strTimwEnd01  NVARCHAR(200),









    CountView_DailyPlanEvidence01 INT,
    CountMojodi INT,
    CountMamorBe INT,
    CountMamorAz INT,
    CountEdeKol INT,
    CountMorakhasi INT,
    CountMamorDoor INT,
    CountMamorNazdik INT,
    CountEstarahatKari INT,
    CountEstarahatNegahban INT,
    CountEstarahatPezashki INT,
    CountEzamBimarestan INT,
    CountNegahban INT,
    CountNahast INT,
    CountZendan INT,
    CountFarar INT,
    CountEntezarKhedmat INT,
    CountSumHazer INT,
    CountSumMotafareghe INT,
    CountBedonkari INT,
    IsTotalRow BIT DEFAULT 0
)
AS
BEGIN
    -- جدول موقت برای ذخیره نتایج
    DECLARE @TempResults TABLE (
        DrjDailyPLookupSubId NVARCHAR(50),
        TitleDaraje NVARCHAR(200),

						 UitID01 NVARCHAR(200),
			strUitID01 NVARCHAR(200),
			SortstrUitID01 NVARCHAR(200),
			Date01 NVARCHAR(200),
			persianWeekDate01 NVARCHAR(200),
			strDateCategory01 NVARCHAR(200),
		    TimwStartEnd01 NVARCHAR(200),	
            strTimwStart01 NVARCHAR(200),	
            strTimwEnd01  NVARCHAR(200),



        SubIdInt INT,
        CountView_DailyPlanEvidence01 INT,
        CountMojodi INT,
        CountMamorBe INT,
        CountMamorAz INT,
        CountEdeKol INT,
        CountMorakhasi INT,
        CountMamorDoor INT,
        CountMamorNazdik INT,
        CountEstarahatKari INT,
        CountEstarahatNegahban INT,
        CountEstarahatPezashki INT,
        CountEzamBimarestan INT,
        CountNegahban INT,
        CountNahast INT,
        CountZendan INT,
        CountFarar INT,
        CountEntezarKhedmat INT,
        CountSumHazer INT,
        CountSumMotafareghe INT,
        CountBedonkari INT,
        IsTotalRow BIT DEFAULT 0
    );
    
    -- محاسبه نتایج اصلی
    INSERT INTO @TempResults (
        DrjDailyPLookupSubId, TitleDaraje,
		
			 UitID01,
			strUitID01,
			SortstrUitID01,
			Date01,
			persianWeekDate01,
			strDateCategory01,
		    TimwStartEnd01,	
            strTimwStart01,	
            strTimwEnd01 ,


		
		
		SubIdInt,
        CountView_DailyPlanEvidence01, CountMojodi, CountMamorBe, CountMamorAz,
        CountEdeKol, CountMorakhasi, CountMamorDoor, CountMamorNazdik,
        CountEstarahatKari, CountEstarahatNegahban, CountEstarahatPezashki,
        CountEzamBimarestan, CountNegahban, CountNahast, CountZendan,
        CountFarar, CountEntezarKhedmat, CountSumHazer, CountSumMotafareghe,
        CountBedonkari
    )
    SELECT 
        s.DrjDailyPLookupSubId,
        s.TitleDaraje,

			 s.UitID01,
			s.strUitID01,
			s.SortstrUitID01,
			s.Date01,
			s.persianWeekDate01,
			s.strDateCategory01,
		    s.TimwStartEnd01,	
            s.strTimwStart01,	
            s.strTimwEnd01 ,








        TRY_CAST(s.DrjDailyPLookupSubId AS INT) AS SubIdInt,
        COUNT(v.DrjDailyPLookupSubId) AS CountView_DailyPlanEvidence01,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,
        SUM(CASE WHEN v.DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,
        SUM(CASE WHEN v.DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,
        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll
    FROM (SELECT DISTINCT 
            DrjDailyPLookupSubId,
            DrjDailyPSubLookupTitle + ' ' + DrjDailyPSubLookupDescription as TitleDaraje ,

			UnitDailyCategoryGeneralId as UitID01,
			UnitDailyTitle as strUitID01,
			UnitDailySortable01Id as SortstrUitID01,
			Date01,
			persianWeekDate01,
			strDateCategory01,
		    TimwStartEnd01,	
            strTimwStart01,	
            strTimwEnd01 


          FROM View_DailyPlanEvidence01 
          WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) s
    LEFT JOIN View_DailyPlanEvidence01 v ON 
        v.DrjDailyPLookupSubId = s.DrjDailyPLookupSubId AND
        v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID AND
        v.StatusConfirmation02 = 320 AND
        (
            (@YagenORALL = 'ALLYagen' AND @PayvarVazife = '' )
            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = '' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
            OR (@YagenORALL = 'ALLYagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه')
            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
        ) AND
        v.DUS_COD01 IN ('91', '90901', '90902')
    GROUP BY s.DrjDailyPLookupSubId, s.TitleDaraje
	
	
			--	, s.UitID01,
			--s.strUitID01,
			--s.SortstrUitID01,
			--s.Date01,
			--s.persianWeekDate01,
			--s.strDateCategory01,
		 --   s.TimwStartEnd01,	
   --         s.strTimwStart01,	
   --         s.strTimwEnd01 

	
	
	
	
	
	;
    
    -- اضافه کردن ردیف جمع با عنوان "جمع کل" در هر دو ستون DrjDailyPLookupSubId و TitleDaraje
    INSERT INTO @TempResults (
        DrjDailyPLookupSubId, TitleDaraje,
		
					 UitID01,
			strUitID01,
			SortstrUitID01,
			Date01,
			persianWeekDate01,
			strDateCategory01,
		    TimwStartEnd01,	
            strTimwStart01,	
            strTimwEnd01 ,
		
		SubIdInt,
        CountView_DailyPlanEvidence01, CountMojodi, CountMamorBe, CountMamorAz,
        CountEdeKol, CountMorakhasi, CountMamorDoor, CountMamorNazdik,
        CountEstarahatKari, CountEstarahatNegahban, CountEstarahatPezashki,
        CountEzamBimarestan, CountNegahban, CountNahast, CountZendan,
        CountFarar, CountEntezarKhedmat, CountSumHazer, CountSumMotafareghe,
        CountBedonkari, IsTotalRow
    )
    SELECT 
        N'جمع کل' AS DrjDailyPLookupSubId,
        N'جمع کل' AS TitleDaraje,
		 N'جمع کل' AS			 UitID01,
		 N'جمع کل' AS	strUitID01,
		 N'جمع کل' AS	SortstrUitID01,
		 N'جمع کل' AS	Date01,
		 N'جمع کل' AS	persianWeekDate01,
		 N'جمع کل' AS	strDateCategory01,
		  N'جمع کل' AS   TimwStartEnd01,	
           N'جمع کل' AS  strTimwStart01,	
          N'جمع کل' AS   strTimwEnd01 ,







        999999 AS SubIdInt,
        SUM(CountView_DailyPlanEvidence01),
        SUM(CountMojodi),
        SUM(CountMamorBe),
        SUM(CountMamorAz),
        SUM(CountEdeKol),
        SUM(CountMorakhasi),
        SUM(CountMamorDoor),
        SUM(CountMamorNazdik),
        SUM(CountEstarahatKari),
        SUM(CountEstarahatNegahban),
        SUM(CountEstarahatPezashki),
        SUM(CountEzamBimarestan),
        SUM(CountNegahban),
        SUM(CountNahast),
        SUM(CountZendan),
        SUM(CountFarar),
        SUM(CountEntezarKhedmat),
        SUM(CountSumHazer),
        SUM(CountSumMotafareghe),
        SUM(CountBedonkari),
        1 AS IsTotalRow
    FROM @TempResults;
    
    -- درج نتایج نهایی
    INSERT INTO @ResultTable (
        DrjDailyPLookupSubId, TitleDaraje,
					 UitID01,
			strUitID01,
			SortstrUitID01,
			Date01,
			persianWeekDate01,
			strDateCategory01,
		    TimwStartEnd01,	
            strTimwStart01,	
            strTimwEnd01 ,
        CountView_DailyPlanEvidence01, CountMojodi, CountMamorBe, CountMamorAz,
        CountEdeKol, CountMorakhasi, CountMamorDoor, CountMamorNazdik,
        CountEstarahatKari, CountEstarahatNegahban, CountEstarahatPezashki,
        CountEzamBimarestan, CountNegahban, CountNahast, CountZendan,
        CountFarar, CountEntezarKhedmat, CountSumHazer, CountSumMotafareghe,
        CountBedonkari, IsTotalRow
    )
    SELECT 
        DrjDailyPLookupSubId,
        TitleDaraje,


					 UitID01,
			strUitID01,
			SortstrUitID01,
			Date01,
			persianWeekDate01,
			strDateCategory01,
		    TimwStartEnd01,	
            strTimwStart01,	
            strTimwEnd01 ,


        CountView_DailyPlanEvidence01,
        CountMojodi,
        CountMamorBe,
        CountMamorAz,
        CountEdeKol,
        CountMorakhasi,
        CountMamorDoor,
        CountMamorNazdik,
        CountEstarahatKari,
        CountEstarahatNegahban,
        CountEstarahatPezashki,
        CountEzamBimarestan,
        CountNegahban,
        CountNahast,
        CountZendan,
        CountFarar,
        CountEntezarKhedmat,
        CountSumHazer,
        CountSumMotafareghe,
        CountBedonkari,
        IsTotalRow
    FROM @TempResults
    ORDER BY IsTotalRow, SubIdInt;
    
    RETURN;
END;








--	ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
--    @PayvarVazife NVARCHAR(20) = '',
--    @YagenORALL NVARCHAR(10) = 'ALLYagen',
--    @DailyActivityEvidence01ID NVARCHAR(50),
--    @UitID01 NVARCHAR(50) = NULL
--)
--RETURNS @ResultTable TABLE (
--    DrjDailyPLookupSubId NVARCHAR(50),
--    TitleDaraje NVARCHAR(200),
--    CountView_DailyPlanEvidence01 INT,
--    CountMojodiAll INT,
--    CountMamorBeAll INT,
--    CountMamorAzAll INT,
--    CountEdeKolAll INT,
--    CountMorakhasiAll INT,
--    CountMamorDoorAll INT,
--    CountMamorNazdikAll INT,
--    CountEstarahatKariAll INT,
--    CountEstarahatNegahbanAll INT,
--    CountEstarahatPezashkiAll INT,
--    CountEzamBimarestanAll INT,
--    CountNegahbanAll INT,
--    CountNahastAll INT,
--    CountZendanAll INT,
--    CountFararAll INT,
--    CountEntezarKhedmatAll INT,
--    CountSumHazerAll INT,
--    CountSumMotafaregheAll INT,
--    CountBedonkariAll INT,
--    IsTotalRow BIT DEFAULT 0 -- اضافه کردن فلگ برای شناسایی ردیف جمع
--)
--AS
--BEGIN
--    -- جدول موقت برای ذخیره نتایج با امکان مرتب‌سازی
--    DECLARE @TempResults TABLE (
--        DrjDailyPLookupSubId NVARCHAR(50),
--        TitleDaraje NVARCHAR(200),
--        SubIdInt INT,
--        CountView_DailyPlanEvidence01 INT,
--        CountMojodiAll INT,
--        CountMamorBeAll INT,
--        CountMamorAzAll INT,
--        CountEdeKolAll INT,
--        CountMorakhasiAll INT,
--        CountMamorDoorAll INT,
--        CountMamorNazdikAll INT,
--        CountEstarahatKariAll INT,
--        CountEstarahatNegahbanAll INT,
--        CountEstarahatPezashkiAll INT,
--        CountEzamBimarestanAll INT,
--        CountNegahbanAll INT,
--        CountNahastAll INT,
--        CountZendanAll INT,
--        CountFararAll INT,
--        CountEntezarKhedmatAll INT,
--        CountSumHazerAll INT,
--        CountSumMotafaregheAll INT,
--        CountBedonkariAll INT,
--        IsTotalRow BIT DEFAULT 0
--    );
    
--    -- محاسبه نتایج و ذخیره در جدول موقت
--    INSERT INTO @TempResults (
--        DrjDailyPLookupSubId, TitleDaraje, SubIdInt,
--        CountView_DailyPlanEvidence01, CountMojodiAll, CountMamorBeAll, CountMamorAzAll,
--        CountEdeKolAll, CountMorakhasiAll, CountMamorDoorAll, CountMamorNazdikAll,
--        CountEstarahatKariAll, CountEstarahatNegahbanAll, CountEstarahatPezashkiAll,
--        CountEzamBimarestanAll, CountNegahbanAll, CountNahastAll, CountZendanAll,
--        CountFararAll, CountEntezarKhedmatAll, CountSumHazerAll, CountSumMotafaregheAll,
--        CountBedonkariAll
--    )
--    SELECT 
--        s.DrjDailyPLookupSubId,
--        s.TitleDaraje,
--        TRY_CAST(s.DrjDailyPLookupSubId AS INT) AS SubIdInt,
--        COUNT(v.DrjDailyPLookupSubId) AS CountView_DailyPlanEvidence01,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,
--        SUM(CASE WHEN v.DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,
--        SUM(CASE WHEN v.DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll
--    FROM (SELECT DISTINCT 
--            DrjDailyPLookupSubId,
--            DrjDailyPSubLookupTitle + ' ' + DrjDailyPSubLookupDescription as TitleDaraje 
--          FROM View_DailyPlanEvidence01 
--          WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) s
--    LEFT JOIN View_DailyPlanEvidence01 v ON 
--        v.DrjDailyPLookupSubId = s.DrjDailyPLookupSubId AND
--        v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID AND
--        v.StatusConfirmation02 = 320 AND
--        (
--            (@YagenORALL = 'ALLYagen' AND @PayvarVazife = '')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = '' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
--            OR (@YagenORALL = 'ALLYagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
--        ) AND
--        v.DUS_COD01 IN ('91', '90901', '90902')
--    GROUP BY s.DrjDailyPLookupSubId, s.TitleDaraje;
    
--    -- اضافه کردن ردیف جمع
--    INSERT INTO @TempResults (
--        DrjDailyPLookupSubId, TitleDaraje, SubIdInt,
--        CountView_DailyPlanEvidence01, CountMojodiAll, CountMamorBeAll, CountMamorAzAll,
--        CountEdeKolAll, CountMorakhasiAll, CountMamorDoorAll, CountMamorNazdikAll,
--        CountEstarahatKariAll, CountEstarahatNegahbanAll, CountEstarahatPezashkiAll,
--        CountEzamBimarestanAll, CountNegahbanAll, CountNahastAll, CountZendanAll,
--        CountFararAll, CountEntezarKhedmatAll, CountSumHazerAll, CountSumMotafaregheAll,
--        CountBedonkariAll, IsTotalRow
--    )
--    SELECT 
--        'جمع کل' AS DrjDailyPLookupSubId,
--        '' AS TitleDaraje,
--        999999 AS SubIdInt, -- مقدار بزرگ برای قرار گرفتن در انتهای لیست
--        SUM(CountView_DailyPlanEvidence01),
--        SUM(CountMojodiAll),
--        SUM(CountMamorBeAll),
--        SUM(CountMamorAzAll),
--        SUM(CountEdeKolAll),
--        SUM(CountMorakhasiAll),
--        SUM(CountMamorDoorAll),
--        SUM(CountMamorNazdikAll),
--        SUM(CountEstarahatKariAll),
--        SUM(CountEstarahatNegahbanAll),
--        SUM(CountEstarahatPezashkiAll),
--        SUM(CountEzamBimarestanAll),
--        SUM(CountNegahbanAll),
--        SUM(CountNahastAll),
--        SUM(CountZendanAll),
--        SUM(CountFararAll),
--        SUM(CountEntezarKhedmatAll),
--        SUM(CountSumHazerAll),
--        SUM(CountSumMotafaregheAll),
--        SUM(CountBedonkariAll),
--        1 AS IsTotalRow -- علامت گذاری به عنوان ردیف جمع
--    FROM @TempResults;
    
--    -- درج نتایج با ترتیب مورد نظر
--    INSERT INTO @ResultTable (
--        DrjDailyPLookupSubId, TitleDaraje,
--        CountView_DailyPlanEvidence01, CountMojodiAll, CountMamorBeAll, CountMamorAzAll,
--        CountEdeKolAll, CountMorakhasiAll, CountMamorDoorAll, CountMamorNazdikAll,
--        CountEstarahatKariAll, CountEstarahatNegahbanAll, CountEstarahatPezashkiAll,
--        CountEzamBimarestanAll, CountNegahbanAll, CountNahastAll, CountZendanAll,
--        CountFararAll, CountEntezarKhedmatAll, CountSumHazerAll, CountSumMotafaregheAll,
--        CountBedonkariAll, IsTotalRow
--    )
--    SELECT 
--        DrjDailyPLookupSubId,
--        TitleDaraje,
--        CountView_DailyPlanEvidence01,
--        CountMojodiAll,
--        CountMamorBeAll,
--        CountMamorAzAll,
--        CountEdeKolAll,
--        CountMorakhasiAll,
--        CountMamorDoorAll,
--        CountMamorNazdikAll,
--        CountEstarahatKariAll,
--        CountEstarahatNegahbanAll,
--        CountEstarahatPezashkiAll,
--        CountEzamBimarestanAll,
--        CountNegahbanAll,
--        CountNahastAll,
--        CountZendanAll,
--        CountFararAll,
--        CountEntezarKhedmatAll,
--        CountSumHazerAll,
--        CountSumMotafaregheAll,
--        CountBedonkariAll,
--        IsTotalRow
--    FROM @TempResults
--    ORDER BY IsTotalRow, SubIdInt; -- ابتدا ردیف‌های عادی سپس ردیف جمع
    
--    RETURN;
--END;

















--	ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
--    @PayvarVazife NVARCHAR(20) = '',
--    @YagenORALL NVARCHAR(10) = 'ALLYagen',
--    @DailyActivityEvidence01ID NVARCHAR(50),
--    @UitID01 NVARCHAR(50) = NULL
--)
--RETURNS @ResultTable TABLE (
--    DrjDailyPLookupSubId NVARCHAR(50),
--    TitleDaraje NVARCHAR(200), -- اضافه کردن ستون عنوان درجه
--    CountView_DailyPlanEvidence01 INT,
--    CountMojodiAll INT,
--    CountMamorBeAll INT,
--    CountMamorAzAll INT,
--    CountEdeKolAll INT,
--    CountMorakhasiAll INT,
--    CountMamorDoorAll INT,
--    CountMamorNazdikAll INT,
--    CountEstarahatKariAll INT,
--    CountEstarahatNegahbanAll INT,
--    CountEstarahatPezashkiAll INT,
--    CountEzamBimarestanAll INT,
--    CountNegahbanAll INT,
--    CountNahastAll INT,
--    CountZendanAll INT,
--    CountFararAll INT,
--    CountEntezarKhedmatAll INT,
--    CountSumHazerAll INT,
--    CountSumMotafaregheAll INT,
--    CountBedonkariAll INT
--)
--AS
--BEGIN
--    -- جدول موقت برای ذخیره نتایج با امکان مرتب‌سازی
--    DECLARE @TempResults TABLE (
--        DrjDailyPLookupSubId NVARCHAR(50),
--        TitleDaraje NVARCHAR(200),
--        SubIdInt INT,
--        CountView_DailyPlanEvidence01 INT,
--        CountMojodiAll INT,
--        CountMamorBeAll INT,
--        CountMamorAzAll INT,
--        CountEdeKolAll INT,
--        CountMorakhasiAll INT,
--        CountMamorDoorAll INT,
--        CountMamorNazdikAll INT,
--        CountEstarahatKariAll INT,
--        CountEstarahatNegahbanAll INT,
--        CountEstarahatPezashkiAll INT,
--        CountEzamBimarestanAll INT,
--        CountNegahbanAll INT,
--        CountNahastAll INT,
--        CountZendanAll INT,
--        CountFararAll INT,
--        CountEntezarKhedmatAll INT,
--        CountSumHazerAll INT,
--        CountSumMotafaregheAll INT,
--        CountBedonkariAll INT
--    );
    
--    -- محاسبه نتایج و ذخیره در جدول موقت
--    INSERT INTO @TempResults
--    SELECT 
--        s.DrjDailyPLookupSubId,
--        s.TitleDaraje,
--        TRY_CAST(s.DrjDailyPLookupSubId AS INT) AS SubIdInt,
--        COUNT(v.DrjDailyPLookupSubId) AS CountView_DailyPlanEvidence01,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,
--        SUM(CASE WHEN v.DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,
--        SUM(CASE WHEN v.DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll
--    FROM (SELECT DISTINCT 
--            DrjDailyPLookupSubId,
--            DrjDailyPSubLookupTitle + ' ' + DrjDailyPSubLookupDescription as TitleDaraje 
--          FROM View_DailyPlanEvidence01 
--          WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) s
--    LEFT JOIN View_DailyPlanEvidence01 v ON 
--        v.DrjDailyPLookupSubId = s.DrjDailyPLookupSubId AND
--        v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID AND
--        v.StatusConfirmation02 = 320 AND
--        (
--            (@YagenORALL = 'ALLYagen' AND @PayvarVazife = '')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = '' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
--            OR (@YagenORALL = 'ALLYagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
--        ) AND
--        v.DUS_COD01 IN ('91', '90901', '90902')
--    GROUP BY s.DrjDailyPLookupSubId, s.TitleDaraje;
    
--    -- درج نتایج با ترتیب مورد نظر
--    INSERT INTO @ResultTable
--    SELECT 
--        DrjDailyPLookupSubId,
--        TitleDaraje,
--        CountView_DailyPlanEvidence01,
--        CountMojodiAll,
--        CountMamorBeAll,
--        CountMamorAzAll,
--        CountEdeKolAll,
--        CountMorakhasiAll,
--        CountMamorDoorAll,
--        CountMamorNazdikAll,
--        CountEstarahatKariAll,
--        CountEstarahatNegahbanAll,
--        CountEstarahatPezashkiAll,
--        CountEzamBimarestanAll,
--        CountNegahbanAll,
--        CountNahastAll,
--        CountZendanAll,
--        CountFararAll,
--        CountEntezarKhedmatAll,
--        CountSumHazerAll,
--        CountSumMotafaregheAll,
--        CountBedonkariAll
--    FROM @TempResults
--    ORDER BY SubIdInt;
    
--    RETURN;
--END;



























--	ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
--    @PayvarVazife NVARCHAR(20) = '',
--    @YagenORALL NVARCHAR(10) = 'ALLYagen',
--    @DailyActivityEvidence01ID NVARCHAR(50),
--    @UitID01 NVARCHAR(50) = NULL
--)
--RETURNS @ResultTable TABLE (
--    DrjDailyPLookupSubId NVARCHAR(50),
--    CountView_DailyPlanEvidence01 INT,
--    CountMojodiAll INT,
--    CountMamorBeAll INT,
--    CountMamorAzAll INT,
--    CountEdeKolAll INT,
--    CountMorakhasiAll INT,
--    CountMamorDoorAll INT,
--    CountMamorNazdikAll INT,
--    CountEstarahatKariAll INT,
--    CountEstarahatNegahbanAll INT,
--    CountEstarahatPezashkiAll INT,
--    CountEzamBimarestanAll INT,
--    CountNegahbanAll INT,
--    CountNahastAll INT,
--    CountZendanAll INT,
--    CountFararAll INT,
--    CountEntezarKhedmatAll INT,
--    CountSumHazerAll INT,
--    CountSumMotafaregheAll INT,
--    CountBedonkariAll INT
--)
--AS
--BEGIN
--    -- جدول موقت برای ذخیره نتایج با امکان مرتب‌سازی
--    DECLARE @TempResults TABLE (
--        DrjDailyPLookupSubId NVARCHAR(50),
--        SubIdInt INT,
--        CountView_DailyPlanEvidence01 INT,
--        CountMojodiAll INT,
--        CountMamorBeAll INT,
--        CountMamorAzAll INT,
--        CountEdeKolAll INT,
--        CountMorakhasiAll INT,
--        CountMamorDoorAll INT,
--        CountMamorNazdikAll INT,
--        CountEstarahatKariAll INT,
--        CountEstarahatNegahbanAll INT,
--        CountEstarahatPezashkiAll INT,
--        CountEzamBimarestanAll INT,
--        CountNegahbanAll INT,
--        CountNahastAll INT,
--        CountZendanAll INT,
--        CountFararAll INT,
--        CountEntezarKhedmatAll INT,
--        CountSumHazerAll INT,
--        CountSumMotafaregheAll INT,
--        CountBedonkariAll INT
--    );
    
--    -- محاسبه نتایج و ذخیره در جدول موقت
--    INSERT INTO @TempResults
--    SELECT 
--        s.DrjDailyPLookupSubId AS DrjDailyPLookupSubId,
--		s.TitleDaraje,
--        TRY_CAST(s.DrjDailyPLookupSubId AS INT) AS SubIdInt,
--        COUNT(v.DrjDailyPLookupSubId) AS CountView_DailyPlanEvidence01,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,
--        SUM(CASE WHEN v.DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,
--        SUM(CASE WHEN v.DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll
--    FROM (SELECT DISTINCT DrjDailyPLookupSubId,DrjDailyPSubLookupTitle+ ' '+ DrjDailyPSubLookupDescription as [TitleDaraje] FROM View_DailyPlanEvidence01 
--          WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) s
--    LEFT JOIN View_DailyPlanEvidence01 v ON 
--        v.DrjDailyPLookupSubId = s.DrjDailyPLookupSubId AND
--        v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID AND
--        v.StatusConfirmation02 = 320 AND
--        (
--            (@YagenORALL = 'ALLYagen' AND @PayvarVazife = '')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = '' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
--            OR (@YagenORALL = 'ALLYagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
--        ) AND
--        v.DUS_COD01 IN ('91', '90901', '90902')
--    GROUP BY s.DrjDailyPLookupSubId;
    
--    -- درج نتایج با ترتیب مورد نظر
--    INSERT INTO @ResultTable
--    SELECT 
--        DrjDailyPLookupSubId,
--        CountView_DailyPlanEvidence01,
--        CountMojodiAll,
--        CountMamorBeAll,
--        CountMamorAzAll,
--        CountEdeKolAll,
--        CountMorakhasiAll,
--        CountMamorDoorAll,
--        CountMamorNazdikAll,
--        CountEstarahatKariAll,
--        CountEstarahatNegahbanAll,
--        CountEstarahatPezashkiAll,
--        CountEzamBimarestanAll,
--        CountNegahbanAll,
--        CountNahastAll,
--        CountZendanAll,
--        CountFararAll,
--        CountEntezarKhedmatAll,
--        CountSumHazerAll,
--        CountSumMotafaregheAll,
--        CountBedonkariAll
--    FROM @TempResults
--    ORDER BY SubIdInt;
    
--    RETURN;
--END;














	--خوب کار می کند 

--	ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
--    @PayvarVazife NVARCHAR(20) = '',
--    @YagenORALL NVARCHAR(10) = 'ALLYagen',
--    @DailyActivityEvidence01ID NVARCHAR(50),
--    @UitID01 NVARCHAR(50) = NULL
--)
--RETURNS @ResultTable TABLE (
--    DrjDailyPLookupSubId NVARCHAR(50),
--    CountView_DailyPlanEvidence01 INT,
--    CountMojodiAll INT,
--    CountMamorBeAll INT,
--    CountMamorAzAll INT,
--    CountEdeKolAll INT,
--    CountMorakhasiAll INT,
--    CountMamorDoorAll INT,
--    CountMamorNazdikAll INT,
--    CountEstarahatKariAll INT,
--    CountEstarahatNegahbanAll INT,
--    CountEstarahatPezashkiAll INT,
--    CountEzamBimarestanAll INT,
--    CountNegahbanAll INT,
--    CountNahastAll INT,
--    CountZendanAll INT,
--    CountFararAll INT,
--    CountEntezarKhedmatAll INT,
--    CountSumHazerAll INT,
--    CountSumMotafaregheAll INT,
--    CountBedonkariAll INT
--)
--AS
--BEGIN
--    -- ابتدا تمام مقادیر DrjDailyPLookupSubId موجود را جمع آوری می‌کنیم
--    DECLARE @AllSubIds TABLE (SubId NVARCHAR(50));
    
--    INSERT INTO @AllSubIds
--    SELECT DISTINCT DrjDailyPLookupSubId
--    FROM View_DailyPlanEvidence01
--    WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
    
--    -- برای هر مقدار DrjDailyPLookupSubId محاسبات را انجام می‌دهیم
--    INSERT INTO @ResultTable
--    SELECT 
--        s.SubId AS DrjDailyPLookupSubId,
--        COUNT(v.DrjDailyPLookupSubId) AS CountView_DailyPlanEvidence01,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,
--        SUM(CASE WHEN v.DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,
--        SUM(CASE WHEN v.DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,
--        SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll
--    FROM @AllSubIds s
--    LEFT JOIN View_DailyPlanEvidence01 v ON 
--        v.DrjDailyPLookupSubId = s.SubId AND
--        v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID AND
--        v.StatusConfirmation02 = 320 AND
--        (
--            (@YagenORALL = 'ALLYagen' AND @PayvarVazife = '')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = '' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
--            OR (@YagenORALL = 'ALLYagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه' AND (v.UnitDailyCategoryGeneralId = @UitID01 OR @UitID01 IS NULL))
--        ) AND
--        v.DUS_COD01 IN ('91', '90901', '90902')
--    GROUP BY s.SubId;
    
--    RETURN;
--END;
















--	ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
--    @PayvarVazife NVARCHAR(20)  ,
--    @YagenORALL NVARCHAR(10)   ,
--    @DailyActivityEvidence01ID NVARCHAR(10),
--    @UitID01 NVARCHAR(10) = NULL
--)
--RETURNS @ResultTable TABLE (
--    DrjDailyPLookupSubId NVARCHAR(50),
--    CountView_DailyPlanEvidence01 INT,
--    CountMojodiAll INT,
--    CountMamorBeAll INT,
--    CountMamorAzAll INT,
--    CountEdeKolAll INT,
--    CountMorakhasiAll INT,
--    CountMamorDoorAll INT,
--    CountMamorNazdikAll INT,
--    CountEstarahatKariAll INT,
--    CountEstarahatNegahbanAll INT,
--    CountEstarahatPezashkiAll INT,
--    CountEzamBimarestanAll INT,
--    CountNegahbanAll INT,
--    CountNahastAll INT,
--    CountZendanAll INT,
--    CountFararAll INT,
--    CountEntezarKhedmatAll INT,
--    CountSumHazerAll INT,
--    CountSumMotafaregheAll INT,
--    CountBedonkariAll INT
--)
--AS
--BEGIN
--    -- ایجاد جدول موقت برای ذخیره تمام مقادیر DrjDailyPLookupSubId
--    DECLARE @AllSubIds TABLE (SubId NVARCHAR(50));
    
--    INSERT INTO @AllSubIds
--    SELECT DISTINCT DrjDailyPLookupSubId
--    FROM View_DailyPlanEvidence01
--    WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
    
--    -- برای هر مقدار DrjDailyPLookupSubId محاسبات را انجام دهید
--    INSERT INTO @ResultTable
--    SELECT 
--        s.SubId AS DrjDailyPLookupSubId,
--        SUM(CASE WHEN v.DrjDailyPLookupSubId = s.SubId THEN 1 ELSE 0 END) AS CountView_DailyPlanEvidence01,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,
--        SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,
--        SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll
--    FROM @AllSubIds s
--    LEFT JOIN View_DailyPlanEvidence01 v ON 
--        v.DrjDailyPLookupSubId = s.SubId AND
--        v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID AND
--        v.StatusConfirmation02 = 320 AND
--        (
--            (@YagenORALL = 'ALLYagen' AND @PayvarVazife = '')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = '' AND v.UnitDailyCategoryGeneralId = @UitID01)
--            OR (@YagenORALL = 'ALLYagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = 'Vazifeh' AND v.DrjSubLookupDescription = N'وظیفه' AND v.UnitDailyCategoryGeneralId = @UitID01)
--        ) AND
--        v.DUS_COD01 IN ('91', '90901', '90902')
--    GROUP BY s.SubId
--    HAVING SUM(CASE WHEN v.DrjDailyPLookupSubId = s.SubId THEN 1 ELSE 0 END) > 0;
    
--    RETURN;
--END;







--	ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
--    @PayvarVazife NVARCHAR(20),
--    @YagenORALL NVARCHAR(10),
--    @DailyActivityEvidence01ID NVARCHAR(10),
--    @UitID01 NVARCHAR(10)
--)
--RETURNS @ResultTable TABLE (
--    DrjDailyPLookupSubId NVARCHAR(50), -- اضافه کردن ستون گروه‌بندی
--    CountView_DailyPlanEvidence01 INT,
--    CountMojodiAll INT,
--    CountMamorBeAll INT,
--    CountMamorAzAll INT,
--    CountEdeKolAll INT,
--    CountMorakhasiAll INT,
--    CountMamorDoorAll INT,
--    CountMamorNazdikAll INT,
--    CountEstarahatKariAll INT,
--    CountEstarahatNegahbanAll INT,
--    CountEstarahatPezashkiAll INT,
--    CountEzamBimarestanAll INT,
--    CountNegahbanAll INT,
--    CountNahastAll INT,
--    CountZendanAll INT,
--    CountFararAll INT,
--    CountEntezarKhedmatAll INT,
--    CountSumHazerAll INT,
--    CountSumMotafaregheAll INT,
--    CountBedonkariAll INT
--)
--AS
--BEGIN
--    INSERT INTO @ResultTable
--    SELECT 
--        DrjDailyPLookupSubId, -- اضافه کردن ستون به خروجی
--        COUNT(*) AS CountView_DailyPlanEvidence01,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,
--        SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,
--        SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll
--    FROM View_DailyPlanEvidence01
--    WHERE 
--        DailyActivityEvidence01ID = @DailyActivityEvidence01ID 
--        AND StatusConfirmation02 = 320
--        AND (
--            (@YagenORALL = 'ALLYagen' AND @PayvarVazife = '')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = '' AND UnitDailyCategoryGeneralId = @UitID01)
--            OR (@YagenORALL = 'ALLYagen' AND @PayvarVazife = 'Vazifeh' AND DrjSubLookupDescription = N'وظیفه')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = 'Vazifeh' AND DrjSubLookupDescription = N'وظیفه' AND UnitDailyCategoryGeneralId = @UitID01)
--        )
--        AND DUS_COD01 IN ('91', '90901', '90902')
--    GROUP BY DrjDailyPLookupSubId; -- گروه‌بندی بر اساس این ستون
    
--    RETURN;
--END;
















--	ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
--    @PayvarVazife NVARCHAR(MAX),
--    @YagenORALL NVARCHAR(MAX),
--    @DailyActivityEvidence01ID NVARCHAR(MAX),
--    @UitID01 NVARCHAR(MAX)
--)
--RETURNS @ResultTable TABLE (
--    CountView_DailyPlanEvidence01 INT,
--    CountMojodiAll INT,
--    CountMamorBeAll INT,
--    CountMamorAzAll INT,
--    CountEdeKolAll INT,
--    CountMorakhasiAll INT,
--    CountMamorDoorAll INT,
--    CountMamorNazdikAll INT,
--    CountEstarahatKariAll INT,
--    CountEstarahatNegahbanAll INT,
--    CountEstarahatPezashkiAll INT,
--    CountEzamBimarestanAll INT,
--    CountNegahbanAll INT,
--    CountNahastAll INT,
--    CountZendanAll INT,
--    CountFararAll INT,
--    CountEntezarKhedmatAll INT,
--    CountSumHazerAll INT,
--    CountSumMotafaregheAll INT,
--    CountBedonkariAll INT
--)
--AS
--BEGIN
--    INSERT INTO @ResultTable
--    SELECT 
--	        DrjDailyPLookupSubId, 

--        COUNT(*) AS CountView_DailyPlanEvidence01,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,
--        SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,
--        SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll
--    FROM View_DailyPlanEvidence01
	 

--    WHERE 
--        DailyActivityEvidence01ID = @DailyActivityEvidence01ID 
--        AND StatusConfirmation02 = 320
--        AND (
--            (@YagenORALL = 'ALLYagen' AND @PayvarVazife = '')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = '' AND UnitDailyCategoryGeneralId = @UitID01)
--            OR (@YagenORALL = 'ALLYagen' AND @PayvarVazife = 'Vazifeh' AND DrjSubLookupDescription = N'وظیفه')
--            OR (@YagenORALL = 'Yagen' AND @PayvarVazife = 'Vazifeh' AND DrjSubLookupDescription = N'وظیفه' AND UnitDailyCategoryGeneralId = @UitID01)
--        )
--        AND DUS_COD01 IN ('91', '90901', '90902')
--		   GROUP BY DrjDailyPLookupSubId
--		;
    
--    RETURN;
--END;












--  ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
--    @PayvarVazife NVARCHAR(MAX),
--    @YagenORALL NVARCHAR(MAX),
--    @DailyActivityEvidence01ID NVARCHAR(MAX),
--    @UitID01 NVARCHAR(MAX)
--)
--RETURNS @ResultTable TABLE (
--    CountView_DailyPlanEvidence01 INT,
--    CountMojodiAll INT,
--    CountMamorBeAll INT,
--    CountMamorAzAll INT,
--    CountEdeKolAll INT ,
--    CountMorakhasiAll INT,   
--    CountMamorDoorAll INT,   
--    CountMamorNazdikAll INT,   

--    CountEstarahatKariAll INT,   
--        CountEstarahatNegahbanAll INT,   
--    CountEstarahatPezashkiAll INT,   
-- CountEzamBimarestanAll INT,   
--       CountNegahbanAll INT,   
--    CountNahastAll INT, 
--    CountZendanAll INT,   
--	CountFararAll INT,   
  
--    CountEntezarKhedmatAll INT,   
--    CountSumHazerAll INT, 
	
--    CountSumMotafaregheAll INT,   
--	    CountBedonkariAll INT    

--)
--AS
--BEGIN
--    -- درج مستقیم نتایج با اعمال شرط Yagen
--    INSERT INTO @ResultTable
--    SELECT 
--        COUNT(*) AS CountView_DailyPlanEvidence01, -- تعداد کل رکوردها
--        --DrjDailyPLookupSubId,
--		SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodiAll,  -- مجموع موجودی
--        SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBeAll,  -- مأمور به عده
--        SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAzAll, -- مأمور از عده
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKolAll,  -- عده کل  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasiAll,  -- مرخصی  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoorAll,  -- مأمور دور  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdikAll,  -- مأمور نزدیک  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKariAll,  --استراحت آمادگی  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahbanAll,  -- استراحت نگهبانی  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashkiAll,  -- استراحت پزشکی  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestanAll,  -- اعزام بیمارستان  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahbanAll,  -- نگهبان   
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahastAll,  -- نهست  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendanAll,  -- زندان   
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFararAll,  -- فرار  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmatAll,  -- انتظار خدمت  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazerAll,  --حاضر  
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafaregheAll,  -- متفرقه   
--        SUM(CASE WHEN DUS_COD01 IN ('91', '90902') and StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkariAll   -- بدون کاری   

		
--	FROM View_DailyPlanEvidence01
--    WHERE 
--        DailyActivityEvidence01ID = @DailyActivityEvidence01ID 
--        AND StatusConfirmation02 = 320
--        AND (
--            @YagenORALL = 'ALLYagen' and @PayvarVazife=''  -- اگر مقدار 'ALLYagen' باشد، همه داده‌ها را بررسی کند
--            OR (@YagenORALL = 'Yagen'and @PayvarVazife='' AND UnitDailyCategoryGeneralId = @UitID01) -- در حالت 'Yagen'، فیلتر بر اساس واحد خاص اعمال شود
--           OR @YagenORALL = 'ALLYagen' and @PayvarVazife='Vazifeh'   AND DrjSubLookupDescription = N'وظیفه' -- اگر مقدار 'ALLYagen' باشد، همه داده‌ها را بررسی کند
--            OR (@YagenORALL = 'Yagen'and @PayvarVazife='Vazifeh'  AND DrjSubLookupDescription = N'وظیفه' AND  UnitDailyCategoryGeneralId = @UitID01) -- در حالت 'Yagen'، فیلتر بر اساس واحد خاص اعمال شود
--		)
--        AND DUS_COD01 IN ('91', '90901', '90902'); -- فیلتر نهایی برای مقادیر مورد نیاز

--    RETURN;
--END;




































----ALTER FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
----    @YagenORALL NVARCHAR(MAX),
----    @DailyActivityEvidence01ID NVARCHAR(MAX),
----    @UitID01 NVARCHAR(MAX)
----)
----RETURNS @ResultTable TABLE (
----    CountView_DailyPlanEvidence01 INT,
----	 	CountMojodiAll INT,

----	CountMamorBeAll INT,
----	CountMamorAzAll INT,
----	CountEdeKolAll INT   
----)
----AS
----BEGIN
----    -- ایجاد جدول موقت برای ذخیره داده‌های اولیه
----    DECLARE @TempTable TABLE (
----        CountView_DailyPlanEvidence01 INT,
----        CountMojodi INT,
----        DUS_COD01 NVARCHAR(10),
----        StatusConfirmation02 INT  -- برای فیلترهای خاص
----    );

----    -- فیلتر اولیه بر اساس مقدار @YagenORALL
----    IF (@YagenORALL = 'ALLYagen')
----    BEGIN
----        INSERT INTO @TempTable
----        SELECT 
----            COUNT(*) AS CountView_DailyPlanEvidence01,
----           COUNT(*) AS CountMojodi,  -- فرض بر اینکه Mojodi یک فیلد عددی در جدول است
----            DUS_COD01,
----            StatusConfirmation02
----        FROM View_DailyPlanEvidence01
----        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
----          AND StatusConfirmation02 = 320
----        GROUP BY DUS_COD01, StatusConfirmation02;
----    END
----    ELSE IF (@YagenORALL = 'Yagen')
----    BEGIN
----        INSERT INTO @TempTable
----        SELECT 
----            COUNT(*) AS CountView_DailyPlanEvidence01,
----            COUNT(*) AS CountMojodi,
----            DUS_COD01,
----            StatusConfirmation02
----        FROM View_DailyPlanEvidence01
----        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
----          AND StatusConfirmation02 = 320
----          AND UnitDailyCategoryGeneralId = @UitID01
----        GROUP BY DUS_COD01, StatusConfirmation02;
----    END

----    -- **اعمال فیلترهای متفاوت برای ستون‌های مختلف**
----    INSERT INTO @ResultTable
----    SELECT 
----        SUM(CountView_DailyPlanEvidence01) AS CountView_DailyPlanEvidence01,
----        SUM(CASE WHEN DUS_COD01 = '91' OR DUS_COD01 = '90901' THEN CountMojodi ELSE 0 END) AS CountMojodiAll,  -- موجودی
----		SUM(CASE WHEN DUS_COD01 = '90902' THEN CountMojodi ELSE 0 END) AS CountMamorBeAll,  -- مأمور به عده
----        SUM(CASE WHEN DUS_COD01 = '90901' THEN CountMojodi ELSE 0 END) AS CountMamorAzAll, -- مأمور از عده
----		SUM(CASE WHEN DUS_COD01 = '91' OR DUS_COD01 = '90902' THEN CountMojodi ELSE 0 END) AS CountEdeKolAll  -- عده کل  

----    FROM @TempTable
----    WHERE DUS_COD01 = '91' OR DUS_COD01 = '90901'OR DUS_COD01 = '90902';

----    RETURN;
----END;


























----alter FUNCTION [dbo].[GetDailyPlanEvidence01_TblCount011](
----    @YagenORALL NVARCHAR(max),
----    @DailyActivityEvidence01ID NVARCHAR(max),
----    @UitID01 NVARCHAR(max)
----)
----RETURNS @ResultTable TABLE (CountView_DailyPlanEvidence01 INT)
----AS
----BEGIN

---- --SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('ALLYagen','0cb251cd-128b-4e3e-a247-978b62332b34', '24')  AS CountView_DailyPlanEvidence01
 
---- --SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('Yagen','0cb251cd-128b-4e3e-a247-978b62332b34', '24')  AS CountView_DailyPlanEvidence01
	  



----    IF (@YagenORALL = 'ALLYagen')
----    BEGIN
----        INSERT INTO @ResultTable
----        SELECT COUNT(*) AS CountView_DailyPlanEvidence01
----        FROM View_DailyPlanEvidence01
----        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
----          AND StatusConfirmation02 = 320;
----    END
----    ELSE IF (@YagenORALL = 'Yagen')
----    BEGIN
----        INSERT INTO @ResultTable
----        SELECT COUNT(*) AS CountView_DailyPlanEvidence01
----        FROM View_DailyPlanEvidence01
----        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
----          AND StatusConfirmation02 = 320
----          AND UnitDailyCategoryGeneralId = @UitID01;
----    END

----SELECT	 COUNT(*)  AS CountView_DailyPlanEvidence01 
----FROM @ResultTable
----WHERE DUS_COD01 = '91' or  DUS_COD01 = '90901'




----    RETURN;
----END;
