USE [NewsDB]
GO
/****** Object:  UserDefinedFunction [dbo].[GetFilteredRecordCount]    Script Date: 4/16/2025 5:19:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[GetFilteredRecordCount](
    @DateDesAmar01 nvarchar(10),
    @DateDesAmar02 nvarchar(10)
)
RETURNS TABLE
AS
RETURN 
(
    SELECT 
        COUNT(*) AS CountDatelHoliday01
     
     FROM View_DateProperty01_Tbl

	 --FROM View_DateProperty01_Tbl WITH (INDEX(IX_DateProperty01_Tbl_TimwStartEnd01))

    WHERE 
        TimwStartEnd01 = 625 
        AND DateProperty01ID >= @DateDesAmar01 
        AND DateProperty01ID < @DateDesAmar02
);
