USE [NewsDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateTimeFromHistoryTraficPersonal01ID]    Script Date: 9/13/2025 6:34:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*
--	-- مثال فراخوانی روال

EXEC sp_CreateDailyActivityEvidence01 
   
 Job_sp_CreateDailyActivityEvidence01
	*/

ALTER   PROCEDURE [dbo].[sp_CalculateTimeFromHistoryTraficPersonal01ID]
       
AS
BEGIN
    SET NOCOUNT ON;
	----به روز رسانی ساعت اضافه کار از TimeFromHistoryTraficPersonal01ID

update [NewsDB].[dbo].[View_DailyPlanEvidence02] set TimeFromHistoryTraficPersonal01ID =null
UPDATE d
SET d.TimeFromHistoryTraficPersonal01ID = t.DiffTime
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN (
    SELECT 
        MelliCode,
        SUBSTRING(Date01,0,11) AS Date01,
        -- اختلاف Vartext03 - Vartext01
        CONVERT(
            VARCHAR(5),
            DATEADD(
                MINUTE,
                DATEDIFF(
                    MINUTE,
                    TRY_CAST(STUFF(Vartext01, 3, 0, ':') AS TIME),
                    TRY_CAST(STUFF(Vartext03, 3, 0, ':') AS TIME)
                ),
                0
            ),
            108
        ) AS DiffTime
    FROM [NewsDB].[dbo].[View_HistoryTraficPersonal03_Tbl]
    WHERE [TypeLetter01] = 780 and StatusConfirmation03=320
      AND ISNUMERIC(Vartext01) = 1 AND LEN(Vartext01) = 4
      AND ISNUMERIC(Vartext03) = 1 AND LEN(Vartext03) = 4
) t 
   ON d.MelliCode = t.MelliCode
  AND d.Date01 = t.Date01;


--  --به روز رسانی ساعت اضافه کار از TimeFromHistoryTraficPersonal01ID




   





--   UPDATE d
--SET 
--    d.TimeFromHistoryTraficPersonal01ID =
--        CASE 
--            WHEN DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME)) < 0 
--                THEN '00:00'
--            ELSE 
--                RIGHT('0' + CAST(DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME)) / 60 AS VARCHAR), 2)
--                + ':' +
--                RIGHT('0' + CAST(DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME)) % 60 AS VARCHAR), 2)
--        END,
        
--    d.TimeEzafehInDayFromHistoryTraficPersonal01ID =
--        CASE 
--            WHEN DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME)) < 0 
--                THEN '00:00'
--            ELSE 
--                RIGHT('0' + CAST(DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME)) / 60 AS VARCHAR), 2)
--                + ':' +
--                RIGHT('0' + CAST(DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME)) % 60 AS VARCHAR), 2)
--        END
--FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
--WHERE d.TimeFromHistoryTraficPersonal01ID IS NOT NULL;






--UPDATE d
--SET d.TimeEzafehInDayFromHistoryTraficPersonal01ID =
--    CASE 
--        WHEN (
--            (CAST(LEFT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT) * 60 
--             + CAST(RIGHT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT))
--            - DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME))
--        ) < 0 
--        THEN '00:00'
--        ELSE 
--            RIGHT('0' + CAST((
--                (CAST(LEFT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT) * 60 
--                + CAST(RIGHT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT))
--                - DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME))
--            ) / 60 AS VARCHAR), 2)
--            + ':' +
--            RIGHT('0' + CAST((
--                (CAST(LEFT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT) * 60 
--                + CAST(RIGHT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT))
--                - DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME))
--            ) % 60 AS VARCHAR), 2)
--    END
--FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
--WHERE d.TimeFromHistoryTraficPersonal01ID IS NOT NULL;


UPDATE d
SET d.TimeEzafehInDayFromHistoryTraficPersonal01ID =
    CASE 
        WHEN (
            (CAST(LEFT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT) * 60 
             + CAST(RIGHT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT))
            - DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME))
        ) < 0 
        THEN '00:00'
        ELSE 
            CASE 
                WHEN (
                    (CAST(LEFT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT) * 60 
                     + CAST(RIGHT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT))
                    - DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME))
                ) <= 420  -- یعنی 7 ساعت یا کمتر
                THEN 
                    RIGHT('0' + CAST(( 
                        (CAST(LEFT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT) * 60 
                        + CAST(RIGHT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT))
                        - DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME))
                    ) / 60 AS VARCHAR), 2)
                    + ':' +
                    RIGHT('0' + CAST(( 
                        (CAST(LEFT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT) * 60 
                        + CAST(RIGHT(d.TimeFromHistoryTraficPersonal01ID, 2) AS INT))
                        - DATEDIFF(MINUTE, TRY_CAST(d.strTimwStart01 AS TIME), TRY_CAST(d.strTimwEnd01 AS TIME))
                    ) % 60 AS VARCHAR), 2)
                ELSE '07:00'
            END
    END
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
WHERE d.TimeFromHistoryTraficPersonal01ID IS NOT NULL;










;WITH CTE AS (
    SELECT 
        MelliCode,
        SUBSTRING(Date01,0,8) AS YearMonth,
        SUM(CAST(LEFT(TimeEzafehInDayFromHistoryTraficPersonal01ID, 2) AS INT) * 60
          + CAST(RIGHT(TimeEzafehInDayFromHistoryTraficPersonal01ID, 2) AS INT)) AS TotalMinutes
    FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
    WHERE TimeEzafehInDayFromHistoryTraficPersonal01ID IS NOT NULL
    GROUP BY MelliCode, SUBSTRING(Date01,0,8)
)
--UPDATE d
--SET d.TimeEzafehInMonthFromHistoryTraficPersonal01ID =
--    RIGHT('0' + CAST(c.TotalMinutes / 60 AS VARCHAR), 2) 
--    + ':' + 
--    RIGHT('0' + CAST(c.TotalMinutes % 60 AS VARCHAR), 2)
--FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
--INNER JOIN CTE c
--    ON d.MelliCode = c.MelliCode 
--   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;

UPDATE d
SET d.TimeEzafehInMonthFromHistoryTraficPersonal01ID =
    CAST(c.TotalMinutes / 60 AS VARCHAR(10))  -- ساعت کامل، بدون بریدن
    + ':' + 
    RIGHT('0' + CAST(c.TotalMinutes % 60 AS VARCHAR(2)), 2)  -- دقیقه همیشه دو رقمی
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN CTE c
    ON d.MelliCode = c.MelliCode 
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;


   --NorestAmadegiNegahbani
   ;WITH cte AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('585','587')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NorestAmadegiNegahbani = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cte c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NorestAmadegiNegahbani




   
   --NoMorakhasi
   ;WITH cteNoMorakhasi AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('581')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoMorakhasi = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoMorakhasi c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoMorakhasi




      
   --NoMamordoor
   ;WITH cteNoMamordoor AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('582')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoMamordoor = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoMamordoor c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoMamordoor




      
   --NoMamorNazdik
   ;WITH cteNoMamorNazdik AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('583')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoMamorNazdik = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoMamorNazdik c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoMamorNazdik



      
   --NoNegahban
   ;WITH cteNoNegahban AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('584')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoNegahban = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoNegahban c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoNegahban





      
   --NoRestPezeshki
   ;WITH cteNoRestPezeshki AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('586')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoRestPezeshki = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoRestPezeshki c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoRestPezeshki


      
   --NoNahast
   ;WITH cteNoNahast AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('588')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoNahast = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoNahast c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoNahast



      
   --NoFarar
   ;WITH cteNoFarar AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('589')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoFarar = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoFarar c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoFarar


      
   --NoEzamBimarestan
   ;WITH cteNoEzamBimarestan AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('590')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoEzamBimarestan = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoEzamBimarestan c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoEzamBimarestan



      
   --NoEntezarKhedmat
   ;WITH cteNoEntezarKhedmat AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('591')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoEntezarKhedmat = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoEntezarKhedmat c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoEntezarKhedmat


      
   --NoBedonkari
   ;WITH cteNoBedonkari AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('592')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoBedonkari = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoBedonkari c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoBedonkari


      
   --NoZendan
   ;WITH cteNoZendan AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('593')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoZendan = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoZendan c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoZendan


      
   --NoHazer
   ;WITH cteNoHazer AS (
    SELECT 
        [MelliCode],
        SUBSTRING([StartDate01],0,8) AS YearMonth,
        SUM(TRY_CAST([DurationDays] AS INT)) AS TotalDurationDays
    FROM [NewsDB].[dbo].[View_DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE [StatAmar01] IN ('594')
    GROUP BY [MelliCode], SUBSTRING([StartDate01],0,8)
)
UPDATE d
SET d.NoHazer = c.TotalDurationDays
FROM [NewsDB].[dbo].[View_DailyPlanEvidence02] d
INNER JOIN cteNoHazer c 
    ON d.MelliCode = c.MelliCode
   AND SUBSTRING(d.Date01,0,8) = c.YearMonth;
   --NoHazer














 END;

 