

	--EXEC [dbo].[Update_PersonalCorrespondence01_DocumentNO01] null;

		--EXEC [dbo].[Update_PersonalCorrespondence01_DocumentNO01] ;

	--EXEC [dbo].[Update_PersonalCorrespondence01_TblFormDailyPlanEvidenceStatAmar01Summary];

	  --update [dbo].[DailyPlanEvidence01_Tbl] set [PersonalCorrespondence01ID]=null

 --delete FROM  [dbo].[PersonalCorrespondence01_Tbl]  where [TypeLetter01] in( '632','633')
 -- delete FROM  [dbo].[PersonalCorrespondence01_Tbl]  where [TypeLetter01] in( '634','635')

 

--نهست
--588
--مرخصی
--581
--حاضر
--594
--CategoryGeneralId	Title
--632	نامه اعزام به مرخصی
--633	نامه حضور از مرخصی
--634	نامه نهست
--635	نامه حضور از نهست




CREATE OR ALTER PROCEDURE [dbo].[Update_PersonalCorrespondence01_DocumentNO01]
    @PersonalCorrespondence01ID NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @PersonalCorrespondence01ID IS NULL
    BEGIN
	   UPDATE  HistoryVazifehDastoorPersonal01_Tbl set PersonalCorrespondence01ID=null

        DELETE FROM [dbo].[PersonalCorrespondence01_Tbl] WHERE [TypeLetter01] IN ('632','633');
        DELETE FROM [dbo].[PersonalCorrespondence01_Tbl] WHERE [TypeLetter01] IN ('634','635');

        EXEC [dbo].[Update_PersonalCorrespondence01_TblFormDailyPlanEvidenceStatAmar01Summary];
    END

;WITH EmployeeData AS (
    SELECT *
    FROM dbo.View_TblMaster
    WHERE MelliCode IN (
        SELECT MelliCode FROM [PersonalCorrespondence01_Tbl]
    )
),
DateCalculations AS (
    SELECT  
        pc.PersonalCorrespondence01ID,
        dbo.CalculateDaysDifference1(
            dbo.[ShamsiToMiladi](pc.DateDesAmar01),
            dbo.[ShamsiToMiladi](pc.DateDesAmar02)
        ) AS TotalDays,
        frc.CountDatelHoliday01,
        dbo.CalculateDaysDifference1(
            dbo.[ShamsiToMiladi](pc.DateDesAmar01),
            dbo.[ShamsiToMiladi](pc.DateDesAmar02)
        ) - frc.CountDatelHoliday01 AS CountVacatiaonWitoutHoliday
    FROM [dbo].[PersonalCorrespondence01_Tbl] pc
    CROSS APPLY dbo.GetFilteredRecordCount(pc.DateDesAmar01, pc.DateDesAmar02) frc
)
UPDATE pc
SET strTextContent01 = 
    CASE 
        WHEN pc.TypeLetter01 IN (632) AND ed.DrjLookupSubId NOT IN (7,8,10,12,13) THEN 
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            ISNULL(Cattypeltter01.CategoryDescription, ''),
                            'a1', N'نظامی'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, CASE WHEN pc.[DateDesAmar02] IS NULL THEN 0 ELSE dc.TotalDays END)),
                'a4', CONVERT(NVARCHAR, ISNULL(CONVERT(NVARCHAR, vdpe.strDesAmar01), '')))
                
        WHEN pc.TypeLetter01 IN (633) AND ed.DrjLookupSubId NOT IN (7,8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            REPLACE(
                                REPLACE(
                                    ISNULL(Cattypeltter01.CategoryDescription, ''), 
                                    'a1', N'نظامی'), 
                                'a2', CONVERT(NVARCHAR, ISNULL(pc.[DateDesAmar01], ''))), 
                            'a3', dc.TotalDays), 
                        'a4', CONVERT(NVARCHAR, ISNULL(vdpe.strDesAmar01, ''))), 
                    'a5', CONVERT(NVARCHAR, pc.[DateDesAmar02])), 
                'a6', CONVERT(NVARCHAR, dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) - 
                    (SELECT COUNT(TimwStartEnd01) FROM [NewsDB].[dbo].[View_DateProperty01_Tbl] 
                     WHERE (TimwStartEnd01 = 625 OR [strDateCategory01] LIKE N'%نوروز%') 
                       AND DateProperty01ID >= pc.[DateDesAmar01] AND DateProperty01ID < pc.[DateDesAmar02])))
                       
        WHEN pc.TypeLetter01 IN (634) THEN 
            REPLACE(
                REPLACE(
                    Cattypeltter01.CategoryDescription, 
                    'a1', N'نظامی'), 
                'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01]))
                
        WHEN pc.TypeLetter01 IN (635) AND ed.DrjLookupSubId NOT IN (7,8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            Cattypeltter01.CategoryDescription,
                            'a1', N'نظامی'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, pc.[DateDesAmar02])),
                'a4', dc.TotalDays)
                
        WHEN pc.TypeLetter01 IN (632) AND ed.DrjLookupSubId IN (8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            ISNULL(Cattypeltter01.CategoryDescription, ''), 
                            'a1', N'وظیفه'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, CASE WHEN pc.[DateDesAmar02] IS NULL THEN 0 ELSE dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) END)),
                'a4', CONVERT(NVARCHAR, ISNULL(CONVERT(NVARCHAR, vdpe.strDesAmar01), '')))
                
        WHEN pc.TypeLetter01 IN (633) AND ed.DrjLookupSubId IN (8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            REPLACE(
                                REPLACE(
                                    ISNULL(Cattypeltter01.CategoryDescription, ''), 
                                    'a1', N'وظیفه'), 
                                'a2', CONVERT(NVARCHAR, ISNULL(pc.[DateDesAmar01], ''))), 
                            'a3', dc.TotalDays), 
                        'a4', CONVERT(NVARCHAR, ISNULL(vdpe.strDesAmar01, ''))), 
                    'a5', CONVERT(NVARCHAR, pc.[DateDesAmar02])), 
                'a6', CONVERT(NVARCHAR, dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) - 
                    (SELECT COUNT(TimwStartEnd01) FROM [NewsDB].[dbo].[View_DateProperty01_Tbl] 
                     WHERE (TimwStartEnd01 = 625 OR [strDateCategory01] LIKE N'%نوروز%') 
                       AND DateProperty01ID >= pc.[DateDesAmar01] AND DateProperty01ID < pc.[DateDesAmar02])))
                       
        WHEN pc.TypeLetter01 IN (634) THEN 
            REPLACE(
                REPLACE(
                    Cattypeltter01.CategoryDescription, 
                    'a1', N'وظیفه'), 
                'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01]))
                
        WHEN pc.TypeLetter01 IN (635) AND ed.DrjLookupSubId IN (8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            Cattypeltter01.CategoryDescription,
                            'a1', N'وظیفه'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, pc.[DateDesAmar02])),
                'a4', dc.TotalDays)
                
        WHEN pc.TypeLetter01 IN (632) AND ed.DrjLookupSubId IN (7) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            ISNULL(Cattypeltter01.CategoryDescription, ''), 
                            'a1', N'کارمند'), 
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, CASE WHEN pc.[DateDesAmar02] IS NULL THEN 0 ELSE dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) END)),
                'a4', CONVERT(NVARCHAR, ISNULL(CONVERT(NVARCHAR, vdpe.strDesAmar01), '')))
                
        WHEN pc.TypeLetter01 IN (633) AND ed.DrjLookupSubId IN (7) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            REPLACE(
                                REPLACE(
                                    ISNULL(Cattypeltter01.CategoryDescription, ''), 
                                    'a1', N'کارمند'), 
                                'a2', CONVERT(NVARCHAR, ISNULL(pc.[DateDesAmar01], ''))), 
                            'a3', dc.TotalDays), 
                        'a4', CONVERT(NVARCHAR, ISNULL(vdpe.strDesAmar01, ''))), 
                    'a5', CONVERT(NVARCHAR, pc.[DateDesAmar02])), 
                'a6', CONVERT(NVARCHAR, dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) - 
                    (SELECT COUNT(TimwStartEnd01) FROM [NewsDB].[dbo].[View_DateProperty01_Tbl] 
                     WHERE (TimwStartEnd01 = 625 OR [strDateCategory01] LIKE N'%نوروز%') 
                       AND DateProperty01ID >= pc.[DateDesAmar01] AND DateProperty01ID < pc.[DateDesAmar02])))
                       
        WHEN pc.TypeLetter01 IN (634) THEN 
            REPLACE(
                REPLACE(
                    Cattypeltter01.CategoryDescription, 
                    'a1', N'کارمند'), 
                'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01]))
                
        WHEN pc.TypeLetter01 IN (635) AND ed.DrjLookupSubId IN (7) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            Cattypeltter01.CategoryDescription,
                            'a1', N'کارمند'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, pc.[DateDesAmar02])),
                'a4', dc.TotalDays)

       --        WHEN pc.TypeLetter01 not IN (635,633,634,635) AND  ed.DrjLookupSubId Not IN (7,8,10,12,13)  THEN
       --          REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'نظامی'), 'a2', ISNULL(CONVERT(NVARCHAR, CatstrVariabl01.Title), '')), 'a3', ISNULL(CONVERT(NVARCHAR, CatstrVariabl02.Title), '')), 'a4', ISNULL(CONVERT(NVARCHAR, CatstrVariabl03.Title), '')), 'a5', ISNULL(CONVERT(NVARCHAR, CatstrVariabl04.Title), '')), 'a6', ISNULL(CONVERT(NVARCHAR, CatstrVariabl05.Title), '')), 'a7', ISNULL(CONVERT(NVARCHAR, CatstrVariabl06.Title), '')), 'd1', ISNULL(CONVERT(NVARCHAR, VarDate01), '')), 'd2', ISNULL(CONVERT(NVARCHAR, VarDate02), '')), 'd3', ISNULL(CONVERT(NVARCHAR, VarDate04), '')), 'd1', ISNULL(CONVERT(NVARCHAR, VarDate04), '')), 'd5', ISNULL(CONVERT(NVARCHAR, VarDate05), '')), 'd6', ISNULL(CONVERT(NVARCHAR, VarDate06), ''))
       --        WHEN pc.TypeLetter01 not IN (635,633,634,635) AND  ed.DrjLookupSubId IN (8,10,12,13)   THEN
	      --        REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'وظیفه'), 'a2', ISNULL(CONVERT(NVARCHAR, CatstrVariabl01.Title), '')), 'a3', ISNULL(CONVERT(NVARCHAR, CatstrVariabl02.Title), '')), 'a4', ISNULL(CONVERT(NVARCHAR, CatstrVariabl03.Title), '')), 'a5', ISNULL(CONVERT(NVARCHAR, CatstrVariabl04.Title), '')), 'a6', ISNULL(CONVERT(NVARCHAR, CatstrVariabl05.Title), '')), 'a7', ISNULL(CONVERT(NVARCHAR, CatstrVariabl06.Title), '')), 'd1', ISNULL(CONVERT(NVARCHAR, VarDate01), '')), 'd2', ISNULL(CONVERT(NVARCHAR, VarDate02), '')), 'd3', ISNULL(CONVERT(NVARCHAR, VarDate04), '')), 'd1', ISNULL(CONVERT(NVARCHAR, VarDate04), '')), 'd5', ISNULL(CONVERT(NVARCHAR, VarDate05), '')), 'd6', ISNULL(CONVERT(NVARCHAR, VarDate06), ''))
       --        WHEN pc.TypeLetter01 not IN (635,633,634,635) AND  ed.DrjLookupSubId IN (7)   THEN
				   --REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'کارمند'), 'a2', ISNULL(CONVERT(NVARCHAR, CatstrVariabl01.Title), '')), 'a3', ISNULL(CONVERT(NVARCHAR, CatstrVariabl02.Title), '')), 'a4', ISNULL(CONVERT(NVARCHAR, CatstrVariabl03.Title), '')), 'a5', ISNULL(CONVERT(NVARCHAR, CatstrVariabl04.Title), '')), 'a6', ISNULL(CONVERT(NVARCHAR, CatstrVariabl05.Title), '')), 'a7', ISNULL(CONVERT(NVARCHAR, CatstrVariabl06.Title), '')), 'd1', ISNULL(CONVERT(NVARCHAR, VarDate01), '')), 'd2', ISNULL(CONVERT(NVARCHAR, VarDate02), '')), 'd3', ISNULL(CONVERT(NVARCHAR, VarDate04), '')), 'd1', ISNULL(CONVERT(NVARCHAR, VarDate04), '')), 'd5', ISNULL(CONVERT(NVARCHAR, VarDate05), '')), 'd6', ISNULL(CONVERT(NVARCHAR, VarDate06), ''))


               WHEN pc.TypeLetter01 not IN (635,633,634,635) AND  ed.DrjLookupSubId Not IN (7,8,10,12,13)  THEN
                 REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'نظامی'), 'a2', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl01.Title), '')), 'a3', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl02.Title), '')), 'a4', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl03.Title), '')), 'a5', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl04.Title), '')), 'a6', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl05.Title), '')), 'a7', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl06.Title), '')), 'd1', ISNULL(CONVERT(NVARCHAR(max), Vartext01), '')), 'd2', ISNULL(CONVERT(NVARCHAR(max), Vartext02), '')), 'd3', ISNULL(CONVERT(NVARCHAR(max), Vartext03), '')), 'd4', ISNULL(CONVERT(NVARCHAR(max), Vartext04), '')), 'd5', ISNULL(CONVERT(NVARCHAR(max), Vartext05), '')), 'd6', ISNULL(CONVERT(NVARCHAR(max), Vartext06), ''))
               WHEN pc.TypeLetter01 not IN (635,633,634,635) AND  ed.DrjLookupSubId IN (8,10,12,13)   THEN
	              REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'وظیفه'), 'a2', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl01.Title), '')), 'a3', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl02.Title), '')), 'a4', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl03.Title), '')), 'a5', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl04.Title), '')), 'a6', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl05.Title), '')), 'a7', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl06.Title), '')), 'd1', ISNULL(CONVERT(NVARCHAR(max), Vartext01), '')), 'd2', ISNULL(CONVERT(NVARCHAR(max), Vartext02), '')), 'd3', ISNULL(CONVERT(NVARCHAR(max), Vartext03), '')), 'd4', ISNULL(CONVERT(NVARCHAR(max), Vartext04), '')), 'd5', ISNULL(CONVERT(NVARCHAR(max), Vartext05), '')), 'd6', ISNULL(CONVERT(NVARCHAR(max), Vartext06), ''))
               WHEN pc.TypeLetter01 not IN (635,633,634,635) AND  ed.DrjLookupSubId IN (7)   THEN
				   REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'کارمند'), 'a2', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl01.Title), '')), 'a3', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl02.Title), '')), 'a4', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl03.Title), '')), 'a5', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl04.Title), '')), 'a6', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl05.Title), '')), 'a7', ISNULL(CONVERT(NVARCHAR(max), CatstrVariabl06.Title), '')), 'd1', ISNULL(CONVERT(NVARCHAR(max), Vartext01), '')), 'd2', ISNULL(CONVERT(NVARCHAR(max), Vartext02), '')), 'd3', ISNULL(CONVERT(NVARCHAR(max), Vartext03), '')), 'd4', ISNULL(CONVERT(NVARCHAR(max), Vartext04), '')), 'd5', ISNULL(CONVERT(NVARCHAR(max), Vartext05), '')), 'd6', ISNULL(CONVERT(NVARCHAR(max), Vartext06), ''))


	   ELSE null -- اگر هیچ شرطی برقرار نبود مقدار قبلی حفظ شود
    END
FROM [NewsDB].[dbo].[View_PersonalCorrespondence03_Tbl] pc
--LEFT JOIN Cattypeltter01 ON pc.TypeLetter01 = Cattypeltter01.TypeLetterID01
--LEFT JOIN vdpe ON pc.DailyPlanEvidence01ID = vdpe.DailyPlanEvidence01ID
--LEFT JOIN dc ON pc.PersonalCorrespondence01ID = dc.PersonalCorrespondence01ID -- فرضی
--LEFT JOIN ed ON pc.PersonalCorrespondence01ID = ed.PersonalCorrespondence01ID -- فرضی
-- اگر جداول و شرط‌های دیگر دارید، اینجا اضافه کنید
--WHERE -- شرط مورد نظر برای فیلتر کردن رکوردها (در صورت نیاز)
--;
INNER JOIN DateCalculations dc ON pc.PersonalCorrespondence01ID = dc.PersonalCorrespondence01ID

INNER JOIN EmployeeData ed ON ed.MelliCode = pc.MelliCode
LEFT JOIN dbo.View_DailyPlanEvidence01 vdpe ON vdpe.DailyPlanEvidence01ID = pc.DailyPlanEvidence01ID
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatStatAmar01 ON CatStatAmar01.CategoryGeneralId = pc.StatAmar01
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatLastStatAmar01 ON CatLastStatAmar01.CategoryGeneralId = pc.LastStatAmar01
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatUnitID01 ON CatUnitID01.CategoryGeneralId = pc.UnitID01
LEFT JOIN dbo.CategoriesGeneral_Tbl CatTimwStartEnd01 ON pc.TimwStartEnd01 = CatTimwStartEnd01.CategoryGeneralId
LEFT JOIN dbo.View_CategoriesGeneral_Tbl Cattypeltter01 ON Cattypeltter01.CategoryGeneralId = pc.TypeLetter01

LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatstrVariabl01 ON CatstrVariabl01.CategoryGeneralId = pc.strVariabl01
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatstrVariabl02 ON CatstrVariabl02.CategoryGeneralId = pc.strVariabl02
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatstrVariabl03 ON CatstrVariabl03.CategoryGeneralId = pc.strVariabl03
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatstrVariabl04 ON CatstrVariabl04.CategoryGeneralId = pc.strVariabl04
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatstrVariabl05 ON CatstrVariabl05.CategoryGeneralId = pc.strVariabl05
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatstrVariabl06 ON CatstrVariabl06.CategoryGeneralId = pc.strVariabl06
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatstrDesAmar01 ON CatstrDesAmar01.CategoryGeneralId = pc.[DesAmar01]
--where pc.PersonalCorrespondence01ID like @PersonalCorrespondence01ID


    WHERE 
        (@PersonalCorrespondence01ID IS NULL OR pc.PersonalCorrespondence01ID LIKE @PersonalCorrespondence01ID)
		END
 
 --      دو تا جدول دارم به مشخصات زیر

	--   SELECT   [PersonalCorrespondence01ID]
 --     ,[TimwStartEnd01]
 --     ,[DatePropertyPlanEvidence01]
 --     ,[MelliCode]
 --     ,[StatAmar01]
 --     ,[DesAmar01]
 --     ,[DateDesAmar01]
 --     ,[DateDesAmar02]
 --     ,[DailyPlanEvidence01ID]
 --     ,[DocumentNO01]
 --     ,[LastStatAmar01]
 --     ,[UjobPesronel01]
 --     ,[StatusConfirmation01]
 --     ,[UjobPesronel02]
 --     ,[StatusConfirmation02]
 --     ,[UjobPesronel03]
 --     ,[StatusConfirmation03]
 --     ,[UjobPesronel04]
 --     ,[StatusConfirmation04]
 --     ,[UjobPesronel05]
 --     ,[StatusConfirmation05]
 --     ,[UjobPesronel06]
 --     ,[StatusConfirmation06]
 --     ,[UjobPesronel07]
 --     ,[StatusConfirmation07]
 --     ,[UjobPesronel08]
 --     ,[StatusConfirmation08]
 --     ,[UjobPesronel09]
 --     ,[StatusConfirmation09]
 --     ,[UjobPesronel10]
 --     ,[StatusConfirmation10]
 --     ,[UjobPesronel11]
 --     ,[StatusConfirmation11]
 --     ,[UjobPesronel12]
 --     ,[StatusConfirmation12]
 --     ,[TypeLetter01]
 --     ,[UnitID01]
 --     ,[VarDate01]
 --     ,[VarDate02]
 --     ,[VarDate03]
 --     ,[VarDate04]
 --     ,[VarDate05]
 --     ,[VarDate06]
 --     ,[strVariabl01]
 --     ,[strVariabl02]
 --     ,[strVariabl03]
 --     ,[strVariabl04]
 --     ,[strVariabl05]
 --     ,[strVariabl06]
 -- FROM  [dbo].[PersonalCorrespondence01_Tbl]
 --و 


 --SELECT   [DailyPlanEvidenceStatAmar01Summary01ID]
 --     ,[DailyPlanEvidence01ID]
 --     ,[StartDate]
 --     ,[EndDate]
 --     ,[DurationDays]
 --     ,[HolidayDaysCount]
 --     ,[MaxContinuityHolidayDays]
 --     ,[Sortable01Id]
 --     ,[MelliCode]
 --     ,[StatAmar01]
 --     ,[RewardDaysCount]
 -- FROM [NewsDB].[dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl]



 -- می خوام  به ازای ه ر StartDate  [StatAmar01] like '581'  از جدول [DailyPlanEvidenceStatAmar01Summary01_Tbl] دو تا رکورد در جدول 
 --     [PersonalCorrespondence01_Tbl] ایجاد شود 
	--  که
	--  مقادیر جدول [PersonalCorrespondence01_Tbl] به شرح زیر باشد
	--  برای رکورد اول
	--  TypeLetter01=632
	--  [DailyPlanEvidence01ID]=[DailyPlanEvidence01ID]
	--  [PersonalCorrespondence01ID]=StartDate+0001 ++1 اضافه شود
	--  [MelliCode]=[MelliCode]
	--  [DateDesAmar01]=[StartDate]
	--  	  [DateDesAmar02]=[EndDate]
	--	  [DocumentNO01]=StartDate+0001++1 اضافه شود

	--	  رکورد دوم مصل رکورد ال باشد فقط 

	--	  TypeLetter01=633

 



  
   

   --این برای  [StatAmar01] like '581'   می خوام برای  [StatAmar01] like '588'   هم دو رکورد مشابه قبلی درست کنی