
	--EXEC [dbo].[Update_PersonalCorrespondence01_TblFormDailyPlanEvidenceStatAmar01Summary];

	  --update [dbo].[DailyPlanEvidence01_Tbl] set [PersonalCorrespondence01ID]=null

 

CREATE OR ALTER PROCEDURE [dbo].[Update_PersonalCorrespondence01_TblFormDailyPlanEvidenceStatAmar01Summary]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @DailyPlanEvidence01ID  nvarchar(50),
        @MelliCode nvarchar(50),
        @StartDate nvarchar(50),
        @EndDate nvarchar(50),
        @StatAmar01 int,
        @DateDesAmar01 date,
        @DateDesAmar02 date,
        @DocumentNO01 nvarchar(50),
        @PersonalCorrespondence01ID nvarchar(50),
        @BaseCode nvarchar(20),
        @Suffix INT;

    DECLARE cur CURSOR FOR
    SELECT DailyPlanEvidence01ID, MelliCode, StartDate, EndDate, StatAmar01
    FROM [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE StatAmar01 = '581';

    OPEN cur;
    FETCH NEXT FROM cur INTO @DailyPlanEvidence01ID, @MelliCode, @StartDate, @EndDate, @StatAmar01;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- تولید کلید پایه
        SET @BaseCode =@StartDate;
        SET @Suffix = 1;

        -- بررسی وجود StartDate در DateProperty01_Tbl
        IF EXISTS (SELECT 1 FROM [dbo].[DateProperty01_Tbl] WHERE DateProperty01ID = @BaseCode)
            SET @DateDesAmar01 = @StartDate;
        ELSE
            SET @DateDesAmar01 = NULL;

        -- بررسی وجود EndDate در DateProperty01_Tbl
        IF EXISTS (SELECT 1 FROM [dbo].[DateProperty01_Tbl] WHERE DateProperty01ID = @EndDate)
            SET @DateDesAmar02 = @EndDate;
        ELSE
            SET @DateDesAmar02 = NULL;

        -- رکورد اول: TypeLetter01 = 632
        SET @DocumentNO01 = @BaseCode+@MelliCode+'632';
        SET @PersonalCorrespondence01ID = @BaseCode+@MelliCode+'632';
        
        -- حذف رکورد تکراری اگر وجود دارد
        IF EXISTS (SELECT 1 FROM [dbo].[PersonalCorrespondence01_Tbl] WHERE PersonalCorrespondence01ID = @PersonalCorrespondence01ID)
            DELETE FROM [dbo].[PersonalCorrespondence01_Tbl] WHERE PersonalCorrespondence01ID = @PersonalCorrespondence01ID;

        INSERT INTO [dbo].[PersonalCorrespondence01_Tbl] (
            PersonalCorrespondence01ID,
            DailyPlanEvidence01ID,
            MelliCode,
            TypeLetter01,
            DateDesAmar01,
            DateDesAmar02,
            StatAmar01,
            DocumentNO01
        )
        VALUES (
            @PersonalCorrespondence01ID,
            @DailyPlanEvidence01ID,
            @MelliCode,
            632,
            @DateDesAmar01,
            @DateDesAmar02,
            @StatAmar01,
            @DocumentNO01
        );

        SET @Suffix += 1;

        -- رکورد دوم: TypeLetter01 = 633
        SET @DocumentNO01 = @BaseCode+@MelliCode+'633';
        SET @PersonalCorrespondence01ID = @BaseCode+@MelliCode+'633';
        
        -- حذف رکورد تکراری اگر وجود دارد
        IF EXISTS (SELECT 1 FROM [dbo].[PersonalCorrespondence01_Tbl] WHERE PersonalCorrespondence01ID = @PersonalCorrespondence01ID)
            DELETE FROM [dbo].[PersonalCorrespondence01_Tbl] WHERE PersonalCorrespondence01ID = @PersonalCorrespondence01ID;

        INSERT INTO [dbo].[PersonalCorrespondence01_Tbl] (
            PersonalCorrespondence01ID,
            DailyPlanEvidence01ID,
            MelliCode,
            TypeLetter01,
            DateDesAmar01,
            DateDesAmar02,
            StatAmar01,
            DocumentNO01
        )
        VALUES (
            @PersonalCorrespondence01ID,
            @DailyPlanEvidence01ID,
            @MelliCode,
            633,
            @DateDesAmar01,
            @DateDesAmar02,
            @StatAmar01,
            @DocumentNO01
        );

        FETCH NEXT FROM cur INTO @DailyPlanEvidence01ID, @MelliCode, @StartDate, @EndDate, @StatAmar01;
    END

    CLOSE cur;
    DEALLOCATE cur;
END 
 
 
 
 
 --      دو تا جدول دارم به مشخصات زیر

	--   SELECT   [PersonalCorrespondence01ID]
 --     ,[TimwStartEnd01]
 --     ,[DatePropertyPlanEvidence01]
 --     ,[MelliCode]
 --     ,[StatAmar01]
 --     ,[DesAmar01]
 --     ,[DateDesAmar01]
 --     ,[DateDesAmar02]
 --     ,[DailyPlanEvidence01ID]
 --     ,[DocumentNO01]
 --     ,[LastStatAmar01]
 --     ,[UjobPesronel01]
 --     ,[StatusConfirmation01]
 --     ,[UjobPesronel02]
 --     ,[StatusConfirmation02]
 --     ,[UjobPesronel03]
 --     ,[StatusConfirmation03]
 --     ,[UjobPesronel04]
 --     ,[StatusConfirmation04]
 --     ,[UjobPesronel05]
 --     ,[StatusConfirmation05]
 --     ,[UjobPesronel06]
 --     ,[StatusConfirmation06]
 --     ,[UjobPesronel07]
 --     ,[StatusConfirmation07]
 --     ,[UjobPesronel08]
 --     ,[StatusConfirmation08]
 --     ,[UjobPesronel09]
 --     ,[StatusConfirmation09]
 --     ,[UjobPesronel10]
 --     ,[StatusConfirmation10]
 --     ,[UjobPesronel11]
 --     ,[StatusConfirmation11]
 --     ,[UjobPesronel12]
 --     ,[StatusConfirmation12]
 --     ,[TypeLetter01]
 --     ,[UnitID01]
 --     ,[VarDate01]
 --     ,[VarDate02]
 --     ,[VarDate03]
 --     ,[VarDate04]
 --     ,[VarDate05]
 --     ,[VarDate06]
 --     ,[strVariabl01]
 --     ,[strVariabl02]
 --     ,[strVariabl03]
 --     ,[strVariabl04]
 --     ,[strVariabl05]
 --     ,[strVariabl06]
 -- FROM  [dbo].[PersonalCorrespondence01_Tbl]
 --و 


 --SELECT   [DailyPlanEvidenceStatAmar01Summary01ID]
 --     ,[DailyPlanEvidence01ID]
 --     ,[StartDate]
 --     ,[EndDate]
 --     ,[DurationDays]
 --     ,[HolidayDaysCount]
 --     ,[MaxContinuityHolidayDays]
 --     ,[Sortable01Id]
 --     ,[MelliCode]
 --     ,[StatAmar01]
 --     ,[RewardDaysCount]
 -- FROM [NewsDB].[dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl]



 -- می خوام  به ازای ه ر StartDate  [StatAmar01] like '581'  از جدول [DailyPlanEvidenceStatAmar01Summary01_Tbl] دو تا رکورد در جدول 
 --     [PersonalCorrespondence01_Tbl] ایجاد شود 
	--  که
	--  مقادیر جدول [PersonalCorrespondence01_Tbl] به شرح زیر باشد
	--  برای رکورد اول
	--  TypeLetter01=632
	--  [DailyPlanEvidence01ID]=[DailyPlanEvidence01ID]
	--  [PersonalCorrespondence01ID]=StartDate+0001 ++1 اضافه شود
	--  [MelliCode]=[MelliCode]
	--  [DateDesAmar01]=[StartDate]
	--  	  [DateDesAmar02]=[EndDate]
	--	  [DocumentNO01]=StartDate+0001++1 اضافه شود

	--	  رکورد دوم مصل رکورد ال باشد فقط 

	--	  TypeLetter01=633

 



  
   