
	--EXEC [dbo].[[Update_RewardDaysCount01]];


 



  CREATE OR ALTER PROCEDURE [dbo].[Update_RewardDaysCount01]
AS
BEGIN
    SET NOCOUNT ON;


	--update [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] set RewardDaysCount=selct 
    
END;


--SELECT TOP (1000) [DailyPlanEvidenceStatAmar01Summary01ID]
--      ,[DailyPlanEvidence01ID]
--      ,[StartDate]
--      ,[EndDate]
--      ,[DurationDays]
--      ,[HolidayDaysCount]
--      ,[MaxContinuityHolidayDays]
--      ,[Sortable01Id]
--      ,[MelliCode]
--      ,[StatAmar01]
--      ,[RewardDaysCount]
--  FROM [NewsDB].[dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl]
