
	--EXEC [dbo].[Update_DailyPlanEvidenceStatAmar01Summary];

	 
  --delete from  [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl]




  CREATE OR ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- پاک کردن داده‌های قبلی
        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

        -- پردازش داده‌ها و گروه‌بندی آن‌ها بر اساس `MelliCode` و `StatAmar01`
        WITH RankedData AS (
            SELECT 
                [DailyPlanEvidence01ID],
                [MelliCode],
                [Date01],
                [StatAmar01],
                [UitID01],
                [TimwStartEnd01],
				[strDateCategory01],
                -- شناسایی تغییر در `StatAmar01` برای هر فرد
                CASE 
                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) = [StatAmar01] 
                    THEN 0 ELSE 1 
                END AS IsChanged
            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
        ),
        GroupedData AS (
            SELECT 
                *,
                -- گروه‌بندی داده‌ها بر اساس تغییرات در `StatAmar01`
                SUM(IsChanged) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) AS ContinuityGroup
            FROM RankedData
        ),
        ContinuityPeriods AS (
            SELECT
                [MelliCode],
                MIN([Date01]) AS StartDate, -- تاریخ شروع پیوستگی
                MAX([Date01]) AS EndDate,   -- تاریخ آخرین روز پیوستگی
                COUNT(*) AS DurationDays,  -- تعداد روزهای پیوسته
                SUM(CASE WHEN [TimwStartEnd01] = 625 or [strDateCategory01] like N'%نوروز%' THEN 1 ELSE 0 END) AS HolidayDaysCount, -- تعداد روزهای تعطیل
                MAX(CASE WHEN [TimwStartEnd01] = 625 or [strDateCategory01] like N'%نوروز%' THEN 1 ELSE 0 END) AS MaxContinuityHolidayDays, -- بیشترین تعطیلی متوالی
                [StatAmar01],
                [ContinuityGroup]
            FROM GroupedData
            GROUP BY [MelliCode], [StatAmar01], [ContinuityGroup]
        )
        -- درج نتایج در جدول `DailyPlanEvidenceStatAmar01Summary01_Tbl`
        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
            [DailyPlanEvidenceStatAmar01Summary01ID],
            [DailyPlanEvidence01ID],
            [MelliCode],
            [StatAmar01],
            [StartDate],
            [EndDate],
            [DurationDays],
            [HolidayDaysCount],
            [MaxContinuityHolidayDays],
            [Sortable01Id]
        )
        SELECT
            CONCAT(cp.[MelliCode], '-', cp.[ContinuityGroup], '-', cp.[StatAmar01]) AS DailyPlanEvidenceStatAmar01Summary01ID,
            vde.[DailyPlanEvidence01ID] AS DailyPlanEvidence01ID,  -- اضافه کردن DailyPlanEvidence01ID مربوط به StartDate
            cp.[MelliCode],
            cp.[StatAmar01],
            cp.[StartDate],
            cp.[EndDate],
            cp.[DurationDays],
            cp.[HolidayDaysCount],
            cp.[MaxContinuityHolidayDays],
            1 AS Sortable01Id  -- مقدار ثابت برای `Sortable01Id`
        FROM ContinuityPeriods cp
        LEFT JOIN [NewsDB].[dbo].[View_DailyPlanEvidence02] vde 
            ON cp.[MelliCode] = vde.[MelliCode] 
            AND cp.[StartDate] = vde.[Date01]
            AND cp.[StatAmar01] = vde.[StatAmar01];


	 UPDATE d
SET d.RewardDaysCount = v.TotalRewardDays
FROM [DailyPlanEvidenceStatAmar01Summary01_Tbl] d
INNER JOIN [dbo].[View_RewardDaysCount02] v 
    ON d.MelliCode = v.MelliCode
   AND dbo.GetPersianYear(d.StartDate) = v.PersianYear
   
   	 UPDATE d
SET d.TotalVacationDaysCount = v.TotalVacationDaysCountDays
FROM [DailyPlanEvidenceStatAmar01Summary01_Tbl] d
INNER JOIN [dbo].[View_TotalVacationDaysCount02] v 
    ON d.MelliCode = v.MelliCode
   AND dbo.GetPersianYear(d.StartDate) = v.PersianYear
   
   

   
--	 UPDATE d
--SET d.RewardDaysCount = v.TotalRewardDays
--FROM [View_DailyPlanEvidence02] d
--INNER JOIN [dbo].[View_RewardDaysCount02] v 
--    ON d.MelliCode = v.MelliCode
--   AND dbo.GetPersianYear(d.Date01) = v.PersianYear
   

   	 UPDATE d
SET d.RewardDaysCount =ISNULL(v.TotalRewardDays, 0)
FROM [View_DailyPlanEvidence02] d
LEFT JOIN [dbo].[View_RewardDaysCount02] v 
    ON d.MelliCode = v.MelliCode
   AND dbo.GetPersianYear(d.Date01) = v.PersianYear


   	 UPDATE d
SET d.TotalVacationDaysCount = ISNULL(v.TotalVacationDaysCountDays, 0)
FROM [View_DailyPlanEvidence02] d
LEFT JOIN [dbo].[View_TotalVacationDaysCount02] v 
    ON d.MelliCode = v.MelliCode
   AND dbo.GetPersianYear(d.Date01) = v.PersianYear
   

--         	 UPDATE d
--SET d.CombinedTotal = v.CombinedTotal
--FROM [View_DailyPlanEvidence02] d
--INNER JOIN [dbo].[View_DailyPlanEvidenceStatAmar01Summary02_Tbl] v 
--    ON d.MelliCode = v.MelliCode
--   AND dbo.GetPersianYear(d.Date01) = v.PersianYear


   
--      	 UPDATE d
--SET d.CombinedTotal = v.CombinedTotal
--FROM [View_DailyPlanEvidence02] d
--INNER JOIN [dbo].[View_DailyPlanEvidenceStatAmar01Summary02_Tbl] v 
--    ON d.MelliCode = v.MelliCode
--   AND dbo.GetPersianYear(d.Date01) = v.PersianYear and v.StatAmar01 like '581'
   

   UPDATE d
SET d.CombinedTotal = ISNULL(v.CombinedTotal, 0)
FROM [View_DailyPlanEvidence02] d
LEFT JOIN [dbo].[View_DailyPlanEvidenceStatAmar01Summary02_Tbl] v 
    ON d.MelliCode = v.MelliCode
   AND dbo.GetPersianYear(d.Date01) = v.PersianYear 
   AND v.StatAmar01 LIKE '581'



		   UPDATE [dbo].[View_DailyPlanEvidence02]
SET [RemainDaysVacationCount] = 
    CAST([TotalVacationDaysCount] AS int) - 
    (CAST([CombinedTotal] AS int) - CAST([RewardDaysCount] AS int))



   PRINT N'✅ داده‌ها با موفقیت به‌روزرسانی شدند.';
    END TRY
    BEGIN CATCH
        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
    END CATCH
END;




  

--		CREATE OR ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        -- پاک کردن داده‌های قبلی
--        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

--        -- پردازش داده‌ها و گروه‌بندی آن‌ها بر اساس `MelliCode` و `StatAmar01`
--        WITH RankedData AS (
--            SELECT 
--                [DailyPlanEvidence01ID],
--                [MelliCode],
--                [Date01],
--                [StatAmar01],
--                [UitID01],
--                [TimwStartEnd01],
--                -- شناسایی تغییر در `StatAmar01` برای هر فرد
--                CASE 
--                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) = [StatAmar01] 
--                    THEN 0 ELSE 1 
--                END AS IsChanged
--            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
--        ),
--        GroupedData AS (
--            SELECT 
--                *,
--                -- گروه‌بندی داده‌ها بر اساس تغییرات در `StatAmar01`
--                SUM(IsChanged) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) AS ContinuityGroup
--            FROM RankedData
--        ),
--        ContinuityPeriods AS (
--            SELECT
--                [MelliCode],
--                MIN([Date01]) AS StartDate, -- تاریخ شروع پیوستگی
--                MAX([Date01]) AS EndDate,   -- تاریخ آخرین روز پیوستگی
--                COUNT(*) AS DurationDays,  -- تعداد روزهای پیوسته
--                SUM(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS HolidayDaysCount, -- تعداد روزهای تعطیل
--                MAX(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS MaxContinuityHolidayDays, -- بیشترین تعطیلی متوالی
--                [StatAmar01],
--                [ContinuityGroup]
--            FROM GroupedData
--            GROUP BY [MelliCode], [StatAmar01], [ContinuityGroup]
--        )
--        -- درج نتایج در جدول `DailyPlanEvidenceStatAmar01Summary01_Tbl`
--        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
--            [DailyPlanEvidenceStatAmar01Summary01ID],
--            [DailyPlanEvidence01ID],
--            [MelliCode],
--            [StatAmar01],
--            [StartDate],
--            [EndDate],
--            [DurationDays],
--            [HolidayDaysCount],
--            [MaxContinuityHolidayDays],
--            [Sortable01Id]
--        )
--        SELECT
--            CONCAT([MelliCode], '-', [ContinuityGroup], '-', [StatAmar01]) AS DailyPlanEvidenceStatAmar01Summary01ID,
--            NULL AS DailyPlanEvidence01ID,  -- مقدار NULL مگر اینکه مقدار مشخصی بخواهید
--            [MelliCode],
--            [StatAmar01],
--            [StartDate],
--            [EndDate],
--            [DurationDays],
--            [HolidayDaysCount],
--            [MaxContinuityHolidayDays],
--            1 AS Sortable01Id  -- مقدار ثابت برای `Sortable01Id`
--        FROM ContinuityPeriods;

--        PRINT N'✅ داده‌ها با موفقیت به‌روزرسانی شدند.';
--    END TRY
--    BEGIN CATCH
--        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
--    END CATCH
--END;




 


--		CREATE OR ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        -- پاک کردن داده‌های قبلی
--        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

--        -- پردازش داده‌ها و گروه‌بندی آن‌ها بر اساس `MelliCode` و `StatAmar01`
--        WITH RankedData AS (
--            SELECT 
--                [DailyPlanEvidence01ID],
--                [MelliCode],
--                [Date01],
--                [StatAmar01],
--                [UitID01],
--                [TimwStartEnd01],
--                -- شناسایی تغییر در `StatAmar01` برای هر فرد
--                CASE 
--                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) = [StatAmar01] 
--                    THEN 0 ELSE 1 
--                END AS IsChanged
--            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
--        ),
--        GroupedData AS (
--            SELECT 
--                *,
--                -- گروه‌بندی داده‌ها بر اساس تغییرات در `StatAmar01`
--                SUM(IsChanged) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) AS ContinuityGroup
--            FROM RankedData
--        ),
--        ContinuityPeriods AS (
--            SELECT
--                [MelliCode],
--                MIN([Date01]) AS StartDate, -- تاریخ شروع پیوستگی
--                MAX([Date01]) AS EndDate,   -- تاریخ آخرین روز پیوستگی
--                COUNT(*) AS DurationDays,  -- تعداد روزهای پیوسته
--                SUM(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS HolidayDaysCount, -- تعداد روزهای تعطیل
--                MAX(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS MaxContinuityHolidayDays, -- بیشترین تعطیلی متوالی
--                [StatAmar01],
--                [ContinuityGroup]
--            FROM GroupedData
--            GROUP BY [MelliCode], [StatAmar01], [ContinuityGroup]
--        )
--        -- درج نتایج در جدول `DailyPlanEvidenceStatAmar01Summary01_Tbl`
--        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
--            [DailyPlanEvidenceStatAmar01Summary01ID],
--            [DailyPlanEvidence01ID],
--            [MelliCode],
--            [StatAmar01],
--            [StartDate],
--            [EndDate],
--            [DurationDays],
--            [HolidayDaysCount],
--            [MaxContinuityHolidayDays],
--            [Sortable01Id]
--        )
--        SELECT
--            CONCAT([MelliCode], '-', [ContinuityGroup], '-', [StatAmar01]) AS DailyPlanEvidenceStatAmar01Summary01ID,
--            NULL AS DailyPlanEvidence01ID,  -- مقدار NULL مگر اینکه مقدار مشخصی بخواهید
--            [MelliCode],
--            [StatAmar01],
--            [StartDate],
--            [EndDate],
--            [DurationDays],
--            [HolidayDaysCount],
--            [MaxContinuityHolidayDays],
--            1 AS Sortable01Id  -- مقدار ثابت برای `Sortable01Id`
--        FROM ContinuityPeriods;

--        PRINT N'✅ داده‌ها با موفقیت به‌روزرسانی شدند.';
--    END TRY
--    BEGIN CATCH
--        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
--    END CATCH
--END;

















--	CREATE OR ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        -- پاک کردن داده‌های قبلی
--        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

--        -- پردازش داده‌ها و گروه‌بندی آن‌ها بر اساس `MelliCode` و `StatAmar01`
--        WITH RankedData AS (
--            SELECT 
--                [DailyPlanEvidence01ID],
--                [MelliCode],
--                [Date01],
--                [StatAmar01],
--                [UitID01],
--                [TimwStartEnd01],
--                -- شناسایی تغییر در `StatAmar01` برای هر فرد
--                CASE 
--                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) = [StatAmar01] 
--                    THEN 0 ELSE 1 
--                END AS IsChanged
--            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
--        ),
--        GroupedData AS (
--            SELECT 
--                *,
--                -- گروه‌بندی داده‌ها بر اساس تغییرات در `StatAmar01`
--                SUM(IsChanged) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) AS ContinuityGroup
--            FROM RankedData
--        ),
--        ContinuityPeriods AS (
--            SELECT
--                [MelliCode],
--                MIN([Date01]) AS StartDate, -- تاریخ شروع پیوستگی
--                MAX([Date01]) AS EndDate,   -- تاریخ آخرین روز پیوستگی
--                COUNT(*) AS DurationDays,  -- تعداد روزهای پیوسته
--                SUM(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS HolidayDaysCount, -- تعداد روزهای تعطیل
--                MAX(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS MaxContinuityHolidayDays, -- بیشترین تعطیلی متوالی
--                [StatAmar01],
--                [ContinuityGroup]
--            FROM GroupedData
--            GROUP BY [MelliCode], [StatAmar01], [ContinuityGroup]
--        )
--        -- درج نتایج در جدول `DailyPlanEvidenceStatAmar01Summary01_Tbl`
--        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
--            [DailyPlanEvidenceStatAmar01Summary01ID],
--            [DailyPlanEvidence01ID],
--            [MelliCode],
--            [StatAmar01],
--            [StartDate],
--            [EndDate],
--            [DurationDays],
--            [HolidayDaysCount],
--            [MaxContinuityHolidayDays],
--            [Sortable01Id]
--        )
--        SELECT
--            CONCAT([MelliCode], '-', [ContinuityGroup], '-', [StatAmar01]) AS DailyPlanEvidenceStatAmar01Summary01ID,
--            NULL AS DailyPlanEvidence01ID,  -- مقدار NULL مگر اینکه مقدار مشخصی بخواهید
--            [MelliCode],
--            [StatAmar01],
--            [StartDate],
--            [EndDate],
--            [DurationDays],
--            [HolidayDaysCount],
--            [MaxContinuityHolidayDays],
--            1 AS Sortable01Id  -- مقدار ثابت برای `Sortable01Id`
--        FROM ContinuityPeriods;

--        PRINT N'✅ داده‌ها با موفقیت به‌روزرسانی شدند.';
--    END TRY
--    BEGIN CATCH
--        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
--    END CATCH
--END;



















--	CREATE OR ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        -- پاک کردن داده‌های قبلی
--        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

--        -- پردازش داده‌ها و گروه‌بندی آن‌ها بر اساس `MelliCode` و `StatAmar01`
--        WITH RankedData AS (
--            SELECT 
--                [DailyPlanEvidence01ID],
--                [MelliCode],
--                [Date01],
--                [StatAmar01],
--                [UitID01],
--                [TimwStartEnd01],
--                -- شناسایی تغییر در `StatAmar01` برای هر فرد
--                CASE 
--                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) = [StatAmar01] 
--                    THEN 0 ELSE 1 
--                END AS IsChanged
--            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
--        ),
--        GroupedData AS (
--            SELECT 
--                *,
--                -- گروه‌بندی داده‌ها بر اساس تغییرات در `StatAmar01`
--                SUM(IsChanged) OVER (PARTITION BY [MelliCode] ORDER BY [Date01]) AS ContinuityGroup
--            FROM RankedData
--        ),
--        ContinuityPeriods AS (
--            SELECT
--                [MelliCode],
--                MIN([Date01]) AS StartDate, -- تاریخ شروع پیوستگی
--                MAX([Date01]) AS EndDate,   -- تاریخ آخرین روز پیوستگی
--                COUNT(*) AS DurationDays,  -- تعداد روزهای پیوسته
--                SUM(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS HolidayDaysCount, -- تعداد روزهای تعطیل
--                MAX(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS MaxContinuityHolidayDays, -- بیشترین تعطیلی متوالی
--                [StatAmar01],
--                [ContinuityGroup]
--            FROM GroupedData
--            GROUP BY [MelliCode], [StatAmar01], [ContinuityGroup]
--        )
--        -- درج نتایج در جدول `DailyPlanEvidenceStatAmar01Summary01_Tbl`
--        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
--            [DailyPlanEvidenceStatAmar01Summary01ID],
--            [DailyPlanEvidence01ID],
--            [MelliCode],
--            [StatAmar01],
--            [StartDate],
--            [EndDate],
--            [DurationDays],
--            [HolidayDaysCount],
--            [MaxContinuityHolidayDays],
--            [Sortable01Id]
--        )
--        SELECT
--            CONCAT([MelliCode], '-', [ContinuityGroup], '-', [StatAmar01]) AS DailyPlanEvidenceStatAmar01Summary01ID,
--            NULL AS DailyPlanEvidence01ID,  -- مقدار NULL مگر اینکه مقدار مشخصی بخواهید
--            [MelliCode],
--            [StatAmar01],
--            [StartDate],
--            [EndDate],
--            [DurationDays],
--            [HolidayDaysCount],
--            [MaxContinuityHolidayDays],
--            [ContinuityGroup] AS Sortable01Id
--        FROM ContinuityPeriods;

--        PRINT N'✅ داده‌ها با موفقیت به‌روزرسانی شدند.';
--    END TRY
--    BEGIN CATCH
--        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
--    END CATCH
--END;

--❌ خطا در بروزرسانی جدول: The INSERT statement conflicted with the FOREIGN KEY constraint "FK_DailyPlanEvidenceStatAmar01Summary01_Tbl_Sortable01_Tbl_Sortable01Id". The conflict occurred in database "NewsDB", table "dbo.Sortable01_Tbl", column 'Sortable01Id'.


	
--	CREATE OR ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        -- پاک کردن داده‌های قبلی
--        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

--        -- درج داده‌های جدید
--        WITH RankedData AS (
--            SELECT 
--                [DailyPlanEvidence01ID],
--                [Date01],
--                [StatAmar01],
--                [UitID01],
--                [TimwStartEnd01],
--                -- شناسایی تغییرات در StatAmar01
--                CASE 
--                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) = [StatAmar01] 
--                    THEN 0 ELSE 1 
--                END AS IsChanged,
--                -- شناسایی تغییرات در تعطیلی (TimwStartEnd01 = 625)
--                CASE 
--                    WHEN LAG([TimwStartEnd01]) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) = 625 
--                         AND [TimwStartEnd01] = 625 
--                    THEN 0 ELSE 1 
--                END AS IsHolidayChanged
--            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
--        ),
--        GroupedData AS (
--            SELECT 
--                *,
--                -- گروه‌بندی دوره‌های پیوسته‌ی StatAmar01
--                SUM(IsChanged) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) AS ContinuityGroup,
--                -- گروه‌بندی دوره‌های متوالی تعطیل
--                SUM(IsHolidayChanged) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) AS HolidayContinuityGroup
--            FROM RankedData
--        ),
--        HolidayContinuity AS (
--            SELECT
--                [DailyPlanEvidence01ID],
--                [ContinuityGroup],
--                [HolidayContinuityGroup],
--                COUNT(*) AS MaxContinuityHolidayDays -- شمارش تعداد روزهای متوالی تعطیل
--            FROM GroupedData
--            WHERE [TimwStartEnd01] = 625
--            GROUP BY [DailyPlanEvidence01ID], [ContinuityGroup], [HolidayContinuityGroup]
--        ),
--        ContinuityPeriods AS (
--            SELECT
--                g.[DailyPlanEvidence01ID],
--                MIN(g.[Date01]) AS StartDate,
--                MAX(g.[Date01]) AS EndDate,
--                COUNT(*) AS DurationDays,
--                SUM(CASE WHEN g.[TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS HolidayDaysCount,
--                -- حداکثر تعداد روزهای تعطیل متوالی در این دوره
--                ISNULL(MAX(h.MaxContinuityHolidayDays), 0) AS MaxContinuityHolidayDays,
--                g.[StatAmar01],
--                g.[ContinuityGroup]
--            FROM GroupedData g
--            LEFT JOIN HolidayContinuity h ON g.[DailyPlanEvidence01ID] = h.[DailyPlanEvidence01ID] 
--                                         AND g.[ContinuityGroup] = h.[ContinuityGroup]
--                                         AND g.[HolidayContinuityGroup] = h.[HolidayContinuityGroup]
--            GROUP BY g.[DailyPlanEvidence01ID], g.[StatAmar01], g.[ContinuityGroup]
--        )
--        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
--            [DailyPlanEvidenceStatAmar01Summary01ID], 
--            [DailyPlanEvidence01ID], 
--            [Sortable01Id], 
--            [StartDate], 
--            [EndDate], 
--            [DurationDays], 
--            [HolidayDaysCount], 
--            [MaxContinuityHolidayDays] -- مقدار جدید
--        )
--        SELECT
--            CONCAT([DailyPlanEvidence01ID], '-', [ContinuityGroup], '-', [StatAmar01]),
--            [DailyPlanEvidence01ID],
--            [ContinuityGroup], 
--            [StartDate], 
--            [EndDate], 
--            [DurationDays], 
--            [HolidayDaysCount], 
--            [MaxContinuityHolidayDays] -- مقدار جدید
--        FROM ContinuityPeriods;

--        PRINT N'✅ جدول با موفقیت به‌روزرسانی شد.';
--    END TRY
--    BEGIN CATCH
--        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
--    END CATCH
--END;



--	CREATE OR ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        -- پاک کردن داده‌های قبلی
--        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

--        -- دسته‌بندی داده‌ها بر اساس تغییرات در مقدار StatAmar01
--        WITH RankedData AS (
--            SELECT 
--                [DailyPlanEvidence01ID],
--                [Date01],
--                [StatAmar01],
--                [UitID01],
--                [TimwStartEnd01],
--                -- شناسایی تغییر در مقدار StatAmar01
--                CASE 
--                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) = [StatAmar01] 
--                    THEN 0 ELSE 1 
--                END AS IsChanged
--            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
--        ),
--        GroupedData AS (
--            SELECT 
--                *,
--                -- گروه‌بندی بر اساس تغییرات در مقدار StatAmar01
--                SUM(IsChanged) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) AS StatChangeGroup
--            FROM RankedData
--        ),
--        ContinuityPeriods AS (
--            SELECT
--                [DailyPlanEvidence01ID],
--                MIN([Date01]) AS StartDate,
--                MAX([Date01]) AS EndDate,
--                COUNT(*) AS DurationDays,
--                SUM(CASE WHEN [TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS HolidayDaysCount,
--                [StatAmar01]
--            FROM GroupedData
--            GROUP BY [DailyPlanEvidence01ID], [StatChangeGroup], [StatAmar01]
--        )
--        -- درج اطلاعات به جدول نهایی
--        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
--            [DailyPlanEvidenceStatAmar01Summary01ID], 
--            [DailyPlanEvidence01ID], 
--            [StartDate], 
--            [EndDate], 
--            [DurationDays], 
--            [HolidayDaysCount]
--        )
--        SELECT
--            CONCAT([DailyPlanEvidence01ID], '-', [StatAmar01]),
--            [DailyPlanEvidence01ID],
--            [StartDate], 
--            [EndDate], 
--            [DurationDays], 
--            [HolidayDaysCount]
--        FROM ContinuityPeriods;

--        PRINT N'✅ جدول با موفقیت به‌روزرسانی شد.';
--    END TRY
--    BEGIN CATCH
--        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
--    END CATCH
--END;






--	CREATE OR ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        -- پاک کردن داده‌های قبلی
--        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

--        -- درج داده‌های جدید
--        WITH RankedData AS (
--            SELECT 
--                [DailyPlanEvidence01ID],
--                [Date01],
--                [StatAmar01],
--                [UitID01],
--                [TimwStartEnd01],
--                -- شناسایی تغییرات در StatAmar01
--                CASE 
--                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) = [StatAmar01] 
--                    THEN 0 ELSE 1 
--                END AS IsChanged,
--                -- شناسایی تغییرات در تعطیلی (TimwStartEnd01 = 625)
--                CASE 
--                    WHEN LAG([TimwStartEnd01]) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) = 625 
--                         AND [TimwStartEnd01] = 625 
--                    THEN 0 ELSE 1 
--                END AS IsHolidayChanged
--            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
--        ),
--        GroupedData AS (
--            SELECT 
--                *,
--                -- گروه‌بندی دوره‌های پیوسته‌ی StatAmar01 (ادغام گروه‌های متوالی)
--                SUM(IsChanged) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) AS ContinuityGroup,
--                -- گروه‌بندی دوره‌های متوالی تعطیل
--                SUM(IsHolidayChanged) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) AS HolidayContinuityGroup
--            FROM RankedData
--        ),
--        HolidayContinuity AS (
--            SELECT
--                [DailyPlanEvidence01ID],
--                [ContinuityGroup],
--                [HolidayContinuityGroup],
--                COUNT(*) AS MaxContinuityHolidayDays -- شمارش تعداد روزهای متوالی تعطیل
--            FROM GroupedData
--            WHERE [TimwStartEnd01] = 625
--            GROUP BY [DailyPlanEvidence01ID], [ContinuityGroup], [HolidayContinuityGroup]
--        ),
--        ContinuityPeriods AS (
--            SELECT
--                g.[DailyPlanEvidence01ID],
--                MIN(g.[Date01]) AS StartDate,
--                MAX(g.[Date01]) AS EndDate,
--                COUNT(*) AS DurationDays,
--                SUM(CASE WHEN g.[TimwStartEnd01] = 625 THEN 1 ELSE 0 END) AS HolidayDaysCount,
--                -- حداکثر تعداد روزهای تعطیل متوالی در این دوره
--                ISNULL(MAX(h.MaxContinuityHolidayDays), 0) AS MaxContinuityHolidayDays,
--                g.[StatAmar01]
--            FROM GroupedData g
--            LEFT JOIN HolidayContinuity h ON g.[DailyPlanEvidence01ID] = h.[DailyPlanEvidence01ID] 
--                                         AND g.[ContinuityGroup] = h.[ContinuityGroup]
--                                         AND g.[HolidayContinuityGroup] = h.[HolidayContinuityGroup]
--            GROUP BY g.[DailyPlanEvidence01ID], g.[StatAmar01]
--        )
--        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
--            [DailyPlanEvidenceStatAmar01Summary01ID], 
--            [DailyPlanEvidence01ID], 
--            [StartDate], 
--            [EndDate], 
--            [DurationDays], 
--            [HolidayDaysCount], 
--            [MaxContinuityHolidayDays] -- مقدار جدید
--        )
--        SELECT
--            CONCAT([DailyPlanEvidence01ID], '-', [StatAmar01]),
--            [DailyPlanEvidence01ID],
--            [StartDate], 
--            [EndDate], 
--            [DurationDays], 
--            [HolidayDaysCount], 
--            [MaxContinuityHolidayDays] -- مقدار جدید
--        FROM ContinuityPeriods;

--        PRINT N'✅ جدول با موفقیت به‌روزرسانی شد.';
--    END TRY
--    BEGIN CATCH
--        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
--    END CATCH
--END;


--CREATE or ALTER PROCEDURE [dbo].[Update_DailyPlanEvidenceStatAmar01Summary]
--AS
--BEGIN
--    SET NOCOUNT ON;

--    BEGIN TRY
--        -- پاک کردن داده‌های قبلی
--        TRUNCATE TABLE [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl];

--        -- درج داده‌های جدید
--        WITH RankedData AS (
--            SELECT 
--                [DailyPlanEvidence01ID],
--                [Date01],
--                [StatAmar01],
--                [UitID01],
--                CASE 
--                    WHEN LAG([StatAmar01]) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) = [StatAmar01] 
--                    THEN 0 ELSE 1 
--                END AS IsChanged
--            FROM [NewsDB].[dbo].[View_DailyPlanEvidence02]
--        ),
--        GroupedData AS (
--            SELECT 
--                *,
--                SUM(IsChanged) OVER (PARTITION BY [DailyPlanEvidence01ID] ORDER BY [Date01]) AS ContinuityGroup
--            FROM RankedData
--        ),
--        ContinuityPeriods AS (
--            SELECT
--                [DailyPlanEvidence01ID],
--                MIN([Date01]) AS StartDate,
--                MAX([Date01]) AS EndDate,
--                COUNT(*) AS DurationDays,
--                SUM(CASE WHEN [UitID01] = 625 THEN 1 ELSE 0 END) AS HolidayDaysCount,
--                MAX(CASE WHEN [UitID01] = 625 THEN 1 ELSE 0 END) AS MaxContinuityHolidayDays,
--                [StatAmar01],
--                [ContinuityGroup]
--            FROM GroupedData
--            GROUP BY [DailyPlanEvidence01ID], [StatAmar01], [ContinuityGroup]
--        )
--        INSERT INTO [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl] (
--            [DailyPlanEvidenceStatAmar01Summary01ID], 
--            [DailyPlanEvidence01ID], 
--            [Sortable01Id], 
--            [StartDate], 
--            [EndDate], 
--            [DurationDays], 
--            [HolidayDaysCount], 
--            [MaxContinuityHolidayDays]
--        )
--        SELECT
--            -- مقداردهی برای ID
--            CONCAT([DailyPlanEvidence01ID], '-', [ContinuityGroup], '-', [StatAmar01]),
--            [DailyPlanEvidence01ID],
--            [ContinuityGroup], 
--            [StartDate], 
--            [EndDate], 
--            [DurationDays], 
--            [HolidayDaysCount], 
--            [MaxContinuityHolidayDays]
--        FROM ContinuityPeriods;

--        PRINT N'✅ جدول با موفقیت به‌روزرسانی شد.';
--    END TRY
--    BEGIN CATCH
--        PRINT N'❌ خطا در بروزرسانی جدول: ' + ERROR_MESSAGE();
--    END CATCH
--END;
