USE [NewsDB]
GO
/****** Object:  StoredProcedure [dbo].[Update_PersonalCorrespondence01_TblFormDailyPlanEvidenceStatAmar01Summary]    Script Date: 6/17/2025 2:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	--EXEC [dbo].[Update_PersonalCorrespondence01_TblFormDailyPlanEvidenceStatAmar01Summary];

	  --update [dbo].[DailyPlanEvidence01_Tbl] set [PersonalCorrespondence01ID]=null

 --delete FROM  [dbo].[PersonalCorrespondence01_Tbl]  where [TypeLetter01] in( '632','633')
 -- delete FROM  [dbo].[PersonalCorrespondence01_Tbl]  where [TypeLetter01] in( '634','635')

 

--نهست
--588
--مرخصی
--581
--حاضر
--594
--CategoryGeneralId	Title
--632	نامه اعزام به مرخصی
--633	نامه حضور از مرخصی
--634	نامه نهست
--635	نامه حضور از نهست




ALTER   PROCEDURE [dbo].[Update_PersonalCorrespondence01_TblFormDailyPlanEvidenceStatAmar01Summary]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @DailyPlanEvidence01ID  nvarchar(50),
        @MelliCode nvarchar(50),
        @StartDate nvarchar(50),
        @EndDate nvarchar(50),
        @StatAmar01 int,
        @DateDesAmar01 nvarchar(50),
        @DateDesAmar02 nvarchar(50),
        @DocumentNO01 nvarchar(50),
        @DocumentNO01Prefix nvarchar(50),
        @PersonalCorrespondence01ID nvarchar(50),
        @BaseCode nvarchar(20),
        @Suffix INT,

        -- ستون‌های جدید
        @UjobPesronel01 nvarchar(50),
        @StatusConfirmation01 nvarchar(50),
        @UjobPesronel02 nvarchar(50),
        @StatusConfirmation02 nvarchar(50),
        @UnitID01 nvarchar(50);

    DECLARE cur CURSOR FOR
    SELECT DailyPlanEvidence01ID, MelliCode, StartDate, EndDate, StatAmar01
    FROM [dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl]
    WHERE StatAmar01 IN (581, 588);

    OPEN cur;
    FETCH NEXT FROM cur INTO @DailyPlanEvidence01ID, @MelliCode, @StartDate, @EndDate, @StatAmar01;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- واکشی داده‌های تکمیلی از جدول اصلی
        SELECT 
            @UjobPesronel01 = UjobPesronel01,
            @StatusConfirmation01 = StatusConfirmation01,
            @UjobPesronel02 = UjobPesronel02,
            @StatusConfirmation02 = StatusConfirmation02,
            @UnitID01 = UnitID01
        FROM [dbo].[DailyPlanEvidence01_Tbl]
        WHERE DailyPlanEvidence01ID = @DailyPlanEvidence01ID;

		SET @BaseCode = REPLACE(@StartDate, '/', '');

        -- محاسبه تاریخ‌ها
        IF EXISTS (SELECT 1 FROM [dbo].[DateProperty01_Tbl] WHERE DateProperty01ID = @StartDate)
            SET @DateDesAmar01 = @StartDate;
        ELSE
            SET @DateDesAmar01 = NULL;

        IF EXISTS (SELECT 1 FROM [dbo].[DateProperty01_Tbl] WHERE DateProperty01ID = @EndDate)
            SET @DateDesAmar02 = dbo.MiladiToShamsi(dbo.AddDaysToDate(dbo.ShamsiToGregorian(@EndDate), 1));
        ELSE
            SET @DateDesAmar02 = NULL;

        ------------------------
        -- رکورد اول (632 یا 634)
        ------------------------

        SET @DocumentNO01Prefix = @BaseCode;
        SELECT @Suffix = COUNT(*) 
        FROM [dbo].[PersonalCorrespondence01_Tbl]
        WHERE DocumentNO01 LIKE @DocumentNO01Prefix + '-%';

        SET @Suffix = ISNULL(@Suffix, 0) + 1;

        SET @DocumentNO01 = @DocumentNO01Prefix + '-' + FORMAT(@Suffix, '000');
        SET @PersonalCorrespondence01ID = @DocumentNO01;

        INSERT INTO [dbo].[PersonalCorrespondence01_Tbl] (
            PersonalCorrespondence01ID,
            DailyPlanEvidence01ID,
            MelliCode,
            TypeLetter01,
            DateDesAmar01,
            DateDesAmar02,
            StatAmar01,
            DocumentNO01,
            UjobPesronel02,
            StatusConfirmation02,
            UjobPesronel03,
            StatusConfirmation03,
            UnitID01
        )
        VALUES (
            @PersonalCorrespondence01ID,
            @DailyPlanEvidence01ID,
            @MelliCode,
            CASE WHEN @StatAmar01 = 581 THEN 632 ELSE 634 END,
            @DateDesAmar01,
            @DateDesAmar02,
            @StatAmar01,
            @DocumentNO01,
            @UjobPesronel01,
            @StatusConfirmation01,
            @UjobPesronel02,
            @StatusConfirmation02,
            @UnitID01
        );

        ------------------------
        -- رکورد دوم (633 یا 635)
        ------------------------

        SET @DocumentNO01Prefix = @BaseCode;
        SELECT @Suffix = COUNT(*) 
        FROM [dbo].[PersonalCorrespondence01_Tbl]
        WHERE DocumentNO01 LIKE @DocumentNO01Prefix + '-%';

        SET @Suffix = ISNULL(@Suffix, 0) + 1;

        SET @DocumentNO01 = @DocumentNO01Prefix + '-' + FORMAT(@Suffix, '000');
        SET @PersonalCorrespondence01ID = @DocumentNO01;

        -- حذف رکورد قبلی در صورت وجود
        IF EXISTS (SELECT 1 FROM [dbo].[PersonalCorrespondence01_Tbl] WHERE PersonalCorrespondence01ID = @PersonalCorrespondence01ID)
            DELETE FROM [dbo].[PersonalCorrespondence01_Tbl] WHERE PersonalCorrespondence01ID = @PersonalCorrespondence01ID;

        INSERT INTO [dbo].[PersonalCorrespondence01_Tbl] (
            PersonalCorrespondence01ID,
            DailyPlanEvidence01ID,
            MelliCode,
            TypeLetter01,
            DateDesAmar01,
            DateDesAmar02,
            StatAmar01,
            DocumentNO01,
            UjobPesronel02,
            StatusConfirmation02,
            UjobPesronel03,
            StatusConfirmation03,
            UnitID01
        )
        VALUES (
            @PersonalCorrespondence01ID,
            @DailyPlanEvidence01ID,
            @MelliCode,
            CASE WHEN @StatAmar01 = 581 THEN 633 ELSE 635 END,
            @DateDesAmar01,
            @DateDesAmar02,
            @StatAmar01,
            @DocumentNO01,
            @UjobPesronel01,
            @StatusConfirmation01,
            @UjobPesronel02,
            @StatusConfirmation02,
            @UnitID01
        );

        FETCH NEXT FROM cur INTO @DailyPlanEvidence01ID, @MelliCode, @StartDate, @EndDate, @StatAmar01;
    END

    CLOSE cur;
    DEALLOCATE cur;
END




 
 --      دو تا جدول دارم به مشخصات زیر

	--   SELECT   [PersonalCorrespondence01ID]
 --     ,[TimwStartEnd01]
 --     ,[DatePropertyPlanEvidence01]
 --     ,[MelliCode]
 --     ,[StatAmar01]
 --     ,[DesAmar01]
 --     ,[DateDesAmar01]
 --     ,[DateDesAmar02]
 --     ,[DailyPlanEvidence01ID]
 --     ,[DocumentNO01]
 --     ,[LastStatAmar01]
 --     ,[UjobPesronel01]
 --     ,[StatusConfirmation01]
 --     ,[UjobPesronel02]
 --     ,[StatusConfirmation02]
 --     ,[UjobPesronel03]
 --     ,[StatusConfirmation03]
 --     ,[UjobPesronel04]
 --     ,[StatusConfirmation04]
 --     ,[UjobPesronel05]
 --     ,[StatusConfirmation05]
 --     ,[UjobPesronel06]
 --     ,[StatusConfirmation06]
 --     ,[UjobPesronel07]
 --     ,[StatusConfirmation07]
 --     ,[UjobPesronel08]
 --     ,[StatusConfirmation08]
 --     ,[UjobPesronel09]
 --     ,[StatusConfirmation09]
 --     ,[UjobPesronel10]
 --     ,[StatusConfirmation10]
 --     ,[UjobPesronel11]
 --     ,[StatusConfirmation11]
 --     ,[UjobPesronel12]
 --     ,[StatusConfirmation12]
 --     ,[TypeLetter01]
 --     ,[UnitID01]
 --     ,[VarDate01]
 --     ,[VarDate02]
 --     ,[VarDate03]
 --     ,[VarDate04]
 --     ,[VarDate05]
 --     ,[VarDate06]
 --     ,[strVariabl01]
 --     ,[strVariabl02]
 --     ,[strVariabl03]
 --     ,[strVariabl04]
 --     ,[strVariabl05]
 --     ,[strVariabl06]
 -- FROM  [dbo].[PersonalCorrespondence01_Tbl]
 --و 


 --SELECT   [DailyPlanEvidenceStatAmar01Summary01ID]
 --     ,[DailyPlanEvidence01ID]
 --     ,[StartDate]
 --     ,[EndDate]
 --     ,[DurationDays]
 --     ,[HolidayDaysCount]
 --     ,[MaxContinuityHolidayDays]
 --     ,[Sortable01Id]
 --     ,[MelliCode]
 --     ,[StatAmar01]
 --     ,[RewardDaysCount]
 -- FROM [NewsDB].[dbo].[DailyPlanEvidenceStatAmar01Summary01_Tbl]



 -- می خوام  به ازای ه ر StartDate  [StatAmar01] like '581'  از جدول [DailyPlanEvidenceStatAmar01Summary01_Tbl] دو تا رکورد در جدول 
 --     [PersonalCorrespondence01_Tbl] ایجاد شود 
	--  که
	--  مقادیر جدول [PersonalCorrespondence01_Tbl] به شرح زیر باشد
	--  برای رکورد اول
	--  TypeLetter01=632
	--  [DailyPlanEvidence01ID]=[DailyPlanEvidence01ID]
	--  [PersonalCorrespondence01ID]=StartDate+0001 ++1 اضافه شود
	--  [MelliCode]=[MelliCode]
	--  [DateDesAmar01]=[StartDate]
	--  	  [DateDesAmar02]=[EndDate]
	--	  [DocumentNO01]=StartDate+0001++1 اضافه شود

	--	  رکورد دوم مصل رکورد ال باشد فقط 

	--	  TypeLetter01=633

 



  
   

   --این برای  [StatAmar01] like '581'   می خوام برای  [StatAmar01] like '588'   هم دو رکورد مشابه قبلی درست کنی