

/*
 EXEC [dbo].[UpdateCountAmar01_Tbl] @DailyActivityEvidence01ID = N'dab3b939-ccb2-488b-b56a-b51a91b02019',
 @UitID01=28,
 @StatAmar01=581,
 @DUS_COD01=91,
 @DrjDailyPLookupSubId=2 

 */





 CREATE OR ALTER PROCEDURE [dbo].[UpdateCountAmar01_Tbl]
    @DailyActivityEvidence01ID NVARCHAR(50),
    @UitID01 NVARCHAR(50),
    @StatAmar01 NVARCHAR(50),
    @DUS_COD01 NVARCHAR(50),
    @DrjDailyPLookupSubId NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Only proceed if conditions are met
        IF (@DUS_COD01 IN ('91', '90902'))
        BEGIN
            DECLARE @CountColumn NVARCHAR(50);
                        
            -- Determine which column to update based on StatAmar01
            SET @CountColumn = CASE @StatAmar01
                WHEN '581' THEN 'CountMorakhasi'
                WHEN '582' THEN 'CountMamorDoor'
                WHEN '583' THEN 'CountMamorNazdik'
                WHEN '585' THEN 'CountEstarahatKari'
                WHEN '587' THEN 'CountEstarahatNegahban'
                WHEN '586' THEN 'CountEstarahatPezashki'
                WHEN '590' THEN 'CountEzamBimarestan'
                WHEN '584' THEN 'CountNegahban'
                WHEN '588' THEN 'CountNahast'
                WHEN '593' THEN 'CountZendan'
                WHEN '589' THEN 'CountFarar'
                WHEN '591' THEN 'CountEntezarKhedmat'
                WHEN '594' THEN 'CountSumHazer'
                WHEN '592' THEN 'CountBedonkari'
                ELSE NULL
            END;
             
 
     
      

            -- Only proceed if we have a valid column to update
            IF (@CountColumn IS NOT NULL)
            BEGIN
                DECLARE @SQL NVARCHAR(MAX);
                
                -- Dynamic SQL to update the appropriate column
                SET @SQL = N'
                UPDATE uca
                SET ' + QUOTENAME(@CountColumn) + ' = (
                    SELECT COUNT(*) 
                    FROM [dbo].[View_DailyPlanEvidence01] v
                    WHERE v.DUS_COD01 IN (''91'', ''90902'') 
                      AND v.StatAmar01 = @StatAmar01Param
                      AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
                      AND v.UnitID01 = uca.UitID01
                      AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
                           OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
                )
                FROM [dbo].[UnitCountAmar01_Tbl] uca
                WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01IDParam
                  AND uca.UitID01 = @UitID01Param
                  AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubIdParam 
                       OR (@DrjDailyPLookupSubIdParam IS NULL AND uca.DrjDailyPLookupSubId IS NULL));';
                
                -- Execute the dynamic SQL with parameters
                EXEC sp_executesql @SQL, 
                    N'@DailyActivityEvidence01IDParam NVARCHAR(50),
                      @UitID01Param NVARCHAR(50),
                      @StatAmar01Param NVARCHAR(50),
                      @DrjDailyPLookupSubIdParam NVARCHAR(50)',
                    @DailyActivityEvidence01IDParam = @DailyActivityEvidence01ID,
                    @UitID01Param = @UitID01,
                    @StatAmar01Param = @StatAmar01,
                    @DrjDailyPLookupSubIdParam = @DrjDailyPLookupSubId;







							--مجاسبه جمع کل


					 UPDATE uca
				     SET 
					CountSazmani = agg.CountSazmani,
					CountMojodi = agg.CountMojodi,
					CountMamorBe = agg.CountMamorBe,
					CountMamorAz = agg.CountMamorAz,
					CountEdeKol = agg.CountEdeKol,
					CountMorakhasi = agg.CountMorakhasi,
					CountMamorDoor = agg.CountMamorDoor,
					CountMamorNazdik = agg.CountMamorNazdik,
					CountNegahban = agg.CountNegahban,
					CountEstarahatKari = agg.CountEstarahatKari,
					CountEstarahatPezashki = agg.CountEstarahatPezashki,
					CountEstarahatNegahban = agg.CountEstarahatNegahban,
					CountNahast = agg.CountNahast,
					CountFarar = agg.CountFarar,
					CountEzamBimarestan = agg.CountEzamBimarestan,
					CountEntezarKhedmat = agg.CountEntezarKhedmat,
					CountBedonkari = agg.CountBedonkari,
					CountZendan = agg.CountZendan,
					CountSumMotafareghe = agg.CountSumMotafareghe,
					CountSumHazer = agg.CountSumHazer
				FROM [dbo].[UnitCountAmar01_Tbl] uca
				CROSS APPLY (
					SELECT 
				   SUM(CAST(ISNULL(CountSazmani, '0') AS INT)) AS CountSazmani,
					SUM(CAST(ISNULL(CountMojodi, '0') AS INT)) AS CountMojodi,
					SUM(CAST(ISNULL(CountMamorBe, '0') AS INT)) AS CountMamorBe,
					SUM(CAST(ISNULL(CountMamorAz, '0') AS INT)) AS CountMamorAz,
					SUM(CAST(ISNULL(CountEdeKol, '0') AS INT)) AS CountEdeKol,
					SUM(CAST(ISNULL(CountMorakhasi, '0') AS INT)) AS CountMorakhasi,
					SUM(CAST(ISNULL(CountMamorDoor, '0') AS INT)) AS CountMamorDoor,
					SUM(CAST(ISNULL(CountMamorNazdik, '0') AS INT)) AS CountMamorNazdik,
					SUM(CAST(ISNULL(CountNegahban, '0') AS INT)) AS CountNegahban,
					SUM(CAST(ISNULL(CountEstarahatKari, '0') AS INT)) AS CountEstarahatKari,
					SUM(CAST(ISNULL(CountEstarahatPezashki, '0') AS INT)) AS CountEstarahatPezashki,
					SUM(CAST(ISNULL(CountEstarahatNegahban, '0') AS INT)) AS CountEstarahatNegahban,
					SUM(CAST(ISNULL(CountNahast, '0') AS INT)) AS CountNahast,
					SUM(CAST(ISNULL(CountFarar, '0') AS INT)) AS CountFarar,
					SUM(CAST(ISNULL(CountEzamBimarestan, '0') AS INT)) AS CountEzamBimarestan,
					SUM(CAST(ISNULL(CountEntezarKhedmat, '0') AS INT)) AS CountEntezarKhedmat,
					SUM(CAST(ISNULL(CountBedonkari, '0') AS INT)) AS CountBedonkari,
					SUM(CAST(ISNULL(CountZendan, '0') AS INT)) AS CountZendan,
					SUM(CAST(ISNULL(CountSumMotafareghe, '0') AS INT)) AS CountSumMotafareghe,
					SUM(CAST(ISNULL(CountSumHazer, '0') AS INT)) AS CountSumHazer

					FROM [dbo].[UnitCountAmar01_Tbl] sub
					WHERE sub.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
					  AND sub.UitID01 = @UitID01
					  AND sub.DrjDailyPLookupSubId IS NOT NULL
				) agg
				WHERE uca.DrjDailyPLookupSubId IS NULL;















				
				--	 UPDATE uca
				--     SET 
				--	CountSazmani = agg.CountSazmani,
				--	CountMojodi = agg.CountMojodi,
				--	CountMamorBe = agg.CountMamorBe,
				--	CountMamorAz = agg.CountMamorAz,
				--	CountEdeKol = agg.CountEdeKol,
				--	CountMorakhasi = agg.CountMorakhasi,
				--	CountMamorDoor = agg.CountMamorDoor,
				--	CountMamorNazdik = agg.CountMamorNazdik,
				--	CountNegahban = agg.CountNegahban,
				--	CountEstarahatKari = agg.CountEstarahatKari,
				--	CountEstarahatPezashki = agg.CountEstarahatPezashki,
				--	CountEstarahatNegahban = agg.CountEstarahatNegahban,
				--	CountNahast = agg.CountNahast,
				--	CountFarar = agg.CountFarar,
				--	CountEzamBimarestan = agg.CountEzamBimarestan,
				--	CountEntezarKhedmat = agg.CountEntezarKhedmat,
				--	CountBedonkari = agg.CountBedonkari,
				--	CountZendan = agg.CountZendan,
				--	CountSumMotafareghe = agg.CountSumMotafareghe,
				--	CountSumHazer = agg.CountSumHazer
				--FROM [dbo].[UnitCountAmar01_Tbl] uca
				--CROSS APPLY (
				--	SELECT 
				--   SUM(CAST(ISNULL(CountSazmani, '0') AS INT)) AS CountSazmani,
				--	SUM(CAST(ISNULL(CountMojodi, '0') AS INT)) AS CountMojodi,
				--	SUM(CAST(ISNULL(CountMamorBe, '0') AS INT)) AS CountMamorBe,
				--	SUM(CAST(ISNULL(CountMamorAz, '0') AS INT)) AS CountMamorAz,
				--	SUM(CAST(ISNULL(CountEdeKol, '0') AS INT)) AS CountEdeKol,
				--	SUM(CAST(ISNULL(CountMorakhasi, '0') AS INT)) AS CountMorakhasi,
				--	SUM(CAST(ISNULL(CountMamorDoor, '0') AS INT)) AS CountMamorDoor,
				--	SUM(CAST(ISNULL(CountMamorNazdik, '0') AS INT)) AS CountMamorNazdik,
				--	SUM(CAST(ISNULL(CountNegahban, '0') AS INT)) AS CountNegahban,
				--	SUM(CAST(ISNULL(CountEstarahatKari, '0') AS INT)) AS CountEstarahatKari,
				--	SUM(CAST(ISNULL(CountEstarahatPezashki, '0') AS INT)) AS CountEstarahatPezashki,
				--	SUM(CAST(ISNULL(CountEstarahatNegahban, '0') AS INT)) AS CountEstarahatNegahban,
				--	SUM(CAST(ISNULL(CountNahast, '0') AS INT)) AS CountNahast,
				--	SUM(CAST(ISNULL(CountFarar, '0') AS INT)) AS CountFarar,
				--	SUM(CAST(ISNULL(CountEzamBimarestan, '0') AS INT)) AS CountEzamBimarestan,
				--	SUM(CAST(ISNULL(CountEntezarKhedmat, '0') AS INT)) AS CountEntezarKhedmat,
				--	SUM(CAST(ISNULL(CountBedonkari, '0') AS INT)) AS CountBedonkari,
				--	SUM(CAST(ISNULL(CountZendan, '0') AS INT)) AS CountZendan,
				--	SUM(CAST(ISNULL(CountSumMotafareghe, '0') AS INT)) AS CountSumMotafareghe,
				--	SUM(CAST(ISNULL(CountSumHazer, '0') AS INT)) AS CountSumHazer

				--	FROM [dbo].[UnitCountAmar01_Tbl] sub
				--	WHERE sub.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
				--	  --AND sub.UitID01 = @UitID01
				--	  AND sub.DrjDailyPLookupSubId IS NOT NULL
				--) agg
				--WHERE uca.DrjDailyPLookupSubId IS NULL;

							--مجاسبه جمع کل





            END














				--select * from [dbo].[View_UnitCountAmar02_Tbl] where  DailyActivityEvidence01ID=@DailyActivityEvidence01ID






        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;

END;































-- CREATE OR ALTER PROCEDURE [dbo].[UpdateCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50),
--    @UitID01 NVARCHAR(50),
--    @StatAmar01 NVARCHAR(50),
--    @DUS_COD01 NVARCHAR(50),
--    @DrjDailyPLookupSubId NVARCHAR(50) = NULL
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    BEGIN TRY
--        -- Only proceed if conditions are met
--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '581')
--        BEGIN
--            -- Update the count for matching records
--            UPDATE uca
--            SET CountMorakhasi = (
--                SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '581'
--                  AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--                  AND v.UnitID01 = uca.UitID01
--                  AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
--                       OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
--            )
--            FROM [dbo].[UnitCountAmar01_Tbl] uca
--            WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--              AND uca.UitID01 = @UitID01
--              AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                   OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL));
--        END

--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '582')
--        BEGIN
--            -- Update the count for matching records
--            UPDATE uca
--            SET CountMamorDoor = (
--                SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '582'
--                  AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--                  AND v.UnitID01 = uca.UitID01
--                  AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
--                       OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
--            )
--            FROM [dbo].[UnitCountAmar01_Tbl] uca
--            WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--              AND uca.UitID01 = @UitID01
--              AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                   OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL));
--        END


--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '583')
--        BEGIN
--            -- Update the count for matching records
--            UPDATE uca
--            SET CountMamorNazdik = (
--                SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '583'
--                  AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--                  AND v.UnitID01 = uca.UitID01
--                  AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
--                       OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
--            )
--            FROM [dbo].[UnitCountAmar01_Tbl] uca
--            WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--              AND uca.UitID01 = @UitID01
--              AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                   OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL));
--        END

--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '585')
--        BEGIN
--            -- Update the count for matching records
--            UPDATE uca
--            SET CountEstarahatKari = (
--                SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '585'
--                  AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--                  AND v.UnitID01 = uca.UitID01
--                  AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
--                       OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
--            )
--            FROM [dbo].[UnitCountAmar01_Tbl] uca
--            WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--              AND uca.UitID01 = @UitID01
--              AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                   OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL));
--        END



--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '587')
--        BEGIN
--            -- Update the count for matching records
--            UPDATE uca
--            SET CountEstarahatNegahban = (
--                SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '587'
--                  AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--                  AND v.UnitID01 = uca.UitID01
--                  AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
--                       OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
--            )
--            FROM [dbo].[UnitCountAmar01_Tbl] uca
--            WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--              AND uca.UitID01 = @UitID01
--              AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                   OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL));
--        END


--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '586')
--        BEGIN
--            -- Update the count for matching records
--            UPDATE uca
--            SET CountEstarahatPezashki = (
--                SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '586'
--                  AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--                  AND v.UnitID01 = uca.UitID01
--                  AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
--                       OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
--            )
--            FROM [dbo].[UnitCountAmar01_Tbl] uca
--            WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--              AND uca.UitID01 = @UitID01
--              AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                   OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL));
--        END





--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '590')
--        BEGIN
--            -- Update the count for matching records
--            UPDATE uca
--            SET CountEzamBimarestan = (
--                SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '590'
--                  AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--                  AND v.UnitID01 = uca.UitID01
--                  AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
--                       OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
--            )
--            FROM [dbo].[UnitCountAmar01_Tbl] uca
--            WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--              AND uca.UitID01 = @UitID01
--              AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                   OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL));
--        END


--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '584')
--        BEGIN
--            -- Update the count for matching records
--            UPDATE uca
--            SET CountNegahban = (
--                SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '590'
--                  AND v.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--                  AND v.UnitID01 = uca.UitID01
--                  AND (v.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId 
--                       OR (uca.DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))
--            )
--            FROM [dbo].[UnitCountAmar01_Tbl] uca
--            WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--              AND uca.UitID01 = @UitID01
--              AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                   OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL));
--        END






--    END TRY
--    BEGIN CATCH
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;







 
--CREATE OR ALTER PROCEDURE [dbo].[UpdateCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50),
--    @UitID01 NVARCHAR(50),
--    @StatAmar01 NVARCHAR(50),
--    @DUS_COD01 NVARCHAR(50),
--    @DrjDailyPLookupSubId NVARCHAR(50) = NULL
--AS
--BEGIN
--    SET NOCOUNT ON;
--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '581')
--        BEGIN
--				  update [dbo].[UnitCountAmar01_Tbl] SET CountMorakhasi=(SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '581'
--                  AND v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--                  AND v.UnitID01 = @UitID01
--                  AND (v.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                       OR (@DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))) where
--				   DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--                  AND  UitID01 = @UitID01
--                  AND ( DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                       OR (@DrjDailyPLookupSubId IS NULL AND  DrjDailyPLookupSubId IS NULL))
--        END
-- END;





 

--CREATE OR ALTER PROCEDURE [dbo].[UpdateCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50),
--    @UitID01 NVARCHAR(50),
--    @StatAmar01 NVARCHAR(50),
--    @DUS_COD01 NVARCHAR(50),
--    @DrjDailyPLookupSubId NVARCHAR(50) = NULL
--AS
--BEGIN
--    SET NOCOUNT ON;
--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = '581')
--        BEGIN
--				  update [dbo].[UnitCountAmar01_Tbl] SET CountMorakhasi=(SELECT COUNT(*) 
--                FROM [dbo].[View_DailyPlanEvidence01] v
--                WHERE v.DUS_COD01 IN ('91', '90902') 
--                  AND v.StatAmar01 = '581'
--                  AND v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--                  AND v.UnitID01 = @UitID01
--                  AND (v.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                       OR (@DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL))) where
--				   DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--                  AND  UitID01 = @UitID01
--                  AND ( DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
--                       OR (@DrjDailyPLookupSubId IS NULL AND  DrjDailyPLookupSubId IS NULL))
--        END
-- END;




      --UPDATE uca
      --      SET CountMorakhasi = (
      --          SELECT COUNT(*) 
      --          FROM [dbo].[View_DailyPlanEvidence01] v
      --          WHERE v.DUS_COD01 IN ('91', '90902') 
      --            AND v.StatAmar01 = '581'
      --            AND v.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
      --            AND v.UnitID01 = @UitID01
      --            AND (v.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
      --                 --OR (@DrjDailyPLookupSubId IS NULL AND v.DrjDailyPLookupSubId IS NULL)
					 --  )
      --      )
      --      FROM [dbo].[UnitCountAmar01_Tbl] uca
      --      WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
      --        AND uca.UitID01 = @UitID01
      --        AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
      --             --OR (@DrjDailyPLookupSubId IS NULL AND uca.DrjDailyPLookupSubId IS NULL)
				  -- )
				  -- ;



--CREATE OR ALTER PROCEDURE [dbo].[UpdateCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50),
--    @UitID01 NVARCHAR(50),
--    @StatAmar01 NVARCHAR(50),
--    @DUS_COD01 NVARCHAR(50),
--    @DrjDailyPLookupSubId NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;

	 

--	         -- Update CountMorakhasi when StatAmar01 = 581
--        IF (@DUS_COD01 IN ('91', '90902') AND @StatAmar01 = 581)
--        BEGIN
--		UPDATE [dbo].[UnitCountAmar01_Tbl] set CountMorakhasi=(select SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581
--		AND DailyActivityEvidence01ID=@DailyActivityEvidence01ID 
--		AND UitID01=@UitID01
--		AND DrjDailyPLookupSubId=@DrjDailyPLookupSubId
--		THEN 1 ELSE 0 END) FROM [dbo].[View_DailyPlanEvidence01]
--		)
--		END;
--END;

		

		       --FROM [dbo].[View_DailyPlanEvidence01]
         --   WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
         --   AND DUS_COD01 IN ('91', '90901', '90902')
         --   GROUP BY UnitID01, DrjDailyPLookupSubId


		--UPDATE [dbo].[UnitCountAmar01_Tbl] set 

		--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,




        --    UPDATE uca
        --    SET uca.CountMorakhasi = ISNULL(uca.CountMorakhasi, 0) + 1
        --    FROM [dbo].[UnitCountAmar01_Tbl] uca
        --    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
        --      AND uca.UitID01 = @UitID01
        --      AND (uca.DrjDailyPLookupSubId = @DrjDailyPLookupSubId 
        --           OR (uca.DrjDailyPLookupSubId IS NULL AND @DrjDailyPLookupSubId IS NULL));
            
        --    PRINT 'CountMorakhasi updated for StatAmar01 = 581';
        --END
	

	 
	 

--	        -- محاسبه تمام مقادیر آماری در یک مرحله
--        ;WITH AllStats AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                -- محاسبات اصلی
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
--                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
--                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
--                -- محاسبات وضعیت‌ها
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId
--        )
--        -- به‌روزرسانی تمام مقادیر آماری
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ISNULL(stats.CountMojodi, 0),
--            uca.CountMamorBe = ISNULL(stats.CountMamorBe, 0),
--            uca.CountMamorAz = ISNULL(stats.CountMamorAz, 0),
--            uca.CountEdeKol = ISNULL(stats.CountEdeKol, 0),
--            uca.CountMorakhasi = ISNULL(stats.CountMorakhasi, 0),
--            uca.CountMamorDoor = ISNULL(stats.CountMamorDoor, 0),
--            uca.CountMamorNazdik = ISNULL(stats.CountMamorNazdik, 0),
--            uca.CountEstarahatKari = ISNULL(stats.CountEstarahatKari, 0),
--            uca.CountEstarahatNegahban = ISNULL(stats.CountEstarahatNegahban, 0),
--            uca.CountEstarahatPezashki = ISNULL(stats.CountEstarahatPezashki, 0),
--            uca.CountEzamBimarestan = ISNULL(stats.CountEzamBimarestan, 0),
--            uca.CountNegahban = ISNULL(stats.CountNegahban, 0),
--            uca.CountNahast = ISNULL(stats.CountNahast, 0),
--            uca.CountZendan = ISNULL(stats.CountZendan, 0),
--            uca.CountFarar = ISNULL(stats.CountFarar, 0),
--            uca.CountEntezarKhedmat = ISNULL(stats.CountEntezarKhedmat, 0),
--            uca.CountSumHazer = ISNULL(stats.CountSumHazer, 0),
--            uca.CountSumMotafareghe = ISNULL(stats.CountSumMotafareghe, 0),
--            uca.CountBedonkari = ISNULL(stats.CountBedonkari, 0)
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        LEFT JOIN AllStats stats ON 
--            stats.UnitID01 = uca.UitID01 
--            AND stats.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        









 
--END;





        /*
EXEC [dbo].[DailyPlanEvidence01a01] 
@WHERE = N'UnitID01 = ''24'' 
            
           AND CAST(REPLACE(Date01, ''/'', '''') AS DECIMAL(10,0))  > 14040102'


-- EXEC [dbo].[DailyPlanEvidence01a01] 
@WHERE = N'EMP_NUM = ''088058318'' 
           AND TimwStartEnd01 != ''625''  
           AND LastStatAmar00 = ''581'' 
           AND CAST(REPLACE(Date01, ''/'', '''') AS DECIMAL(10,0))  > 14031111'
--EXEC [dbo].[DailyPlanEvidence01a01] @WHERE = N'EMP_NUM = ''085623953'' AND TypeLetter01 = ''632'' ' 

--EXEC [dbo].[DailyPlanEvidence01a01] @WHERE = N'      strTextContent01 IS   NULL' 

 --SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('','ALLYagen','0cb251cd-128b-4e3e-a247-978b62332b34', '28')  AS CountView_DailyPlanEvidence01
 
 --SELECT * FROM dbo.[GetDailyPlanEvidence01_TblCount011]('Vazifeh','ALLYagen','0cb251cd-128b-4e3e-a247-978b62332b34', '28')  AS CountView_DailyPlanEvidence01


 EXEC [dbo].[CreateUnitCountAmar01_Tbl] @DailyActivityEvidence01ID = N'0cb251cd-128b-4e3e-a247-978b62332b34'  
 
 
 EXEC [dbo].[CreateUnitCountAmar01_Tbl] @DailyActivityEvidence01ID = N'a1252735-160e-45b9-9b1f-e19b76352d66'  

 SELECT   [UnitCountAmar01ID]
      ,[DailyActivityEvidence01ID]
      ,[UitID01]
      ,[DrjDailyPLookupSubId]
      
  FROM [dbo].[UnitCountAmar01_Tbl] ORDER BY DailyActivityEvidence01ID , CONVERT(INT, [UitID01]),[DrjDailyPLookupSubId]  

  	       -- SUM(CASE WHEN v.DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
        --SUM(CASE WHEN v.DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
        --SUM(CASE WHEN v.DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
        --SUM(CASE WHEN v.DUS_COD01 IN ('91', '90902') AND v.StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
		    -- بررسی وجود DailyActivityEvidence01ID

*/


    -- بررسی وجود DailyActivityEvidence01ID

	 
















--CREATE OR ALTER PROCEDURE [dbo].[UpdateCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
                
--        -- درج رکوردهای جدید برای StateName01
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01] )
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            us11.StateName01  
--        FROM 
--            (SELECT DISTINCT [StateName01] 
--             FROM [dbo].[View_DailyActivityEvidence01_Tbl02] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS us11
--      ;



--        -- درج رکوردهای جدید برای StateName01
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            us1.StateName01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT [StateName01] 
--             FROM [dbo].[View_DailyActivityEvidence01_Tbl02] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS us1
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--		        -- دریافت مقدار StateName01 برای استفاده در UitID01 = 318
--        DECLARE @StateNameFor318 NVARCHAR(100);
        
--        SELECT TOP 1 @StateNameFor318 = StateName01
--        FROM [dbo].[View_DailyActivityEvidence01_Tbl02]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;





		
--        -- درج رکوردهای جدید برای UnitID01
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01] )
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u11.UnitID01 
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u11
    















--        -- درج رکوردهای جدید برای UnitID01
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- محاسبه تمام مقادیر آماری در یک مرحله
--        ;WITH AllStats AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                -- محاسبات اصلی
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
--                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
--                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
--                -- محاسبات وضعیت‌ها
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId
--        )
--        -- به‌روزرسانی تمام مقادیر آماری
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ISNULL(stats.CountMojodi, 0),
--            uca.CountMamorBe = ISNULL(stats.CountMamorBe, 0),
--            uca.CountMamorAz = ISNULL(stats.CountMamorAz, 0),
--            uca.CountEdeKol = ISNULL(stats.CountEdeKol, 0),
--            uca.CountMorakhasi = ISNULL(stats.CountMorakhasi, 0),
--            uca.CountMamorDoor = ISNULL(stats.CountMamorDoor, 0),
--            uca.CountMamorNazdik = ISNULL(stats.CountMamorNazdik, 0),
--            uca.CountEstarahatKari = ISNULL(stats.CountEstarahatKari, 0),
--            uca.CountEstarahatNegahban = ISNULL(stats.CountEstarahatNegahban, 0),
--            uca.CountEstarahatPezashki = ISNULL(stats.CountEstarahatPezashki, 0),
--            uca.CountEzamBimarestan = ISNULL(stats.CountEzamBimarestan, 0),
--            uca.CountNegahban = ISNULL(stats.CountNegahban, 0),
--            uca.CountNahast = ISNULL(stats.CountNahast, 0),
--            uca.CountZendan = ISNULL(stats.CountZendan, 0),
--            uca.CountFarar = ISNULL(stats.CountFarar, 0),
--            uca.CountEntezarKhedmat = ISNULL(stats.CountEntezarKhedmat, 0),
--            uca.CountSumHazer = ISNULL(stats.CountSumHazer, 0),
--            uca.CountSumMotafareghe = ISNULL(stats.CountSumMotafareghe, 0),
--            uca.CountBedonkari = ISNULL(stats.CountBedonkari, 0)
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        LEFT JOIN AllStats stats ON 
--            stats.UnitID01 = uca.UitID01 
--            AND stats.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        -- به‌روزرسانی تعداد سازمانی با تطابق دقیق
--        UPDATE uca
--        SET uca.CountSazmani = ISNULL(uo.NoFolder01, 0)
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN [dbo].[UnitOrganization01_Tbl] uo ON 
--            uo.UitID01 = uca.UitID01
--            AND uo.[TblLuLookupSubbId] = uca.[DrjDailyPLookupSubId]
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        

--        -- به‌روزرسانی مقادیر تجمیعی برای UitID01 = 318 (جمع سایر رکوردها)
--        ;WITH AggregatedCounts AS (
--            SELECT 
--                DrjDailyPLookupSubId,
--                SUM(CAST(CountMojodi AS INT)) AS CountMojodi,
--                SUM(CAST(CountMamorBe AS INT)) AS CountMamorBe,
--                SUM(CAST(CountMamorAz AS INT)) AS CountMamorAz,
--                SUM(CAST(CountEdeKol AS INT)) AS CountEdeKol,

--                SUM(CAST(CountMorakhasi AS INT)) AS CountMorakhasi,
--                SUM(CAST(CountMamorDoor AS INT)) AS CountMamorDoor,
--                SUM(CAST(CountMamorNazdik AS INT)) AS CountMamorNazdik,
--                SUM(CAST(CountEstarahatKari AS INT)) AS CountEstarahatKari,
--                SUM(CAST(CountEstarahatNegahban AS INT)) AS CountEstarahatNegahban,
--                SUM(CAST(CountEstarahatPezashki AS INT)) AS CountEstarahatPezashki,
--                SUM(CAST(CountEzamBimarestan AS INT)) AS CountEzamBimarestan,
--                SUM(CAST(CountNegahban AS INT)) AS CountNegahban,
--                SUM(CAST(CountNahast AS INT)) AS CountNahast,
--                SUM(CAST(CountZendan AS INT)) AS CountZendan,
--                SUM(CAST(CountFarar AS INT)) AS CountFarar,
--                SUM(CAST(CountEntezarKhedmat AS INT)) AS CountEntezarKhedmat,
--                SUM(CAST(CountSumHazer AS INT)) AS CountSumHazer,
--                SUM(CAST(CountSumMotafareghe AS INT)) AS CountSumMotafareghe,
--                SUM(CAST(CountBedonkari AS INT)) AS CountBedonkari


--            FROM [dbo].[UnitCountAmar01_Tbl]
--            WHERE UitID01 !=  @StateNameFor318
--            AND DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--            GROUP BY DrjDailyPLookupSubId
--        )
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ISNULL(ac.CountMojodi, 0),
--            uca.CountMamorBe = ISNULL(ac.CountMamorBe, 0),
--            uca.CountMamorAz = ISNULL(ac.CountMamorAz, 0),
--            uca.CountEdeKol = ISNULL(ac.CountEdeKol, 0),

--            uca.CountMorakhasi = ISNULL(ac.CountMorakhasi, 0),
--            uca.CountMamorDoor = ISNULL(ac.CountMamorDoor, 0),
--            uca.CountMamorNazdik = ISNULL(ac.CountMamorNazdik, 0),
--            uca.CountEstarahatKari = ISNULL(ac.CountEstarahatKari, 0),
--            uca.CountEstarahatNegahban = ISNULL(ac.CountEstarahatNegahban, 0),
--            uca.CountEstarahatPezashki = ISNULL(ac.CountEstarahatPezashki, 0),
--            uca.CountEzamBimarestan = ISNULL(ac.CountEzamBimarestan, 0),
--            uca.CountNegahban = ISNULL(ac.CountNegahban, 0),
--            uca.CountNahast = ISNULL(ac.CountNahast, 0),
--            uca.CountZendan = ISNULL(ac.CountZendan, 0),
--            uca.CountFarar = ISNULL(ac.CountFarar, 0),
--            uca.CountEntezarKhedmat = ISNULL(ac.CountEntezarKhedmat, 0),
--            uca.CountSumHazer = ISNULL(ac.CountSumHazer, 0),
--            uca.CountSumMotafareghe = ISNULL(ac.CountSumMotafareghe, 0),
--            uca.CountBedonkari = ISNULL(ac.CountBedonkari, 0)




--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        LEFT JOIN AggregatedCounts ac ON 
--            ac.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.UitID01 =  @StateNameFor318
--        AND uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        













--		--مجاسبه جمع کل


--		UPDATE uca
--SET 
--    CountSazmani = agg.CountSazmani,
--    CountMojodi = agg.CountMojodi,
--    CountMamorBe = agg.CountMamorBe,
--    CountMamorAz = agg.CountMamorAz,
--    CountEdeKol = agg.CountEdeKol,
--    CountMorakhasi = agg.CountMorakhasi,
--    CountMamorDoor = agg.CountMamorDoor,
--    CountMamorNazdik = agg.CountMamorNazdik,
--    CountNegahban = agg.CountNegahban,
--    CountEstarahatKari = agg.CountEstarahatKari,
--    CountEstarahatPezashki = agg.CountEstarahatPezashki,
--    CountEstarahatNegahban = agg.CountEstarahatNegahban,
--    CountNahast = agg.CountNahast,
--    CountFarar = agg.CountFarar,
--    CountEzamBimarestan = agg.CountEzamBimarestan,
--    CountEntezarKhedmat = agg.CountEntezarKhedmat,
--    CountBedonkari = agg.CountBedonkari,
--    CountZendan = agg.CountZendan,
--    CountSumMotafareghe = agg.CountSumMotafareghe,
--    CountSumHazer = agg.CountSumHazer
--FROM [dbo].[UnitCountAmar01_Tbl] uca
--CROSS APPLY (
--    SELECT 
--		   SUM(CAST(ISNULL(CountSazmani, '0') AS INT)) AS CountSazmani,
--	SUM(CAST(ISNULL(CountMojodi, '0') AS INT)) AS CountMojodi,
--	SUM(CAST(ISNULL(CountMamorBe, '0') AS INT)) AS CountMamorBe,
--	SUM(CAST(ISNULL(CountMamorAz, '0') AS INT)) AS CountMamorAz,
--	SUM(CAST(ISNULL(CountEdeKol, '0') AS INT)) AS CountEdeKol,
--	SUM(CAST(ISNULL(CountMorakhasi, '0') AS INT)) AS CountMorakhasi,
--	SUM(CAST(ISNULL(CountMamorDoor, '0') AS INT)) AS CountMamorDoor,
--	SUM(CAST(ISNULL(CountMamorNazdik, '0') AS INT)) AS CountMamorNazdik,
--	SUM(CAST(ISNULL(CountNegahban, '0') AS INT)) AS CountNegahban,
--	SUM(CAST(ISNULL(CountEstarahatKari, '0') AS INT)) AS CountEstarahatKari,
--	SUM(CAST(ISNULL(CountEstarahatPezashki, '0') AS INT)) AS CountEstarahatPezashki,
--	SUM(CAST(ISNULL(CountEstarahatNegahban, '0') AS INT)) AS CountEstarahatNegahban,
--	SUM(CAST(ISNULL(CountNahast, '0') AS INT)) AS CountNahast,
--	SUM(CAST(ISNULL(CountFarar, '0') AS INT)) AS CountFarar,
--	SUM(CAST(ISNULL(CountEzamBimarestan, '0') AS INT)) AS CountEzamBimarestan,
--	SUM(CAST(ISNULL(CountEntezarKhedmat, '0') AS INT)) AS CountEntezarKhedmat,
--	SUM(CAST(ISNULL(CountBedonkari, '0') AS INT)) AS CountBedonkari,
--	SUM(CAST(ISNULL(CountZendan, '0') AS INT)) AS CountZendan,
--	SUM(CAST(ISNULL(CountSumMotafareghe, '0') AS INT)) AS CountSumMotafareghe,
--	SUM(CAST(ISNULL(CountSumHazer, '0') AS INT)) AS CountSumHazer

--    FROM [dbo].[UnitCountAmar01_Tbl] sub
--    WHERE sub.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID
--      AND sub.UitID01 = uca.UitID01
--      AND sub.DrjDailyPLookupSubId IS NOT NULL
--) agg
--WHERE uca.DrjDailyPLookupSubId IS NULL;


	 










--	    	--	    SET XACT_ABORT ON;
--			 --   DECLARE @RowCount INT = @@ROWCOUNT;
    
--    --PRINT 'Update Trigger Executed333';
    
--    ---- مقدار @@ROWCOUNT را بازیابی کن تا EF فکر نکند هیچ تغییری رخ نداده
--    --IF @RowCount = 0
--    --    SET @RowCount = 1;
--		  --  BEGIN TRY
--    --    PRINT 'update change11111';
--    --END TRY
--    --BEGIN CATCH
--    --    PRINT 'Error in trigger';
--    --END CATCH

--    -- اگر مقدار StatAmar01 تغییر کرده باشد
--    --IF UPDATE(StatAmar01)
--    --BEGIN
--    --    -- به‌روزرسانی CountMojodi در جدول UnitCountAmar01_Tbl بر اساس تغییرات
--    --    UPDATE uca
--    --    SET CountMorakhasi = (
--    --        SELECT SUM(CASE WHEN i.DUS_COD01 IN ('91', '90901')AND i.StatAmar01 = 581 THEN 1 ELSE 0 END)
--    --        FROM UPDATED i
--    --        WHERE i.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID

			 

--    --    )
--    --    FROM UnitCountAmar01_Tbl uca
--    --    WHERE EXISTS (
--    --        SELECT 1 FROM INSERTED i WHERE i.DailyActivityEvidence01ID = uca.DailyActivityEvidence01ID and i.UnitID01=uca.UitID01
--    --    );
--    --END;




















	 





































--        COMMIT TRANSACTION;
--     END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;







--CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    -- بررسی وجود DailyActivityEvidence01ID
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- درج رکوردهای جدید برای StateName01
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            us1.StateName01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT [StateName01] 
--             FROM [dbo].[View_DailyActivityEvidence01_Tbl02] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS us1
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- درج رکوردهای جدید برای UnitID01
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- محاسبه تمام مقادیر آماری در یک مرحله
--        ;WITH AllStats AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                -- محاسبات اصلی
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
--                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
--                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
--                -- محاسبات وضعیت‌ها
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId
--        )
--        -- به‌روزرسانی تمام مقادیر آماری
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ISNULL(stats.CountMojodi, 0),
--            uca.CountMamorBe = ISNULL(stats.CountMamorBe, 0),
--            uca.CountMamorAz = ISNULL(stats.CountMamorAz, 0),
--            uca.CountEdeKol = ISNULL(stats.CountEdeKol, 0),
--            uca.CountMorakhasi = ISNULL(stats.CountMorakhasi, 0),
--            uca.CountMamorDoor = ISNULL(stats.CountMamorDoor, 0),
--            uca.CountMamorNazdik = ISNULL(stats.CountMamorNazdik, 0),
--            uca.CountEstarahatKari = ISNULL(stats.CountEstarahatKari, 0),
--            uca.CountEstarahatNegahban = ISNULL(stats.CountEstarahatNegahban, 0),
--            uca.CountEstarahatPezashki = ISNULL(stats.CountEstarahatPezashki, 0),
--            uca.CountEzamBimarestan = ISNULL(stats.CountEzamBimarestan, 0),
--            uca.CountNegahban = ISNULL(stats.CountNegahban, 0),
--            uca.CountNahast = ISNULL(stats.CountNahast, 0),
--            uca.CountZendan = ISNULL(stats.CountZendan, 0),
--            uca.CountFarar = ISNULL(stats.CountFarar, 0),
--            uca.CountEntezarKhedmat = ISNULL(stats.CountEntezarKhedmat, 0),
--            uca.CountSumHazer = ISNULL(stats.CountSumHazer, 0),
--            uca.CountSumMotafareghe = ISNULL(stats.CountSumMotafareghe, 0),
--            uca.CountBedonkari = ISNULL(stats.CountBedonkari, 0)
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        LEFT JOIN AllStats stats ON 
--            stats.UnitID01 = uca.UitID01 
--            AND stats.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        -- به‌روزرسانی تعداد سازمانی با تطابق دقیق
--        UPDATE uca
--        SET uca.CountSazmani = ISNULL(uo.NoFolder01, 0)
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN [dbo].[UnitOrganization01_Tbl] uo ON 
--            uo.UitID01 = uca.UitID01
--            AND uo.[TblLuLookupSubbId] = uca.[DrjDailyPLookupSubId]
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        


--		UPDATE uca
--		SET uca.CountMojodi = ISNULL(mc.TotalSum, 0)
--		FROM [dbo].[UnitCountAmar01_Tbl] uca
--		JOIN (
--			SELECT DrjDailyPLookupSubId, SUM(CAST(CountMojodi AS INT)) AS TotalSum
--			FROM [dbo].[UnitCountAmar01_Tbl]
--			WHERE UitID01 != 318
--			GROUP BY DrjDailyPLookupSubId
--		) mc ON uca.DrjDailyPLookupSubId = mc.DrjDailyPLookupSubId
--		WHERE uca.UitID01 = 318;


--		UPDATE uca
--		SET uca.CountMamorBe = ISNULL(mc.TotalSum, 0)
--		FROM [dbo].[UnitCountAmar01_Tbl] uca
--		JOIN (
--			SELECT DrjDailyPLookupSubId, SUM(CAST(CountMamorBe AS INT)) AS TotalSum
--			FROM [dbo].[UnitCountAmar01_Tbl]
--			WHERE UitID01 != 318
--			GROUP BY DrjDailyPLookupSubId
--		) mc ON uca.DrjDailyPLookupSubId = mc.DrjDailyPLookupSubId
--		WHERE uca.UitID01 = 318;

--		UPDATE uca
--		SET uca.CountMamorAz = ISNULL(mc.TotalSum, 0)
--		FROM [dbo].[UnitCountAmar01_Tbl] uca
--		JOIN (
--			SELECT DrjDailyPLookupSubId, SUM(CAST(CountMamorAz AS INT)) AS TotalSum
--			FROM [dbo].[UnitCountAmar01_Tbl]
--			WHERE UitID01 != 318
--			GROUP BY DrjDailyPLookupSubId
--		) mc ON uca.DrjDailyPLookupSubId = mc.DrjDailyPLookupSubId
--		WHERE uca.UitID01 = 318;

--		UPDATE uca
--		SET uca.CountEdeKol = ISNULL(mc.TotalSum, 0)
--		FROM [dbo].[UnitCountAmar01_Tbl] uca
--		JOIN (
--			SELECT DrjDailyPLookupSubId, SUM(CAST(CountEdeKol AS INT)) AS TotalSum
--			FROM [dbo].[UnitCountAmar01_Tbl]
--			WHERE UitID01 != 318
--			GROUP BY DrjDailyPLookupSubId
--		) mc ON uca.DrjDailyPLookupSubId = mc.DrjDailyPLookupSubId
--		WHERE uca.UitID01 = 318;










--        COMMIT TRANSACTION;
        
--        -- بازگرداندن نتایج ترکیبی
--        SELECT 
--            v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
--            v.persianWeekDate01 AS روزهفته,
--            v.strDateCategory01 AS نوعتاریخ,
--            v.TimwStartEnd01 AS بازه_زمانی,
--            v.strTimwStart01 AS زمان_شروع,
--            v.strTimwEnd01 AS زمان_پایان,
--            c.[Title] AS عنوان_واحد,
--            (SELECT COUNT(*) FROM [dbo].[UnitCountAmar01_Tbl] 
--             WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) AS تعداد_رکوردهای_ایجاد_شده
--        FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
--        LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON c.[CategoryGeneralId] = v.[UnitID01]
--        WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- نمونه داده‌های ایجاد شده
--        SELECT TOP 10
--            UitID01 AS کد_واحد,
--            DrjDailyPLookupSubId AS کد_رتبه,
--            CountMojodi AS تعداد_موجودی,
--            CountMamorBe AS تعداد_ماموربه,
--            CountMamorAz AS تعداد_ماموراز,
--            CountEdeKol AS تعداد_اداکل,
--            CountSazmani AS تعداد_سازمانی,
--            CountMorakhasi AS تعداد_مرخصی,
--            CountMamorDoor AS تعداد_ماموردور
--        FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--        ORDER BY UitID01, DrjDailyPLookupSubId;
        


--    END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;
























--CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    -- بررسی وجود DailyActivityEvidence01ID
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        

 
--		         INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            us1.StateName01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT [StateName01] 
--             FROM [dbo].[View_DailyActivityEvidence01_Tbl02] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS us1
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;


 



--        -- درج رکوردهای جدید
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- محاسبه تمام مقادیر در یک مرحله با استفاده از CASE
--        ;WITH AllCounts AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                -- محاسبات بر اساس DUS_COD01
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
--                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
--                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
--                -- محاسبات بر اساس StatAmar01
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari
--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId
--        )
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ac.CountMojodi,
--            uca.CountMamorBe = ac.CountMamorBe,
--            uca.CountMamorAz = ac.CountMamorAz,
--            uca.CountEdeKol = ac.CountEdeKol,
--            uca.CountMorakhasi = ac.CountMorakhasi,
--            uca.CountMamorDoor = ac.CountMamorDoor,
--            uca.CountMamorNazdik = ac.CountMamorNazdik,
--            uca.CountEstarahatKari = ac.CountEstarahatKari,
--            uca.CountEstarahatNegahban = ac.CountEstarahatNegahban,
--            uca.CountEstarahatPezashki = ac.CountEstarahatPezashki,
--            uca.CountEzamBimarestan = ac.CountEzamBimarestan,
--            uca.CountNegahban = ac.CountNegahban,
--            uca.CountNahast = ac.CountNahast,
--            uca.CountZendan = ac.CountZendan,
--            uca.CountFarar = ac.CountFarar,
--            uca.CountEntezarKhedmat = ac.CountEntezarKhedmat,
--            uca.CountSumHazer = ac.CountSumHazer,
--            uca.CountSumMotafareghe = ac.CountSumMotafareghe,
--            uca.CountBedonkari = ac.CountBedonkari
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN AllCounts ac ON 
--            ac.UnitID01 = uca.UitID01 
--            AND ac.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        -- به‌روزرسانی CountSazmani به صورت جداگانه
--        --UPDATE uca
--        --SET uca.CountSazmani = uo.NoFolder01
--        --FROM [dbo].[UnitCountAmar01_Tbl] uca
--        --INNER JOIN [dbo].[UnitOrganization01_Tbl] uo ON uo.UitID01 = uca.UitID01
--        --WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--		      UPDATE uca
--        SET uca.CountSazmani = uo.NoFolder01
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN [dbo].[UnitOrganization01_Tbl] uo ON uo.UitID01 = uca.UitID01

--		where uo.[TblLuLookupSubbId]=uca.[DrjDailyPLookupSubId]

--        COMMIT TRANSACTION;
        
--        -- بازگرداندن نتایج
--        SELECT 
--            v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
--            v.persianWeekDate01 AS روزهفته,
--            v.strDateCategory01 AS نوعتاریخ,
--            v.TimwStartEnd01 AS بازه_زمانی,
--            v.strTimwStart01 AS زمان_شروع,
--            v.strTimwEnd01 AS زمان_پایان,
--            c.[Title] AS عنوان_واحد,
--            (SELECT COUNT(*) FROM [dbo].[UnitCountAmar01_Tbl] 
--             WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID) AS تعداد_رکوردهای_ایجاد_شده
--        FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
--        LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON c.[CategoryGeneralId] = v.[UnitID01]
--        WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- نمونه داده‌های ایجاد شده
--        SELECT TOP 10
--            UitID01 AS کد_واحد,
--            DrjDailyPLookupSubId AS کد_رتبه,
--            CountMojodi AS تعداد_موجودی,
--            CountMamorBe AS تعداد_ماموربه,
--            CountMamorAz AS تعداد_ماموراز,
--            CountEdeKol AS تعداد_اداکل,
--            CountSazmani AS تعداد_سازمانی
--        FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--        ORDER BY UitID01, DrjDailyPLookupSubId;
        
--    END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;





























--CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    -- بررسی وجود DailyActivityEvidence01ID
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- درج رکوردهای جدید
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- محاسبه تمام مقادیر در یک مرحله با استفاده از PIVOT و CASE
--        ;WITH AllCounts AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                -- محاسبات بر اساس DUS_COD01
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90901') THEN 1 ELSE 0 END) AS CountMojodi,
--                SUM(CASE WHEN DUS_COD01 = '90902' THEN 1 ELSE 0 END) AS CountMamorBe,
--                SUM(CASE WHEN DUS_COD01 = '90901' THEN 1 ELSE 0 END) AS CountMamorAz,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') THEN 1 ELSE 0 END) AS CountEdeKol,
--                -- محاسبات بر اساس StatAmar01
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581 THEN 1 ELSE 0 END) AS CountMorakhasi,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582 THEN 1 ELSE 0 END) AS CountMamorDoor,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583 THEN 1 ELSE 0 END) AS CountMamorNazdik,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585 THEN 1 ELSE 0 END) AS CountEstarahatKari,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587 THEN 1 ELSE 0 END) AS CountEstarahatNegahban,

--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 586 THEN 1 ELSE 0 END) AS CountEstarahatPezashki,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 590 THEN 1 ELSE 0 END) AS CountEzamBimarestan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 584 THEN 1 ELSE 0 END) AS CountNegahban,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 588 THEN 1 ELSE 0 END) AS CountNahast,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 593 THEN 1 ELSE 0 END) AS CountZendan,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 589 THEN 1 ELSE 0 END) AS CountFarar,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 591 THEN 1 ELSE 0 END) AS CountEntezarKhedmat,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 594 THEN 1 ELSE 0 END) AS CountSumHazer,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 != 594 THEN 1 ELSE 0 END) AS CountSumMotafareghe,
--                SUM(CASE WHEN DUS_COD01 IN ('91', '90902') AND StatAmar01 = 592 THEN 1 ELSE 0 END) AS CountBedonkari


--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId
--        )
--        UPDATE uca
--        SET 
--            uca.CountMojodi = ac.CountMojodi,
--            uca.CountMamorBe = ac.CountMamorBe,
--            uca.CountMamorAz = ac.CountMamorAz,
--            uca.CountEdeKol = ac.CountEdeKol,
--            uca.CountMorakhasi = ac.CountMorakhasi,
--            uca.CountMamorDoor = ac.CountMamorDoor,
--            uca.CountMamorNazdik = ac.CountMamorNazdik,
--            uca.CountEstarahatKari = ac.CountEstarahatKari,
--            uca.CountEstarahatNegahban = ac.CountEstarahatNegahban,

--            uca.CountEstarahatPezashki = ac.CountEstarahatPezashki,
--            uca.CountEzamBimarestan = ac.CountEzamBimarestan,
--            uca.CountNegahban = ac.CountNegahban,
--            uca.CountNahast = ac.CountNahast,
--            uca.CountZendan = ac.CountZendan,
--            uca.CountFarar = ac.CountFarar,
--            uca.CountEntezarKhedmat = ac.CountEntezarKhedmat,
--            uca.CountSumHazer = ac.CountSumHazer,
--            uca.CountSumMotafareghe = ac.CountSumMotafareghe,
--            uca.CountBedonkari = ac.CountBedonkari,

--			update [dbo].[UnitCountAmar01_Tbl] set CountSazmani=(select [NoFolder01] from [dbo].[UnitOrganization01_Tbl] where [UitID01]=u.UnitID01) where [UitID01]=u.UnitID01

 

--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN AllCounts ac ON 
--            ac.UnitID01 = uca.UitID01 
--            AND ac.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        COMMIT TRANSACTION;

--    END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;




















--CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
--    @DailyActivityEvidence01ID NVARCHAR(50)
--AS
--BEGIN
--    SET NOCOUNT ON;
    
--    -- بررسی وجود DailyActivityEvidence01ID با استفاده از EXISTS
--    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
--                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
--    BEGIN
--        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1);
--        RETURN;
--    END;
    
--    BEGIN TRY
--        BEGIN TRANSACTION;
        
--        -- حذف رکوردهای موجود در یک عملیات
--        DELETE FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- درج رکوردهای جدید با یک کوئری بهینه‌شده
--        INSERT INTO [dbo].[UnitCountAmar01_Tbl]
--            ([UnitCountAmar01ID],
--             [DailyActivityEvidence01ID],
--             [UitID01],
--             [DrjDailyPLookupSubId])
--        SELECT 
--            NEWID(),
--            @DailyActivityEvidence01ID,
--            u.UnitID01,
--            l.[TblLuLookupSubbId]
--        FROM 
--            (SELECT DISTINCT UnitID01 
--             FROM [dbo].[View_DailyPlanEvidence01] 
--             WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
--        CROSS JOIN 
--            [dbo].[TblLuLookupSub_Tbl] AS l;
        
--        -- به‌روزرسانی تمام مقادیر شمارشی در یک مرحله با استفاده از PIVOT
--        ;WITH CountData AS (
--            SELECT 
--                UnitID01,
--                DrjDailyPLookupSubId,
--                DUS_COD01,
--				StatAmar01,
--                COUNT(*) AS CountValue
--            FROM [dbo].[View_DailyPlanEvidence01]
--            WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--            AND DUS_COD01 IN ('91', '90901', '90902')
--            GROUP BY UnitID01, DrjDailyPLookupSubId, DUS_COD01,StatAmar01
--        ),
--        PivotedData AS (
--            SELECT
--                UnitID01,
--                DrjDailyPLookupSubId,
--                ISNULL([91], 0) + ISNULL([90901], 0) AS CountMojodi,
--                ISNULL([90902], 0) AS CountMamorBe,
--                ISNULL([90901], 0) AS CountMamorAz,
--                ISNULL([91], 0) + ISNULL([90902], 0) AS CountEdeKol
--                --,ISNULL([91], 0) + ISNULL([90902], 0) AS CountMorakhasi
--            FROM CountData
--            PIVOT (
--                SUM(CountValue)
--                FOR DUS_COD01 IN ([91], [90901], [90902])
--            ) AS PivotTable
--        )
--        UPDATE uca
--        SET 
--            uca.CountMojodi = pd.CountMojodi,
--            uca.CountMamorBe = pd.CountMamorBe,
--            uca.CountMamorAz = pd.CountMamorAz,
--            uca.CountEdeKol = pd.CountEdeKol
--        FROM [dbo].[UnitCountAmar01_Tbl] uca
--        INNER JOIN PivotedData pd ON 
--            pd.UnitID01 = uca.UitID01 
--            AND pd.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--        WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        

--			    ;WITH CountMorakhasi AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 581
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountMorakhasi = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountMorakhasi mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID





--				    ;WITH CountMamorDoor AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 582
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountMamorDoor = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountMamorDoor mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID



--				    ;WITH CountMamorNazdik AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 583
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountMamorNazdik = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountMamorNazdik mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID


	
--				    ;WITH CountEstarahatKari AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 585
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountEstarahatKari = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountEstarahatKari mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID


--				    ;WITH CountEstarahatNegahban AS (
--        SELECT 
--            UnitID01,
--            DrjDailyPLookupSubId,
--            COUNT(*) AS CountValue
--        FROM [dbo].[View_DailyPlanEvidence01]
--        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
--        AND DUS_COD01 IN ('91', '90902') AND StatAmar01 = 587
--        GROUP BY UnitID01, DrjDailyPLookupSubId
--    )
--    UPDATE uca
--    SET uca.CountEstarahatNegahban = ISNULL(mc.CountValue, 0)
--    FROM [dbo].[UnitCountAmar01_Tbl] uca
--    LEFT JOIN CountEstarahatNegahban mc ON 
--        mc.UnitID01 = uca.UitID01 
--        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
--    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID


--        COMMIT TRANSACTION;
        
--        -- بازگرداندن نتایج
--        -- 1. اطلاعات پایه
--        SELECT 
--            v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
--            v.persianWeekDate01 AS روزهفته,
--            v.strDateCategory01 AS نوعتاریخ,
--            v.TimwStartEnd01 AS بازه_زمانی,
--            v.strTimwStart01 AS زمان_شروع,
--            v.strTimwEnd01 AS زمان_پایان,
--            c.[Title] AS عنوان_واحد
--        FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
--        LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON 
--            c.[CategoryGeneralId] = v.[UnitID01]
--        WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID;
        
--        -- 2. تعداد رکوردهای ایجاد شده
--        SELECT COUNT(*) AS تعداد_رکوردهای_ایجاد_شده
--        FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID;
        
--        -- 3. نمونه داده‌های ایجاد شده
--        SELECT TOP 10
--            UitID01 AS کد_واحد,
--            DrjDailyPLookupSubId AS کد_رتبه,
--            CountMojodi AS تعداد_موجودی,
--            CountMamorBe AS تعداد_ماموربه,
--            CountMamorAz AS تعداد_ماموراز,
--            CountEdeKol AS تعداد_اداکل
--        FROM [dbo].[UnitCountAmar01_Tbl]
--        WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
--        ORDER BY UitID01, DrjDailyPLookupSubId;
        
--    END TRY
--    BEGIN CATCH
--        IF @@TRANCOUNT > 0
--            ROLLBACK TRANSACTION;
            
--        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
--        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
--        DECLARE @ErrorState INT = ERROR_STATE();
        
--        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
--    END CATCH;
--END;





























 /*

CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
    @DailyActivityEvidence01ID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- بررسی وجود DailyActivityEvidence01ID
    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
    BEGIN
        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1)
        RETURN
    END
    
    -- حذف رکوردهای موجود
    DELETE FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
    
    -- درج رکوردهای جدید (ترکیب UnitID01 و TblLuLookupSubbId)
    INSERT INTO [dbo].[UnitCountAmar01_Tbl]
        ([UnitCountAmar01ID],
         [DailyActivityEvidence01ID],
         [UitID01],
         [DrjDailyPLookupSubId])
    SELECT 
        NEWID(),
        @DailyActivityEvidence01ID,
        u.UnitID01,
        l.[TblLuLookupSubbId]
    FROM 
        (SELECT DISTINCT UnitID01 
         FROM [dbo].[View_DailyPlanEvidence01] 
         WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
    CROSS JOIN 
        [dbo].[TblLuLookupSub_Tbl] AS l
    
    -- به‌روزرسانی CountMojodi بر اساس UnitID01 و DrjDailyPLookupSubId
    ;WITH MojodiCounts AS (
        SELECT 
            UnitID01,
            DrjDailyPLookupSubId,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 IN ('91', '90901')
        GROUP BY UnitID01, DrjDailyPLookupSubId
    )
    UPDATE uca
    SET uca.CountMojodi = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN MojodiCounts mc ON 
        mc.UnitID01 = uca.UitID01 
        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    





	    ;WITH CountMamorBe AS (
        SELECT 
            UnitID01,
            DrjDailyPLookupSubId,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 IN ('90902')
        GROUP BY UnitID01, DrjDailyPLookupSubId
    )
    UPDATE uca
    SET uca.CountMamorBe = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN CountMamorBe mc ON 
        mc.UnitID01 = uca.UitID01 
        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    



	
	    ;WITH CountMamorAz AS (
        SELECT 
            UnitID01,
            DrjDailyPLookupSubId,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 IN ('90901')
        GROUP BY UnitID01, DrjDailyPLookupSubId
    )
    UPDATE uca
    SET uca.CountMamorAz = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN CountMamorAz mc ON 
        mc.UnitID01 = uca.UitID01 
        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    

	


	    ;WITH CountEdeKol AS (
        SELECT 
            UnitID01,
            DrjDailyPLookupSubId,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 IN ('91', '90902')
        GROUP BY UnitID01, DrjDailyPLookupSubId
    )
    UPDATE uca
    SET uca.CountEdeKol = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN CountEdeKol mc ON 
        mc.UnitID01 = uca.UitID01 
        AND mc.DrjDailyPLookupSubId = uca.DrjDailyPLookupSubId
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID








    -- بازگرداندن نتایج
    -- 1. اطلاعات پایه
    SELECT 
        v.[FromDateDailyActivityEvidence01Title] AS تاریخ,
        v.persianWeekDate01 AS روزهفته,
        v.strDateCategory01 AS نوعتاریخ,
        v.TimwStartEnd01 AS بازه_زمانی,
        v.strTimwStart01 AS زمان_شروع,
        v.strTimwEnd01 AS زمان_پایان,
        c.[Title] AS عنوان_واحد
    FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
    LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON 
        c.[CategoryGeneralId] = v.UnitID01
    WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
    
    -- 2. تعداد رکوردهای ایجاد شده
    SELECT COUNT(*) AS تعداد_رکوردهای_ایجاد_شده
    FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    
    -- 3. نمونه داده‌های ایجاد شده (اختیاری)
    SELECT TOP 10
        UitID01 AS کد_واحد,
        DrjDailyPLookupSubId AS کد_رتبه,
        CountMojodi AS تعداد_موجودی
    FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    ORDER BY UitID01, DrjDailyPLookupSubId
END


*/









/*
CREATE OR ALTER PROCEDURE [dbo].[CreateUnitCountAmar01_Tbl]
    @DailyActivityEvidence01ID NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- بررسی وجود DailyActivityEvidence01ID
    IF NOT EXISTS (SELECT 1 FROM [dbo].[View_DailyPlanEvidence01] 
                  WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID)
    BEGIN
        RAISERROR('DailyActivityEvidence01ID مورد نظر یافت نشد', 16, 1)
        RETURN
    END
    
    -- حذف رکوردهای موجود
    DELETE FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
    
    -- درج رکوردهای جدید
    INSERT INTO [dbo].[UnitCountAmar01_Tbl]
        ([UnitCountAmar01ID],
         [DailyActivityEvidence01ID],
         [UitID01],
         [DrjDailyPLookupSubId])
    SELECT 
        NEWID(),
        @DailyActivityEvidence01ID,
        u.UnitID01,
        l.[TblLuLookupSubbId]
    FROM 
        (SELECT DISTINCT UnitID01 
         FROM [dbo].[View_DailyPlanEvidence01] 
         WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID) AS u
    CROSS JOIN 
        [dbo].[TblLuLookupSub_Tbl] AS l
    
    -- به‌روزرسانی CountMojodi
    ;WITH MojodiCounts AS (
        SELECT 
            UnitID01,
            COUNT(*) AS CountValue
        FROM [dbo].[View_DailyPlanEvidence01]
        WHERE [DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
        AND DUS_COD01 in ('91', '90901')
        GROUP BY UnitID01
    )
    UPDATE uca
    SET uca.CountMojodi = ISNULL(mc.CountValue, 0)
    FROM [dbo].[UnitCountAmar01_Tbl] uca
    LEFT JOIN MojodiCounts mc ON mc.UnitID01 = uca.UitID01
    WHERE uca.DailyActivityEvidence01ID = @DailyActivityEvidence01ID
    
    -- بازگرداندن نتایج
    -- 1. اطلاعات پایه
    SELECT 
        v.[FromDateDailyActivityEvidence01Title],
        v.persianWeekDate01,
        v.strDateCategory01,
        v.TimwStartEnd01,
        v.strTimwStart01,
        v.strTimwEnd01,
        c.[Title] AS UnitTitle
    FROM [dbo].[View_DailyActivityEvidence01_Tbl02] v
    LEFT JOIN [dbo].[View_CategoriesGeneral_Tbl] c ON c.[CategoryGeneralId] = v.UnitID01 -- اصلاح شده
    WHERE v.[DailyActivityEvidence01ID] = @DailyActivityEvidence01ID
    
    -- 2. تعداد رکوردهای ایجاد شده
    SELECT COUNT(*) AS RecordCount
    FROM [dbo].[UnitCountAmar01_Tbl]
    WHERE DailyActivityEvidence01ID = @DailyActivityEvidence01ID
END
 

 */