USE [NewsDB]
GO
/****** Object:  StoredProcedure [dbo].[Update_PersonalCorrespondence01_TblFormDailyPlanEvidenceStatAmar01Summary]    Script Date: 6/17/2025 2:31:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
WITH EmployeeData AS (
    SELECT *
    FROM dbo.View_TblMaster
    WHERE MelliCode IN (
        SELECT MelliCode FROM [PersonalCorrespondence01_Tbl]
    )
),
DateCalculations AS (
    SELECT  
        pc.PersonalCorrespondence01ID,
        dbo.CalculateDaysDifference1(
            dbo.[ShamsiToMiladi](pc.DateDesAmar01),
            dbo.[ShamsiToMiladi](pc.DateDesAmar02)
        ) AS TotalDays,
        frc.CountDatelHoliday01,
        dbo.CalculateDaysDifference1(
            dbo.[ShamsiToMiladi](pc.DateDesAmar01),
            dbo.[ShamsiToMiladi](pc.DateDesAmar02)
        ) - frc.CountDatelHoliday01 AS CountVacatiaonWitoutHoliday
    FROM [dbo].[PersonalCorrespondence01_Tbl] pc
    CROSS APPLY dbo.GetFilteredRecordCount(pc.DateDesAmar01, pc.DateDesAmar02) frc
)
UPDATE pc
SET strTextContent01 = 
    CASE 
        WHEN pc.TypeLetter01 IN (632) AND ed.DrjLookupSubId NOT IN (7,8,10,12,13) THEN 
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            ISNULL(Cattypeltter01.CategoryDescription, ''),
                            'a1', N'نظامی'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, CASE WHEN pc.[DateDesAmar02] IS NULL THEN 0 ELSE dc.TotalDays END)),
                'a4', CONVERT(NVARCHAR, ISNULL(CONVERT(NVARCHAR, vdpe.strDesAmar01), '')))
                
        WHEN pc.TypeLetter01 IN (633) AND ed.DrjLookupSubId NOT IN (7,8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            REPLACE(
                                REPLACE(
                                    ISNULL(Cattypeltter01.CategoryDescription, ''), 
                                    'a1', N'نظامی'), 
                                'a2', CONVERT(NVARCHAR, ISNULL(pc.[DateDesAmar01], ''))), 
                            'a3', dc.TotalDays), 
                        'a4', CONVERT(NVARCHAR, ISNULL(vdpe.strDesAmar01, ''))), 
                    'a5', CONVERT(NVARCHAR, pc.[DateDesAmar02])), 
                'a6', CONVERT(NVARCHAR, dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) - 
                    (SELECT COUNT(TimwStartEnd01) FROM [NewsDB].[dbo].[View_DateProperty01_Tbl] 
                     WHERE (TimwStartEnd01 = 625 OR [strDateCategory01] LIKE N'%نوروز%') 
                       AND DateProperty01ID >= pc.[DateDesAmar01] AND DateProperty01ID < pc.[DateDesAmar02])))
                       
        WHEN pc.TypeLetter01 IN (634) THEN 
            REPLACE(
                REPLACE(
                    Cattypeltter01.CategoryDescription, 
                    'a1', N'نظامی'), 
                'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01]))
                
        WHEN pc.TypeLetter01 IN (635) AND ed.DrjLookupSubId NOT IN (7,8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            Cattypeltter01.CategoryDescription,
                            'a1', N'نظامی'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, pc.[DateDesAmar02])),
                'a4', dc.TotalDays)
                
        WHEN pc.TypeLetter01 IN (632) AND ed.DrjLookupSubId IN (8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            ISNULL(Cattypeltter01.CategoryDescription, ''), 
                            'a1', N'وظیفه'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, CASE WHEN pc.[DateDesAmar02] IS NULL THEN 0 ELSE dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) END)),
                'a4', CONVERT(NVARCHAR, ISNULL(CONVERT(NVARCHAR, vdpe.strDesAmar01), '')))
                
        WHEN pc.TypeLetter01 IN (633) AND ed.DrjLookupSubId IN (8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            REPLACE(
                                REPLACE(
                                    ISNULL(Cattypeltter01.CategoryDescription, ''), 
                                    'a1', N'وظیفه'), 
                                'a2', CONVERT(NVARCHAR, ISNULL(pc.[DateDesAmar01], ''))), 
                            'a3', dc.TotalDays), 
                        'a4', CONVERT(NVARCHAR, ISNULL(vdpe.strDesAmar01, ''))), 
                    'a5', CONVERT(NVARCHAR, pc.[DateDesAmar02])), 
                'a6', CONVERT(NVARCHAR, dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) - 
                    (SELECT COUNT(TimwStartEnd01) FROM [NewsDB].[dbo].[View_DateProperty01_Tbl] 
                     WHERE (TimwStartEnd01 = 625 OR [strDateCategory01] LIKE N'%نوروز%') 
                       AND DateProperty01ID >= pc.[DateDesAmar01] AND DateProperty01ID < pc.[DateDesAmar02])))
                       
        WHEN pc.TypeLetter01 IN (634) THEN 
            REPLACE(
                REPLACE(
                    Cattypeltter01.CategoryDescription, 
                    'a1', N'وظیفه'), 
                'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01]))
                
        WHEN pc.TypeLetter01 IN (635) AND ed.DrjLookupSubId IN (8,10,12,13) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            Cattypeltter01.CategoryDescription,
                            'a1', N'وظیفه'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, pc.[DateDesAmar02])),
                'a4', dc.TotalDays)
                
        WHEN pc.TypeLetter01 IN (632) AND ed.DrjLookupSubId IN (7) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            ISNULL(Cattypeltter01.CategoryDescription, ''), 
                            'a1', N'کارمند'), 
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, CASE WHEN pc.[DateDesAmar02] IS NULL THEN 0 ELSE dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) END)),
                'a4', CONVERT(NVARCHAR, ISNULL(CONVERT(NVARCHAR, vdpe.strDesAmar01), '')))
                
        WHEN pc.TypeLetter01 IN (633) AND ed.DrjLookupSubId IN (7) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            REPLACE(
                                REPLACE(
                                    ISNULL(Cattypeltter01.CategoryDescription, ''), 
                                    'a1', N'کارمند'), 
                                'a2', CONVERT(NVARCHAR, ISNULL(pc.[DateDesAmar01], ''))), 
                            'a3', dc.TotalDays), 
                        'a4', CONVERT(NVARCHAR, ISNULL(vdpe.strDesAmar01, ''))), 
                    'a5', CONVERT(NVARCHAR, pc.[DateDesAmar02])), 
                'a6', CONVERT(NVARCHAR, dbo.CalculateDaysDifference1(dbo.[ShamsiToMiladi](pc.[DateDesAmar01]), dbo.[ShamsiToMiladi](pc.[DateDesAmar02])) - 
                    (SELECT COUNT(TimwStartEnd01) FROM [NewsDB].[dbo].[View_DateProperty01_Tbl] 
                     WHERE (TimwStartEnd01 = 625 OR [strDateCategory01] LIKE N'%نوروز%') 
                       AND DateProperty01ID >= pc.[DateDesAmar01] AND DateProperty01ID < pc.[DateDesAmar02])))
                       
        WHEN pc.TypeLetter01 IN (634) THEN 
            REPLACE(
                REPLACE(
                    Cattypeltter01.CategoryDescription, 
                    'a1', N'کارمند'), 
                'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01]))
                
        WHEN pc.TypeLetter01 IN (635) AND ed.DrjLookupSubId IN (7) THEN
            REPLACE(
                REPLACE(
                    REPLACE(
                        REPLACE(
                            Cattypeltter01.CategoryDescription,
                            'a1', N'کارمند'),
                        'a2', CONVERT(NVARCHAR, pc.[DateDesAmar01])),
                    'a3', CONVERT(NVARCHAR, pc.[DateDesAmar02])),
                'a4', dc.TotalDays)

        ELSE null -- اگر هیچ شرطی برقرار نبود مقدار قبلی حفظ شود
    END
FROM [NewsDB].[dbo].[View_PersonalCorrespondence03_Tbl] pc
--LEFT JOIN Cattypeltter01 ON pc.TypeLetter01 = Cattypeltter01.TypeLetterID01
--LEFT JOIN vdpe ON pc.DailyPlanEvidence01ID = vdpe.DailyPlanEvidence01ID
--LEFT JOIN dc ON pc.PersonalCorrespondence01ID = dc.PersonalCorrespondence01ID -- فرضی
--LEFT JOIN ed ON pc.PersonalCorrespondence01ID = ed.PersonalCorrespondence01ID -- فرضی
-- اگر جداول و شرط‌های دیگر دارید، اینجا اضافه کنید
--WHERE -- شرط مورد نظر برای فیلتر کردن رکوردها (در صورت نیاز)
--;
INNER JOIN DateCalculations dc ON pc.PersonalCorrespondence01ID = dc.PersonalCorrespondence01ID

INNER JOIN EmployeeData ed ON ed.MelliCode = pc.MelliCode
LEFT JOIN dbo.View_DailyPlanEvidence01 vdpe ON vdpe.DailyPlanEvidence01ID = pc.DailyPlanEvidence01ID
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatStatAmar01 ON CatStatAmar01.CategoryGeneralId = pc.StatAmar01
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatLastStatAmar01 ON CatLastStatAmar01.CategoryGeneralId = pc.LastStatAmar01
LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatUnitID01 ON CatUnitID01.CategoryGeneralId = pc.UnitID01
LEFT JOIN dbo.CategoriesGeneral_Tbl CatTimwStartEnd01 ON pc.TimwStartEnd01 = CatTimwStartEnd01.CategoryGeneralId
LEFT JOIN dbo.View_CategoriesGeneral_Tbl Cattypeltter01 ON Cattypeltter01.CategoryGeneralId = pc.TypeLetter01
