<!-- Footer.razor -->
<footer class="footer-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>تماس بگیرید</h3>

                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank">هوانیروز ارتش جمهوری اسلامی ایران</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="#">09151216302</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>پشتیبانی</h3>

                    <ul class="support-link">
                        <li><a href="#">حریم خصوصی</a></li>
                        <li><a href="#">سوالات متداول</a></li>
                        <li><a href="#">پشتیبانی</a></li>
                        <li><a href="#">قوانین</a></li>
                        <li><a href="#">شرایط و ضوابط</a></li>
                        <li><a href="#">مقررات</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <!-- می‌توانید لینک‌های اضافی یا شبکه‌های اجتماعی اضافه کنید -->
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <!-- تبلیغ یا لوگوی اضافی -->
            </div>

        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container text-center">
            <div class="logo mb-2">
                <a href="/" class="d-inline-block">
                    <img src="/ThemeSite/assets/img/logo.png" alt="logo">
                </a>
            </div>
            <p>
                سامانه شریف <i class='bx bx-copyright'></i> استفاده از مطالب سایت تنها با ذکر منبع مجاز است.
            </p>
        </div>
    </div>
</footer>