/* نوار تبلیغات چسبیده به پایین سایت */
.advertise-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  padding: 10px 0;
  color: white;
  text-align: center;
  overflow: hidden;
  z-index: 9999;
}

/* کانتینر برای تبلیغات */
.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: flex-start; /* متن از چپ شروع شود */
  direction: ltr; /* حرکت متن از چپ  rtl به  ltr راست */
}

/* محتوای تبلیغاتی که باید حرکت کند */
.marquee-content {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  padding-right: 0; /* فاصله ثابت از سمت راست */
}

/* تبلیغات متن */
.marquee-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0 15px;
  padding-left: 20px;
  display: inline-block;
}

/* انیمیشن حرکت تبلیغات از چپ به راست */
@keyframes marquee-scroll {
  from {
    transform: translateX(-100%);
  } /* شروع از سمت راست */
  to {
    transform: translateX(100%);
  } /* حرکت به سمت چپ */
}
