

	--EXEC [dbo].[Update_HistoryRokn04FAVADastoor01_DocumentNO01] null;
		--EXEC [dbo].[Update_HistoryRokn04FAVADastoor01_DocumentNO01] '379f4163-c9d2-430a-a70c-8af16a4a6aa2';

		--EXEC [dbo].[Update_HistoryRokn04FAVADastoor01_DocumentNO01] ;

	--EXEC [dbo].[Update_HistoryRokn04FAVADastoor01_TblFormDailyPlanEvidenceStatAmar01Summary];

	  --update [dbo].[DailyPlanEvidence01_Tbl] set [HistoryRokn04FAVADastoor01ID]=null

 --delete FROM  [dbo].[HistoryRokn04FAVADastoor01_Tbl]  where [TypeLetter01] in( '632','633')
 -- delete FROM  [dbo].[HistoryRokn04FAVADastoor01_Tbl]  where [TypeLetter01] in( '634','635')

 

--نهست
--588
--مرخصی
--581
--حاضر
--594
--CategoryGeneralId	Title
--632	نامه اعزام به مرخصی
--633	نامه حضور از مرخصی
--634	نامه نهست
--635	نامه حضور از نهست


CREATE OR ALTER PROCEDURE [dbo].[Update_HistoryRokn04FAVADastoor01_DocumentNO01]
    @HistoryRokn04FAVADastoor01ID NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH EmployeeData AS (
        SELECT *
        FROM dbo.View_TblMaster
        WHERE MelliCode IN (
            SELECT MelliCode FROM [HistoryRokn04FAVADastoor01_Tbl]
        )
    ) 
    UPDATE pc
    SET strTextContent01 = 
        CASE 
            WHEN pc.TypeLetter01 NOT IN (635,633,634,635) AND ed.DrjLookupSubId NOT IN (7,8,10,12,13) THEN
 REPLACE(
    REPLACE(
        REPLACE(
            REPLACE(
                REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                        REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'نظامی'),
                        'd1', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext01), '')
                    ),
                    'd2', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext02), '')
                ),
                'd3', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext03), '')
            ),
            'd4', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext04), '')
        ),
        'd5', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext05), '')
    ),
    'd6', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext06), '')
    ),
    'd7', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext07), '')
    ),
    'd8', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext08), '')
    ),
    'd9', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext09), '')
    ),
    'd10', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext10), '')
    ),
    'd11', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext11), '')
    ),
    'd12', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext12), '')
    ),
    'd13', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext13), '')
    ),
    'd14', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext14), '')
    ),
    'd15', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext15), '')
    ),
    'd16', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext16), '')
    ),
    'd17', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext17), '')
    ),
    'd18', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext18), '')
    ),
    'd19', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext19), '')
    ),
    'd20', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext20), '')
)

            
            WHEN pc.TypeLetter01 NOT IN (635,633,634,635) AND ed.DrjLookupSubId IN (8,10,12,13) THEN
 REPLACE(
    REPLACE(
        REPLACE(
            REPLACE(
                REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                        REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'وظیفه'),
                        'd1', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext01), '')
                    ),
                    'd2', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext02), '')
                ),
                'd3', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext03), '')
            ),
            'd4', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext04), '')
        ),
        'd5', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext05), '')
    ),
    'd6', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext06), '')
    ),
    'd7', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext07), '')
    ),
    'd8', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext08), '')
    ),
    'd9', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext09), '')
    ),
    'd10', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext10), '')
    ),
    'd11', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext11), '')
    ),
    'd12', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext12), '')
    ),
    'd13', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext13), '')
    ),
    'd14', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext14), '')
    ),
    'd15', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext15), '')
    ),
    'd16', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext16), '')
    ),
    'd17', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext17), '')
    ),
    'd18', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext18), '')
    ),
    'd19', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext19), '')
    ),
    'd20', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext20), '')
)

            
            WHEN pc.TypeLetter01 NOT IN (635,633,634,635) AND ed.DrjLookupSubId IN (7) THEN
 REPLACE(
    REPLACE(
        REPLACE(
            REPLACE(
                REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                    REPLACE(
                        REPLACE(Cattypeltter01.CategoryDescription, 'a1', N'کارمند'),
                        'd1', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext01), '')
                    ),
                    'd2', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext02), '')
                ),
                'd3', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext03), '')
            ),
            'd4', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext04), '')
        ),
        'd5', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext05), '')
    ),
    'd6', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext06), '')
    ),
    'd7', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext07), '')
    ),
    'd8', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext08), '')
    ),
    'd9', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext09), '')
    ),
    'd10', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext10), '')
    ),
    'd11', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext11), '')
    ),
    'd12', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext12), '')
    ),
    'd13', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext13), '')
    ),
    'd14', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext14), '')
    ),
    'd15', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext15), '')
    ),
    'd16', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext16), '')
    ),
    'd17', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext17), '')
    ),
    'd18', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext18), '')
    ),
    'd19', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext19), '')
    ),
    'd20', ISNULL(CONVERT(NVARCHAR(max), pc.Vartext20), '')
)

            
            ELSE pc.strTextContent01 -- Preserve original value if no conditions match
        END
    FROM [NewsDB].[dbo].[View_HistoryRokn04FAVADastoor03_Tbl] pc
    INNER JOIN EmployeeData ed ON ed.MelliCode = pc.MelliCode
    LEFT JOIN dbo.View_CategoriesGeneral_Tbl CatUnitID01 ON CatUnitID01.CategoryGeneralId = pc.UnitID01
    LEFT JOIN dbo.View_CategoriesGeneral_Tbl Cattypeltter01 ON Cattypeltter01.CategoryGeneralId = pc.TypeLetter01
    WHERE (@HistoryRokn04FAVADastoor01ID IS NULL OR pc.HistoryRokn04FAVADastoor01ID LIKE @HistoryRokn04FAVADastoor01ID)
END